[2022-04-12 17:14] ElizabethSamuel-MSFT commented on #1202
Thanks for clarifying. I was thinking that perhaps you wanted to create a section in the document then try to set that section's header/footer. I'll dig around a bit more and get back to you.

Also, if any of these features don't currently exist, you may want to request them on our [Ideas site](https://techcommunity.microsoft.com/t5/microsoft-365-developer-platform/idb-p/Microsoft365DeveloperPlatf

[2022-04-12 17:50] ElizabethSamuel-MSFT commented on #1199
Based on our discussion in https://github.com/OfficeDev/office-js-docs-reference/issues/1202, you were able to create new sections using insertBreak.

We'll add an item to the backlog to see if we can include an example to Section and/or SectionCollection that shows this.

[2022-04-12 20:21] ElizabethSamuel-MSFT commented on #1202
One other thing. Have you tried something like the following, that skips the getRange step?

`context.document.sections.getFirst().getHeader(headerFooterType).insertOoxml(headerOoxml.value, 'Replace');`

[2022-04-12 21:07] lelsteph commented on #1199
NO I do not think I was able to create sections, I was able to insert breaks in the body of the main document.
Stephane.

[2022-04-13 17:39] lelsteph commented on #1199
Yes sorry, was too late yesterday. Let me recheck, I guess this is right. Give me some time to double confirm.
Thanks

[2022-04-14 06:06] lelsteph commented on #1199
Hello, Yes sections can be created by inserting a section break. This is working thank you!

[2022-04-14 06:06] #1199 closed

[2022-04-14 06:13] lelsteph commented on #1202
This is what I tried and is not working to copy the headers and footers
[code]
Steph

[2022-04-14 06:16] lelsteph opened #1213 "How to access a DocCreated?"
Hello

How can we use those functions like getFileAsync on a DocCreated ?
This is really what is needed to be able to load an existing file, modify it and then save it.
OR we need the SaveAs function for DocCreated.

Stephane.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a80b0c0b-0647-036d-9193-4be6c67edf21
* Version

[2022-04-18 04:00] #1213 closed

[2022-04-18 22:21] ElizabethSamuel-MSFT commented on #1200
My understanding here is that reportDoc would open in a new Word instance (window or tab) and the user would need to interact with it there and no longer in the original Word instance.

[2022-04-18 22:26] ElizabethSamuel-MSFT commented on #1202
Have you tried excluding getRange? For example, instead of:

`sourceHeaderOoxml = reportDoc.sections.items[sectionIndex].getHeader(Word.HeaderFooterType.firstPage).getRange('Content').getOoxml();`

have you tried:

`sourceHeaderOoxml = reportDoc.sections.items[sectionIndex].getHeader(Word.HeaderFooterType.firstPage).getOoxml();`

Thanks.

[2022-04-19 11:44] lelsteph commented on #1200
Yes this is apparently what happens, would be good to keep a reference to it... What can we do with a DocCreated? How can we save it? etc... I can create the document which is good but I cannot go to the end of all what I need to do and this leave some manual work to the user which customers do not want!

[2022-04-19 11:50] lelsteph commented on #1202
But see the comments:
" //Must use Content to get exception" -> getRange needed
How do I detect headers and footers and then re-created them in the destination?

Stephane.

[2022-04-19 16:26] ElizabethSamuel-MSFT commented on #1202
To this point you made earlier, I believe it's also true in this case that an exception is not expected. For example, I was able to set all the header types and none of them threw an exception. What I did notice, however, was that I needed to check/uncheck the appropriate header/footer settings in the UI in order to see the respective versions.

As FYI, I played around with the ["Insert a header a

[2022-04-19 16:31] ElizabethSamuel-MSFT commented on #1202
Since reportDoc is a template, would it be a viable scenario to open it in a new window then have the user pull their data into that instance? Then you shouldn't need to copy headers and such.

[2022-04-20 18:26] lelsteph commented on #1202
Hello
What you are asking is too much for my customer, this is a very finished tool, the user must have nothing to do. What you are asking means define a procedure, train everyone and get complains because they don't do it the right way.
Customer should be put first, no Trade Off!
Thank you

[2022-04-22 22:38] ElizabethSamuel-MSFT commented on #1202
Thanks for your response and absolutely agree we should all provide the best experience possible to our customers!

[2022-04-25 13:44] timothyhoffmann opened #1222 "Outlook add-in for event-based activation - Cancel event"
Please add an Outlook function OnAppointmentCancel for Calendar events so it's possible to rollback any needed actions after the Add-In has done processing but the user clicks the Close/Cancel button to delete the Calendar event.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 26e021a8-709c-518e-1e44-7883343841a8
* Versi

[2022-04-25 15:52] AlexJerabek commented on #1222
Hi @timothyhoffmann,

Thank you for this feature request. I'm going to transfer this issue out of the documentation repo and into the product repo, where it will be viewed by members of the Outlook crew.

[2022-04-27 06:42] bismeidyfabian opened #1225 "bismeidy"
****
**
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c5d7decb-4a13-03c2-1dd9-ea701f3b46ae
* Version Independent ID: dc2bd021-02d8-0a9a-9951-e38460eea242
* Content: [Excel.Interfaces.LinkedWorkbookLoadOptions interface - Office Add-ins](https://docs.microsoft.com/en-us/javascript/api/excel/excel.

[2022-04-27 19:30] AlexJerabek commented on #1225
Hi @bismeidyfabian,

I'm unclear what this issue is about, since there is no description. I'm going to assume this was created by accident and close it. If you have a concern with the LinkedWorkbook APIs, please leave a comment on this thread and we'llreopen it.

[2022-04-27 19:30] #1225 closed

[2022-05-05 17:25] jesparaz-vena opened #1229 "`DebugInfo.statements` (plural) should be `DebugInfo.statement` (singular)"
The [`statements` property](https://docs.microsoft.com/en-us/javascript/api/office/officeextension.debuginfo?view=excel-js-preview#office-officeextension-debuginfo-statements-member) on the `DebugInfo` interface should be `statement?: string` (singular) not `statements?: string` (plural).

Example exception created in Script Lab:

[code]

![image](https://user-images.githubusercontent.com/92549265

[2022-05-05 17:41] AlexJerabek commented on #1229
Thanks for reporting this @jesparaz-vena. I'll make the update in the type definitions and that'll refresh these docs as well.

[2022-05-05 18:02] AlexJerabek commented on #1229
Actually, @jesparaz-vena, changing the name of that property would be a breaking change. Let me confirm with the product team the intention and make sure the type definitions are inaccurate (not just the grammar).

[2022-05-05 20:14] jesparaz-vena commented on #1229
@AlexJerabek thanks for the quick responses 😄

I don't think this is breaking change since the actually property is `statement`.

My team has code that looks like this:

[code]

We need to `@ts-ignore` because it's actually `statement`, but the type definitions think it's `statements`.

[2022-05-05 20:40] AlexJerabek commented on #1229
Ah, understood. Thank you for clarifying and providing that sample.

[2022-05-05 20:47] AlexJerabek commented on #1229
@jesparaz-vena,

Here is the upstream PR: https://github.com/DefinitelyTyped/DefinitelyTyped/pull/60215

I also verified in my own Script Lab snippet that `statement` is indeed correct. Thank you for catching this.

[2022-05-05 23:43] #1229 closed

[2022-05-06 07:46] theboyknowsclass opened #1232 "Feature Request - Add Image Shape (png / svg) for PPT API"
Hi,

I can see there are specific Add... methods to add different types of shapes... can methods also be added for images SVG / PNG?

I can add these via the Common API but they are quite limited - esp in terms of tracking the shape that was just created and modifying it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2022-05-06 15:43] AlexJerabek commented on #1232
Hi @theboyknowsclass,

Thanks for raising this feature request. I'm going to transfer this issue to the office-js repo, where it'll be seen by the feature crew.

[2022-05-12 03:20] nlt2390 opened #1238 "Word content control title is limited to 64 characters"
I want to add a long title to content control but Word only shows first 64 characters and the rest is cut off.
Is there a way to display full text ?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18b63cfd-c1ea-baed-f96f-b14664b384c5
* Version Independent ID: 52aaa0e2-be99-c2e7-3042-fb652420613e
* Content: [Word.ContentC

[2022-05-12 23:17] AlexJerabek commented on #1238
Hi @nlt2390,

Thanks for sharing this. I don't believe this is possible today, but let me tag @ElizabethSamuel-MSFT to confirm. Would it be possible for you to provide a simple Script Lab snippet that recreates this behavior?

[2022-05-13 02:26] nlt2390 commented on #1238
@AlexJerabek  @ElizabethSamuel-MSFT hi this my code snippet
`
async function run() {
  await Word.run(async (context) => {
    const body = context.document.body;
    const selection = context.document.getSelection();
    const range = selection.getRange(Word.RangeLocation.content);

    const control = range.insertContentControl();
    control.title = "Long title 123456789 10 11 12 13 14 15 16 17

[2022-05-13 22:06] ElizabethSamuel-MSFT commented on #1238
@nlt2390 Thanks for asking about this and sharing the snippet.

It seems like this is by design of the Word UI. Even if you manually set the title property on the content control, only the first 64 characters are displayed. The API cannot override the UI limit.

Thanks and let us know if you have any further questions.

[2022-05-13 22:06] #1238 closed

[2022-05-14 01:17] nlt2390 commented on #1238
@ElizabethSamuel-MSFT  hi, is there another way to show a description for content control ? maybe sth like text hover ?

[2022-05-16 16:11] ElizabethSamuel-MSFT commented on #1238
@nlt2390 Unfortunately, it doesn't seem like hovering is an option. However, you can get the full title using the API so perhaps you can have the user select a button in your task pane to display the full title in the task pane, for example.

[2022-05-20 12:40] theboyknowsclass opened #1251 "Office.context.document.goToByIdAsync(slideId, Office.GoToType.Slide) does not seem to work in powerpoint for windows anymore"
afaik this used to work fine previously, but now doesn't work  - still works online as expected

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3546c27-2579-903a-2fb1-9ee4b562aac4
* Version Independent ID: 34de80a7-eb7d-08ff-9a6d-77e01f907ebc
* Content: [Office Common API requirement sets - Offic

[2022-05-21 00:19] Rick-Kirkham opened #1255 "Missing "Attributes" section"
This article is missing the **Attributes** section. It should list the possible values of the type attribute and the meaning of each of them. E.g., ItemRead, ItemWrite.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 19f6f5a0-8d4d-c737-a721-7196a58d46cc
* Version Independent ID: 378f70f6-11c5-830f-c8fd-df0018a15d85
* Co

[2022-05-25 05:49] LiuXiao617111 commented on #812
Hi Team, Any progress about this document. this function is very useful but the document is very deficient.
Why Range.numberFormatCategories is read-only?

[2022-05-25 18:14] samantharamon commented on #1255
Thank you for catching this, @Rick-Kirkham. I'm adding this to my June backlog.

[2022-06-01 14:07] glr0221 opened #1266 "What is the account type for Hybrid Exchange Servers?"
In your document, there is a list of account values and a description for each.
Just to confirm, Hybrid Exchange Servers are classified as 'office365'?
Thank you.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4058c33c-f16c-fcad-1c4c-38efe69a06a5
* Version Independent ID: 39937c7a-37f8-32a3-6db5-bf7c6d5c0c00
* Content:

[2022-06-01 15:31] glr0221 opened #1267 "Is it possible to detect On-Premise and non-On-Premise accounts using their supported mailbox API version?"
Can we determinne if a system supports REST/GRAPH using the mailbox version supported by the environment? Is the following equation/algorithm correct ?

If system/environment supports Mailbox 1.6, then this is either M365 or an Exchange Online account.
If system/environment supports Mailbox 1.5 and not Mailbox 1.6, then this is an On-Premise account.

Is the above algorithm usable to determine if

[2022-06-02 23:50] samantharamon commented on #1266
Hi @glr0221,

Thank you for your post. The accountType property value returned for user mailboxes in a hybrid Exchange environment will depend on where the mailbox is. If the mailbox is on the on-prem server, the accountType value returned is 'enterprise'. On the other hand, if the mailbox is on Exchange Online, the accountType value returned is 'office365'.

[2022-06-03 00:49] glr0221 commented on #1266
Thank you @samantharamon

As a follow up, do hybrid exchange servers having their mailbox on-prem support the REST-ful APIs? Or just Exchange Web Services   (EWS) API?

I was intending to use the 'accountType'  as criterion to determine whether an environment supports REST/GRAPH. If accountType is 'enterprise' then I would just force my app to use Exchange.  Or is this a flawed logic?

Thanks.

[2022-06-03 02:16] NicomacheanEudaimonia opened #1272 "Can't access document model using Word API context"
Hi! First, thanks for the great and very helpful documentation and samples! Second, I'm using the Word AddIn with the Word API to access a Word document. I've had some difficulty using the following which comes from [here](https://docs.microsoft.com/en-us/javascript/api/word/word.body?view=word-js-preview#word-word-body-gethtml-member%281%29) and [here](https://docs.microsoft.com/en-us/javascript/

[2022-06-03 02:28] NicomacheanEudaimonia opened #1273 "Result.value in getFileAsync examples"
Hi! First, Thanks for the great and very helpful documentation! Second, I had a question about the following example below [here](https://docs.microsoft.com/en-us/javascript/api/office/office.document?view=word-js-preview#office-office-document-getfileasync-member(1)) about 1/3 of the way down the page:

[code]

I checked several times and was unable to access the _**slices**_ without obtaining so

[2022-06-03 16:16] AlexJerabek commented on #1272
Hi @NicomacheanEudaimonia,

Have you tried exploring the Word JS object model through [Script Lab](https://docs.microsoft.com/en-us/office/dev/add-ins/overview/explore-with-script-lab)? It's a great way to see the JavaScript code interacting with the Word document. We also have a ["Hello World"](https://github.com/OfficeDev/Office-Add-in-samples/tree/main/Samples/hello-world/word-hello-world) styl

[2022-06-03 16:43] NicomacheanEudaimonia commented on #1272
Hi @AlexJerabek - Thanks for the helpful resources! I am indeed using the great "Hello World" Add-in example as the basis of my testing. No problems there.

I am looking through the Script Lab now - I see the `selection()` being called (something that's omitted in the API reference docs). Let me see if that does the trick!

[2022-06-03 17:26] AlexJerabek commented on #1272
Glad to hear! Let me tag @ElizabethSamuel-MSFT to investigate that reference gap.

[2022-06-03 17:39] NicomacheanEudaimonia commented on #1272
Thanks! I've explored the https://github.com/OfficeDev/office-js-snippets/blob/main/samples/word/01-basics/basic-api-call.yaml#L13 example a bit more:

1. Copying over the code:

![1](https://user-images.githubusercontent.com/106126054/171916249-be1dfd25-59e3-4553-a93a-fe466fab72d7.PNG)

2. Without the `Office.onReady(info => {})` I now get within Word (within the Word Add-in panel):

![2](https:/

[2022-06-03 18:29] samantharamon commented on #1266
Because the ability to use REST APIs in hybrid deployments will no longer be supported in March 2023 (see [Use REST APIs to access mailboxes in Exchange hybrid deployments (deprecated)](https://docs.microsoft.com/en-us/graph/hybrid-rest-support)), it is recommended to use Microsoft Graph to work with mailboxes that live on Exchange Online and use EWS for those that are on an on-prem server. With t

[2022-06-03 19:06] samantharamon commented on #1267
Hi @glr0221,

Thank you for your question. I believe this is related to our recent discussion in #1266. Because the requirement sets you listed above refer to the JS APIs and are different from the Graph API, I would suggest going with your plan to use the accountType property to determine whether the mailbox is hosted on an on-prem server or on Exchange Online.

If your question is related to the

[2022-06-03 20:21] ElizabethSamuel-MSFT commented on #1273
@NicomacheanEudaimonia Thanks for the kudos and your question. Can you include as many relevant details about your environment to help us triage your issue?

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: ______
* Host [Excel, Word, PowerPoint, etc.]: ______
* Office version number: ______
* Operating System: ______
* Browser (if using Office on the web): ______

Thanks

[2022-06-03 20:41] NicomacheanEudaimonia commented on #1273
Hi @ElizabethSamuel-MSFT:

- Platform [PC desktop, Mac, iOS, Office on the web]: PC desktop accessing MS Word in the browser
- Host [Excel, Word, PowerPoint, etc.]: Word
- Office version number: 16.0.15331.41004
- Operating System: Windows 10
- Browser (if using Office on the web): Edge Version 102.0.1245.30 (Official build) (64-bit)

Thanks so much!

(PS - I also tried the above on Brave / Chrome

[2022-06-03 20:59] jakobpn opened #1275 "Deleting reference to @types/office-js"
You might want to mention in the notes at the top about the preview type definitions that @types/office-js should be deleted from the project.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: abccd371-41d5-ed8c-4105-a68a0ca597a0
* Version Independent ID: bd57dd63-9db7-c5a3-a583-bd9aa9273ae9
* Content: [Excel JavaScript p

[2022-06-03 21:01] ElizabethSamuel-MSFT commented on #1273
@NicomacheanEudaimonia Thanks for this information.

The documentation seems to be correct. The type of result.value is [Office.File](https://docs.microsoft.com/javascript/api/office/office.file) which is noted in the description of the `callback` parameter. The File object provides the members you're using like size, sliceCount, and getSliceAsync.

You can certainly use your approach of using a f

[2022-06-03 21:01] #1273 closed

[2022-06-03 21:47] NicomacheanEudaimonia commented on #1273
Thanks, I appreciate the clarification. You are indeed correct: https://docs.microsoft.com/en-us/javascript/api/office/office.file?view=common-js-preview - I was confusing the `var documentFileData = [];` with the `result.value` fype.  The actual file data is sent in the JSON representation a bit later in the code too: (also named `result.value`).

However, I don't think there's a faster way to ac

[2022-06-03 21:55] ElizabethSamuel-MSFT commented on #1272
@NicomacheanEudaimonia Thanks for the kudos about the documentation and for your questions.

Depending on the feature, the user may need to take some action. For example, to access info about a selection, the user needs to select text in the document then the selection API will have access to that block of text.

You can work with the objects in the document such as body or paragraphs. For example

[2022-06-03 22:10] ElizabethSamuel-MSFT commented on #1272
@NicomacheanEudaimonia Also, here is an [overview of the Word object model](https://docs.microsoft.com/office/dev/add-ins/word/word-add-ins-core-concepts). Hope it's helpful.

[2022-06-04 00:38] NicomacheanEudaimonia commented on #1272
@ElizabethSamuel-MSFT - Aha! Thanks for your great help!

Confirming that previous example far above (https://github.com/OfficeDev/office-js-snippets/blob/main/samples/word/01-basics/basic-api-call.yaml#L13) is incorrect although I am now able to access the underlying text by combining it and your answer immediately above.

To be a bit more clear I was having difficulty combining the "Hello World"

[2022-06-04 00:38] #1272 closed

[2022-06-06 12:32] glr0221 commented on #1267
Hello @samantharamon

Thank you for your responses.  Yes this is related to the other question I have in #1266. We can close this one.

Thank you.

[2022-06-06 12:42] glr0221 commented on #1266
Thank you for the answers @samantharamon.
They are very much appreciated.

First, I understand the part that the logic will work once REST is deprecated on March 2023.
However, as of this time, where REST works with hybrid, what is the best way to determine if the environment FULLY supports REST?  Is checking for Mailbox 1.6 support good enough?

Thanks.

[2022-06-06 17:05] samantharamon commented on #1267
Thanks, @glr0221.

[2022-06-06 17:05] #1267 closed

[2022-06-06 23:22] samantharamon commented on #1266
No worries at all, @glr0221. I'm clarifying your follow-up questions with our feature crew and will let you know once I hear back.

[2022-06-10 18:36] alison-mk commented on #1154
Hi @felipemalbergier,

Two new APIs have been released as part of ExcelApi 1.15:

- [Excel.Chart.ChartSeries.GetDimensionDataSourceString](https://docs.microsoft.com/javascript/api/excel/excel.chartseries?view=excel-js-preview#excel-excel-chartseries-getdimensiondatasourcestring-member(2))
- [Excel.Chart.ChartSeries.GetDimensionDataSourceType](https://docs.microsoft.com/javascript/api/excel/excel.

[2022-06-10 18:36] #1154 closed

[2022-06-10 18:44] alison-mk commented on #805
Closing issue as this request has been tracked in an internal backlog. Fix will be available to public soon.

[2022-06-10 18:44] #805 closed

[2022-06-10 21:35] #1275 closed

[2022-06-10 22:07] ElizabethSamuel-MSFT commented on #1202
I've added a task to the backlog to expand the header/footer example to show how to use the other non-Primary options.

@lelsteph Do you have any further questions about this? Otherwise, we'll close the issue.

Thanks.

[2022-06-10 23:31] samantharamon commented on #1266
Hi @glr0221,

I've updated our documentation on account type values for hybrid Exchange environments in [PR #60764](https://github.com/DefinitelyTyped/DefinitelyTyped/pull/60764). I'm still working with the team on getting answers to your queries.

[2022-06-11 09:39] felipemalbergier commented on #1154
Wow Alisson, amazing!

Thank you very much for the info. That's very nice of you to remember.

If you may ask did you use any platform to help you track my requests and
to let me know when to notify me?

On Fri, 10 Jun 2022 at 21:37, Alison McKay ***@***.***> wrote:

[2022-06-12 11:02] lelsteph commented on #1202
Not sure I get your proposal.

[2022-06-13 18:14] #1255 closed

[2022-06-13 22:29] ElizabethSamuel-MSFT commented on #1202
@lelsteph Actually, what is the current state of your work with this? Are there still areas you weren't able to map from your template to the user's current document?

[2022-06-15 14:47] lelsteph commented on #1202
This is what I explained in the various tickets. What I do as of now is to use DocumentCreated so I can open the template, then headers are correct BUT then I do not the anyway to save the file anymore because of the missing APIs only available on the main document.

[2022-06-15 15:26] ElizabethSamuel-MSFT commented on #1202
@lelsteph Thanks for the summary. I don't believe that functionality currently exists. Copying my previous comment with the link to the Ideas site for convenience.

Unfortunately, I have no other suggestions for how you might proceed besides those already presented. As such, I'll close this as a feature request.

If you have other questions or concerns, let us know.

Thanks.

[2022-06-20 19:06] m14d3n opened #1297 "Currently name property is read only - how to update name property in order to change regional settings?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f22f11f1-42d4-91d7-b43d-fd62ee8a711c
* Version Independent ID: ce8633d5-7b61-0f99-782f-a5a57ce44927
* Content: [Excel.CultureInfo class - Office Add-ins](https://docs.microsoft.com/en-us/javascript/api/excel/excel.cultureinfo?view=excel-js-preview)
*

[2022-06-20 20:44] alison-mk commented on #1297
Hi @m14d3n, thank you for submitting a question. The Excel JavaScript API doesn't currently offer the option to change the language and culture settings of the application. The article section [Workbook: Access application culture settings](https://docs.microsoft.com/office/dev/add-ins/excel/excel-add-ins-workbooks#access-application-culture-settings) describes the features the `CultureInfo` objec

[2022-06-20 20:44] #1297 closed

[2022-07-12 17:10] abhinovpankaj opened #1321 "Simple space regex won't work when regional setting is "Germany""
I am using word API to create  a simple Word Add-in for find and replace function.

Regional settings: US
The below code like charm, and it searches just fine.
`async function wildcardSearch() {
  await Word.run(async (context) => {
    // Check out how wildcard expression are built, also use the second parameter of the search method to include search modes
    // (i.e. use wildcards).
    let res

[2022-07-12 17:43] AlexJerabek commented on #1321
Hi @abhinovpankaj,

Thanks for reporting this issue. This appears to be a product bug, so I'll transfer this issue to the office-js repo. There, members of the product team can investigate your findings.

[2022-08-03 06:39] AgainSolutions opened #1344 "Please write some sample code"
I am new to POwerpoint add-in apis and typescript.
If you can please add some code samples it will help understand better

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de9f748c-ccbe-c242-07d8-2cc6e91e2658
* Version Independent ID: 8821a017-b462-d76b-3022-8d3ba34e8f32
* Content: [PowerPoint.Presentation class - Office

[2022-08-03 11:37] bulgariamitko commented on #1344
Please go to openAI and write anything you want there in order to see an example code. For more info check this video - https://www.youtube.com/watch?v=yfqXkkdn7eo&feature=youtu.be

[2022-08-03 11:40] bulgariamitko opened #1345 "Word.NoteItem class not working for me, getting an error - NotImplemented"
## Article URL
https://docs.microsoft.com/en-us/javascript/api/word/word.noteitem?view=word-js-preview#word-word-noteitem-body-member

## Issue
I am getting an error when trying to use the example code provided in the documentation.
debugInfo: Object
code: "NotImplemented"
message: "NotImplemented"
toString: function toString()
errorLocation: "Body.footnotes"
statement: "var footnotes = body.footn

[2022-08-03 11:56] bulgariamitko opened #1346 "When using insertText() footnotes are being erased"
When I am using this code `paragraphs.items[h].insertText(newText, "Replace");` for example if I have any footnotes inside this paragraph there were deleted and I get a question marks where the numbers were before that.
This is the original text
![Снимка на екрана на 2022-08-03 13-52-20](https://user-images.githubusercontent.com/7221384/182601564-7474bd62-0cc8-446a-ac72-040dc12611da.png)

And this

[2022-08-03 13:00] ChristianGalla opened #1347 "Identity API requirement sets incomplete for one-time purchase consumer versions"
I have installed Office Professional Plus 2016 downloaded from [my.visualstudio.com](https://my.visualstudio.com/), installed all updates and I am able to use IdentityAPI 1.3 for Single Sign On in an Outlook Add-In.

Also, during updating, for a short time, Outlook was supporting IdentityAPI 1.2, but not IdentityAPI 1.3.

According to the current documentation, IdentityAPI 1.3 should only be suppo

[2022-08-03 16:13] ElizabethSamuel-MSFT commented on #1344
@AgainSolutions Thanks for your interest in Office Add-ins! We appreciate your request for more code samples. We have articles like [Work with shapes using the PowerPoint JavaScript API](https://docs.microsoft.com/office/dev/add-ins/powerpoint/shapes) that may help you in the meantime.

@Rick-Kirkham Can you take a look?

Thanks.

[2022-08-03 16:22] ElizabethSamuel-MSFT commented on #1345
@bulgariamitko Sorry to see that you're facing an issue. Can you share some more information about your environment that may help us debug? Thanks.

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: ______
* Host [Excel, Word, PowerPoint, etc.]: ______
* Office version number: ______
* Operating System: ______
* Browser (if using Office on the web): ______

Note that, at p

[2022-08-03 16:25] ElizabethSamuel-MSFT commented on #1346
@bulgariamitko Thanks for letting us know about this issue. Can you share a little more about your environment? Thanks.

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: ______
* Host [Excel, Word, PowerPoint, etc.]: ______
* Office version number: ______
* Operating System: ______
* Browser (if using Office on the web): ______

[2022-08-03 16:34] ElizabethSamuel-MSFT commented on #1347
@ChristianGalla Thanks for asking about this.

@exextoc / @samantharamon: Can you take a look?

Thanks.

[2022-08-03 16:49] ElizabethSamuel-MSFT commented on #1346
Transferring to the product repo for triage.

@bulgariamitko Can you provide the following additional info so the product team can triage and investigate?

## Context
How has this issue affected you? What are you trying to accomplish? Providing context helps us come up with a solution that is most useful in the real world.

## Useful logs
Please include any of the following logs that may help us d

[2022-08-03 19:20] Rick-Kirkham commented on #1347
@samantharamon @exextoc I think the customer is right. This has to do with the distinction between Commercial perpetual license and Consumer perpetual license. We've backported some features to Consumer perpetual that were not backported to Commercial perpetual.  think our requirement set docs, not just IdentityApi, are only accurate for Commercial.

Please consult with @jargil to confirm or refut

[2022-08-03 21:07] Rick-Kirkham commented on #1344
We have code samples in [the Script Lab tool](https://docs.microsoft.com/office/dev/add-ins/overview/explore-with-script-lab). Please install it and open it in PowerPoint to see and use these samples. As ElizabethSamuels mentioned, we have conceptual articles that show code samples as well.

I'll close this issue, but you can still make comments.

[2022-08-03 21:07] #1344 closed

[2022-08-04 06:36] bulgariamitko commented on #1345
After researching I saw that this is available only for Word on the Web and I am trying to run this on Word 365 on a Windows 11, which will not work. But I have another problem. I can't create a new document in Word on the web. Every time I try to create a document I get this error.

Something is wrong
Unfortunately, the page cannot be displayed at the moment. Try again in a few minutes.

I tried

[2022-08-04 15:36] ElizabethSamuel-MSFT commented on #1345
@bulgariamitko Sorry to hear you're facing an issue with Word itself. Unfortunately, my team can't help with that. You may be able to get help with that issue by reporting it on the [Microsoft Q&A site](https://docs.microsoft.com/answers/products/).

As such, I'll go ahead and close this issue. If you have any further questions about Office Add-in and Office.js, do let us know by creating a new is

[2022-08-04 15:36] #1345 closed

[2022-08-04 23:57] samantharamon commented on #1347
Thank you, @ChristianGalla and @Rick-Kirkham. Based on my research, I'm also under the impression that the license type distinction is why IdentityAPI 1.3 is usable with the consumer perpetual license for Office 2016. I'm still confirming this internally and will share more once I get an update.

[2022-08-22 16:12] agelenava opened #1365 "getCallbackTokenAsync"
On the page it's noted

At the same time here https://docs.microsoft.com/en-us/previous-versions/office/office-365-api/api/version-2.0/mail-rest-operations it's saying

So,
1) What I should actually use  whenever possible?
2) If I request EWS token in MS Outlook for mobile (iOS, Android), will it return EWS token or it will always return REST token instead, no matter what I requested (isRest = tru

[2022-08-22 16:17] AlexJerabek commented on #1365
Thanks for raising this issue @agelenava.

@samantharamon, could you please investigate?

[2022-08-23 00:29] samantharamon commented on #1365
Hi, @agelenava. Thanks for reaching out. Although Outlook REST endpoints will be decommissioned on November 30, 2022, please be advised that all active add-ins that use the REST service will be granted an exemption to keep using the service until extended support ends for Outlook 2019 on October 14, 2025. This includes new add-ins that are developed after the decommission date in November. This up

[2022-08-23 06:22] agelenava commented on #1365
@samantharamon thank you for you explanation!

[2022-08-23 06:22] #1365 closed

[2022-08-25 00:05] omarenri29 opened #1371 "InsertWorksheetOptions method inserting relative path to existing workbook formulas"
[Enter feedback here]
Hello,

I´m using insertWorksheetsFromBase64 method in an Excel Add-in to import an existing workbook to a new workbook, but when I do this, formulas from existing workbook are breaking. Is there a way to keep same functionality from existing workbook

Evidence:
![image](https://user-images.githubusercontent.com/90602445/186544717-1e33eae9-8cb7-4892-bbac-8057dbc6fa63.png)

No

[2022-08-25 13:04] timothyhoffmann opened #1372 "<FunctionFile /> missing explanation of resid parameter"
[Enter feedback here]
 \<FunctionFile resid="residDesktopFuncUrl" /\>

What are the legal values for 'residDesktopFuncUrl'?  Is it a \<url/\> tag?
e.g.
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5dd4a1bc-131e-f0ae-1824-0f8b8dc66adc
* Version Independent ID: 47159292-a2de-eb39-349a-c917d87762bf
* Content: [Fu

[2022-08-25 16:36] AlexJerabek commented on #1372
HI @timothyhoffmann,

Thank you for raising this question. @samantharamon, could you please investigate?

[2022-08-25 16:38] AlexJerabek commented on #1371
Hi @omarenri29,

Thanks for reporting this. @alison-mk, could you please investigate?

[2022-08-25 23:25] samantharamon commented on #1372
Hi @timothyhoffmann,

The `resid` attribute in the FunctionFile element (in this case, `residDesktopFuncUrl`) must be the value provided in the `id` attribute of a \<Url\> element, which is located in the \<Resources\> element. Expounding your example:

[code]

The `resid` value must be no more than 32 characters. The value of the \<Url\> element must be an HTTPS URL location with a maximum of 204

[2022-08-26 12:10] timothyhoffmann commented on #1372
Thank you :-)

[2022-08-26 12:10] #1372 closed

[2022-08-29 15:34] omarenri29 commented on #1371
In addition to the above, the method works correctly in Excel desktop and the problem is in the formulas that have references to other tabs in the document.

[2022-08-29 18:02] alison-mk commented on #1371
Hi @omarenri29, thank you for reporting this issue and for providing additional information. To help clarify, I have a few questions:
1. I see that you say that the insertWorksheetsFromBase64 method works correctly in Excel on desktop. Are you only seeing this problem in Excel on the web?
2. Can you provide a code snippet to illustrate the how you're using the method?

Thank you,
Alison

[2022-08-29 18:07] omarenri29 commented on #1371
Hi @alison-mk thanks for replying,
1. yes the problem only occurs on Excel web version.
2.
` Excel.run(async function async(context) {
      let sheets = context.workbook.worksheets;
      sheets.load("items/name");
      await context.sync();
      let sheetNames = sheets.items.map((sheet) => sheet.name);
      if (!compareArray(sheetNames)) {
        // Remove the metadata before the base64-enco

[2022-08-30 03:07] omarenri29 commented on #1371
These are examples of how the formulas are displayed when they run on the web and on the desktop
Desktop:
![image](https://user-images.githubusercontent.com/90602445/187339864-6dc06edd-e7f3-4e0a-8060-c14d9e6c78c6.png)

Web:
![image](https://user-images.githubusercontent.com/90602445/187339906-22f7faa6-981a-464f-ab67-84d7f9857b3f.png)

[2022-08-31 18:52] omarenri29 commented on #1371
Hi @alison-mk where you able to reproduce this bug?

[2022-09-02 03:53] alison-mk commented on #1371
Hi @omarenri29, thank you for the information and for reporting this issue!

I see a similar issue. It's not exactly the same issue, but I think we are seeing the same bug. Here are the steps that I take, and the bug that I see:

1. Open this snippet in Script Lab, in **Excel on the web**: https://github.com/OfficeDev/office-js-snippets/blob/main/samples/excel/50-workbook/workbook-insert-external-

[2022-09-05 03:25] art-ist opened #1382 "Code sample is wrong, confusion between use cases/APIs should be avoided."
- the only complete code sample is obsolete
- the only complete code sample is wring

There are two use cases called SSO with Office add-ins:
- add-In calls Microsoft Graph
- add-In calls middle tier API calling Microsoft Graph

Because of that and due to the fact, that both scenarios require a a different access token to be acquired and passed on, can cause quite some confusion.

It would be extr

[2022-09-06 16:44] AlexJerabek commented on #1382
Thanks for raising this issue @art-ist.

@davidchesnut, could you please take a look?

[2022-09-06 21:38] davidchesnut commented on #1382
Thanks @art-ist! I'm submitting a PR to update this article as you have suggested.

[2022-09-06 23:57] davidchesnut commented on #1382
PR merged.

[2022-09-06 23:57] #1382 closed

[2022-09-08 21:59] microsoft-github-policy-service[bot] opened #1390 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance

[2022-09-08 22:03] #1390 closed

[2022-09-19 05:11] parched opened #1402 "`Excel.NamedItem.value` returns `#VALUE!` if it refers to a UDF"
`Excel.NamedItem.value` returns `#VALUE!` if it refers to a user defined custom function, but builtin functions work fine.

I'm not sure if this is an actual bug that needs fixing or if the docs should just mention this behaviour. Please move this to the correct place if it's not a docs issue.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2022-09-19 05:11] parched opened #1450 "`Excel.NamedItem.value` returns `#VALUE!` if it refers to a UDF"
`Excel.NamedItem.value` returns `#VALUE!` if it refers to a user defined custom function, but builtin functions work fine.

I'm not sure if this is an actual bug that needs fixing or if the docs should just mention this behaviour. Please move this to the correct place if it's not a docs issue.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2022-09-19 17:12] AlexJerabek commented on #1402
Hi @parched,

Thanks for reporting this. This sounds like a product bug. Let me transfer this to the office-js repo, where it will be looked at by the feature crew.

[2022-09-20 17:06] schneiderben opened #1403 "Powerpoint API - table Class"
Hey,
I have a project where I need to do text replacements in tables in powerpoint.
The table class is not yet surported in the Powerpoint API 1.4.
is there a timeline by when the table class will be included?
Is there a another way to do text replacements in tabels?

Thanks for your feedback.

Regards, Benedikt

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Ve

[2022-09-21 16:44] AlexJerabek commented on #1403
Hi @schneiderben,

Thanks for raising this issue. There is currently no timeline for table support in the PowerPoint APIs. Please submit or feature request (or upvote an existing request) over on our [Tech Community page](https://techcommunity.microsoft.com/t5/microsoft-365-developer-platform/idb-p/Microsoft365DeveloperPlatform).

As for your question if there's an alternative way to achieve this

[2022-09-21 22:21] Rick-Kirkham commented on #1403
I can't think of any way of doing this currently. There's no programmatic support for searching in PowerPoint at this time and there's no way to get a reference to a cell of a table.

[2022-09-21 22:21] #1403 closed

[2022-09-22 18:33] schneiderben commented on #1403
Okay, thanks a lot for your feedback!

[2022-09-26 12:21] milankonir opened #1412 "[Outlook] Incorrect documentation and types for Office.InternetHeaders"
# Provide required information needed to triage your issue

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: All
* Host [Excel, Word, PowerPoint, etc.]: Outlook
* Office version number: All
* Operating System: All
* Browser (if using Office on the web): All

## Expected behavior

The documentation and `@types/office-js` to be correct and reflect the API behaviour, see cur

[2022-09-27 17:47] ElizabethSamuel-MSFT commented on #1347
@ChristianGalla We're working on refining this info. Can you take a look at our [prospective updates](https://github.com/OfficeDev/office-js-docs-reference/pull/1360/files#diff-3fcd364736a026e7c4cd9a41b642228d01dc2391a3f7fc97ec0e293b47341476) and let us know your thoughts?

![image](https://user-images.githubusercontent.com/28541963/192599114-0f9498e1-bd1d-410a-8abb-b52e39cd37b7.png)

Thanks.

[2022-09-29 17:27] ElizabethSamuel-MSFT commented on #1347
@ChristianGalla We've added info re: Android and iOS. The PR should be merged and published today then this issue will be closed.

If you have any other feedback, do let us know by commenting here or in a new issue.

Thanks.

[2022-09-29 21:13] #1347 closed

[2022-10-03 23:10] samantharamon commented on #1412
Hi @milankonir. Thanks for bringing this to our attention. I'll look into this further, so that we can get our documentation corrected.

[2022-10-07 13:25] DominikPalo opened #1419 "`Office.CoercionType.SlideRange` works on Mac"
The Remarks section of the [getSelectedDataAsync(coercionType, options, callback)
](https://learn.microsoft.com/en-us/javascript/api/office/office.document?view=powerpoint-js-preview#office-office-document-getselecteddataasync-member(1)) method mentions that the `Office.CoercionType.SlideRange` coercion type is supported only in _PowerPoint on the web and on Windows_. This is definitely not true -

[2022-10-07 15:28] ElizabethSamuel-MSFT commented on #1419
@DominikPalo Thanks for letting us know. We'll take a look and update the docs.

[2022-10-14 21:55] alison-mk commented on #1419
Hi @DominikPalo, thank you for submitting this issue! I tested on Mac and confirmed that Office.CoercionType.SlideRange works. I will update the documentation accordingly.

Cheers,
Alison

[2022-11-11 23:02] samantharamon commented on #1412
Thank you for your patience, @milankonir. I've submitted a PR to make the suggested changes (see https://github.com/DefinitelyTyped/DefinitelyTyped/pull/63217). Please let me know if you have additional feedback. If no additional changes are needed, I'll close this issue once the changes are merged.

[2022-11-15 14:30] JinghuiMS commented on #1450
Transferred to docs by @parched 's request.

[2022-11-17 23:53] samantharamon commented on #1412
Doc changes are now live. I will go ahead and close this issue, but should you have further feedback, please don't hesitate to create a new one. Thank you.

[2022-11-17 23:53] #1412 closed