[2016-10-05 09:54] Thiez opened #257 "RequestContext.trace is not properly documented"
The `OfficeExtension.Error` object (for Word, Excel, and OneNote) has a `traceMessages` member, which is a string array. The Word error.md page shows an example where it creates these trace messages, by calling `context.trace` (short example: `Word.run(function(context) { context.trace("Hello world"); })`). However, reference/word/requestcontext.md contains no mention of the `trace` method. A [sea

[2017-09-22 12:56] mlafleur opened #253 "Should "Supported hosts, by platform" be removed?"
At the bottom on each shared api page is that grid that shows "Supported hosts, by platform". This has been there from the beginning but I'm not sure it makes a lot of sense any longer:

* It is often out of date (most recently, issue #1089).
* The [Add-in Availability](https://dev.office.com/add-in-availability) page provides the a superior view of the same data.
* The grid of platforms is comica

[2017-11-16 13:18] sameera opened #252 "CoercionType.Matrix will not bypass "calculated columns" feature as suggested by the docs"
Article:
Document.setSelectedDataAsync method

Issue:
Following text does not reflect the actual behavior of the API/Excel

This doesn't actually work: Calculated Columns feature applies when matrix or table coercionTypes are used. Only way to workaround this seems to be to write the cells individually with "text" coercionType.

[2018-01-16 10:41] sanjayp-mds opened #251 "ContentControl.insertParagraph and ContentControl.placeholderText throws exception in Word Online"
I am developing a Word add-in that utilizes ContentControl.insertParagraph and ContentControl.placeholderText. According to the documentation, these methods are provided by WordApi requirement set 1.1, which is supported in Office Online.

When I run the add-in in Word 2016 desktop client, everything works fine,
but when I run it in the Word Online , it fails with the following exceptions:

my scr

[2018-08-24 10:38] cindymeister opened #141 "Information for get​Item(index) is incomplete / misleading"
The explanation for getItem(index) is: "Gets a content control by its index in the collection." And the expected data type is "number". This implies the method returns the content control at the given position in the document (first, second, etc.) Using the method in this manner returns the error "ItemNotFound: We couldn’t find the item you requested. Check the OfficeExtension.Error.debugInfo for

[2018-08-24 10:38] cindymeister opened #384 "Information for contentControl.get​Item(index) is incomplete / misleading"
The explanation for getItem(index) is: "Gets a content control by its index in the collection." And the expected data type is "number". This implies the method returns the content control at the given position in the document (first, second, etc.) Using the method in this manner returns the error "ItemNotFound: We couldn’t find the item you requested. Check the OfficeExtension.Error.debugInfo for

[2018-08-24 16:21] Rick-Kirkham commented on #141
Thanks, Cindy. We're looking into this. (Wondering why we have both a getById and a getItem.)

[2018-08-25 21:10] ivan7707 opened #145 "API docs"
Hi MSFT, your API documentation is well written.  Easy to follow.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce26535b-e975-bd31-a5e7-4a21c1ed609f
* Version Independent ID: 9b6b1592-17de-928b-e386-92dc1625c3a8
* Content: [Word JavaScript API overview](https://docs.microsoft.com/en-ca/javascript/office/overview/word-

[2018-08-25 21:11] #145 closed

[2018-08-30 18:31] twinVectr opened #153 "RecipientType in outlook Office.context.mailbox.item is not consistent"
Initialized outlook in office-js-API, the recipientType on the item is not consistent always.

The API response has RecipientType = "user" for distribution item and RecipientType = "distributionList" for user item or sometimes "other".

Why is this inconsistency?

![screen shot 2018-08-30 at 2 31 11 pm](https://user-images.githubusercontent.com/17032110/44871657-6ae50800-ac61-11e8-870b-c840cd93445

[2018-09-12 07:34] MichaelPolla opened #168 "Missing information about using Visio JS API with "any external web page""
Hi,

At the end of the [Visio JavaScript APIs announcement](https://developer.microsoft.com/en-us/office/blogs/visio-javascript-apis-preview/) it states:

However all the documentation I've found is only about embedding Visio diagrams into a SharePoint website.

So :
- Was the functionality of working with any external web page never implemented ?
or
- The corresponding information is missing ?
or

[2018-09-18 17:58] Rick-Kirkham commented on #168
@MichaelPolla  Not yet. I just gave them another poke.

[2018-09-20 18:11] butchmarshall opened #176 "Office.context.mailbox.addHandlerAsync usage?"
I wish for my add-in to be notified when a message being composed in the outlook web app changes (recipients, message body, subject etc.).

I am unable to get events from `Office.context.mailbox.addHandlerAsync`.  Am I using it correctly?

None of these seem to work.

[code]
[code]
[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2018-09-21 00:13] mafut opened #179 "Office.Auth is broken link"
In IdentityAPI 1.1 "Office.Auth" link is broken

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4e8708f6-d57e-a17f-7665-b791d66af97e
* Version Independent ID: cafbd543-dc87-43b8-421e-0d044e3cc713
* Content: [Identity API requirement sets](https://docs.microsoft.com/en-us/javascript/office/requirement-sets/identity-api-r

[2018-09-21 12:56] praveenbengeri opened #181 "Requirement set for Dialog API is incorrect."
The documentation says the requirement set for Dialog API is "Dialog", whereas it should be "DialogAPI".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a98e72c2-bc8c-5664-f6b8-5317f2ff4b51
* Version Independent ID: a84b77c8-9835-d59e-669d-9a5e4e1480f9
* Content: [Office common API requirement sets](https://docs.microso

[2018-09-21 23:58] edlgg opened #184 "delete if found"
I would appreciate if in the example of delete() you also showed the proper way to delete a sheet if i'm not sure it exists. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ecc449d8-02af-e5c1-9e6e-74fc9067ca62
* Version Independent ID: 6cc5351c-a26b-5d83-5b8b-df1b92ff3e3a
* Content: [Excel.Worksheet class](https

[2018-09-24 18:17] Rick-Kirkham commented on #184
@edlgg This same question was raised on StackOverflow and I answered it there: https://stackoverflow.com/questions/52453057/in-an-office-js-add-in-how-can-i-delete-a-sheet-that-im-not-sure-its-there/52454373#52454373

[2018-09-24 18:17] #184 closed

[2018-09-24 18:51] Rick-Kirkham commented on #181
This is fixed in the source and should be published by late tomorrow.

[2018-09-24 18:51] #181 closed

[2018-09-26 11:14] vtiti opened #192 "Add-in activation rule"
The [Clients](https://docs.microsoft.com/en-us/javascript/office/requirement-sets/outlook-api-requirement-sets?view=office-js#clients) section describes the requirement set for the platform.

I have an Exchange 2016 On-Premises installation, and I set the **Requirements** element to **1.5**.
Regarding the documentation my addin should not be activated in the Exchange 2016 OWA.
If I use the [runtim

[2018-10-01 19:21] AlexJerabek commented on #179
Hi @mafut,
Thank you for reporting this issue. I've checked in a fix with PR #193. That should merge to the live branch soon.

[2018-10-01 19:21] #179 closed

[2018-10-06 16:34] peterremote1980 opened #204 "CustomTab never appear"
Hi
   why my customtab never appear in my mac outlook 2016 client?
[code]
thanks
Peter

[2018-10-08 15:26] MK-MASTER opened #205 "Wrong Add-in Types"
PhoneSettings only applies to Mail Add-ins so can you please correct the documentation above

"Add-in type: Content, Task pane, Mail"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 036a61a1-66ce-79a4-848f-08974cf56021
* Version Independent ID: 7278a717-d121-19da-6bc6-9164f3477a06
* Content: [PhoneSettings element](http

[2018-10-09 17:07] Rick-Kirkham commented on #205
Thanks. We're looking into this.

[2018-10-11 13:31] joelfmrodrigues opened #220 "Example code - instruction not required"
[Enter feedback here]

---
#### Document Details

Retrieving the page is not required as it's not being used on the sample code

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 211bf382-30fa-d9dc-f3e3-f4705f637fc9
* Version Independent ID: 6e96ba12-0995-2aac-050a-48b7c62a4cbf
* Content: [Visio.PageLoadCompleteEventArgs interface](https://docs.micr

[2018-10-12 22:53] ElizabethSamuel-MSFT commented on #205
@MK-MASTER: The documentation has been updated (PR: https://github.com/OfficeDev/office-js-docs-pr/pull/464) and should be published soon. Thanks again.

[2018-10-12 22:53] #205 closed

[2018-10-26 08:54] sebastianmattar opened #229 "getAsync() have a wrong callback datatype"
GetAsync() returns a string, not the object it was called on.

```callback?: (result: AsyncResult&lt;Office.Body&gt;)```
Should be:
``callback?: (result: AsyncResult&lt;string&gt;)````
for all getAsync() methods

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 076f70b1-5d37-89d9-b6d1-a249b85506ee
* Version Independent ID

[2018-10-26 20:43] ElizabethSamuel-MSFT commented on #229
@sebastianmattar Thanks for your contribution in PR https://github.com/DefinitelyTyped/DefinitelyTyped/pull/30050. Once the final changes are merged to master, this documentation should be updated soon after that.

[2018-10-26 20:44] #229 closed

[2018-10-31 17:26] brambooo opened #230 "Image filetype option"
Would love to see an option to export individual or more PowerPoint slides to images (for example base64 or png).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4bf6ede3-db30-be96-0de6-d4e429d83bd1
* Version Independent ID: 62cb7f3a-1e7b-064e-93eb-09a3f57f0e81
* Content: [Office.FileType enum](https://docs.microsoft.co

[2018-10-31 19:21] AlexJerabek commented on #230
Hi @brambooo,

Thank you for the feedback. This repo is for issues with the API reference docs. For functionality requests, please visit [User Voice](https://officespdev.uservoice.com/) and suggest the feature. There, it can be upvoted by the community and properly triaged by our engineers.

I'll close the issue, but please open another if you find anything erroneous or missing from the documentat

[2018-10-31 19:21] #230 closed

[2018-11-07 21:54] AlexJerabek commented on #204
Hi @peterremote1980,
The issues on this repo are for problems with the reference documentation. I'd recommend taking this question to [Stack Overflow](https://stackoverflow.com/questions/tagged/office-js) and tagging with "office-js". There, you should find the help and answers you need to get this working.
I'm closing the issue, but please open another issue if you find something missing in the d

[2018-11-07 21:54] #204 closed

[2018-11-07 21:57] AlexJerabek commented on #220
Hi @joelfmrodrigues,
I'm not sure I understand the issue. The sample code is showing how to register a PageLoadComplete event and access the args in a simple scenario. Is something missing that you feel should be there?

[2018-11-07 23:57] ElizabethSamuel-MSFT commented on #176
@butchmarshall: Thanks for asking about this. `ItemChanged` is triggered when you pin the add-in task pane then switch from viewing one mailbox item to another. I'll try to clarify that point in the documentation. However, unfortunately, we don't have an event that would let you know if *anything* changed on the specific item. There's an [Office.context.mailbox.item.addHandlerAsync](https://docs.m

[2018-11-08 22:22] joelfmrodrigues commented on #220
Hi @AlexJerabek

I actually submitted a PR to remove the unnecessary code some time ago. Just forgot to reference and close the issue.
Closing now.
Thanks for replying back

[2018-11-08 22:22] #220 closed

[2018-11-09 16:36] #176 closed

[2018-11-09 16:46] ElizabethSamuel-MSFT commented on #192
@exextoc: Please take a look at this scenario.
@vtiti: Are you able to tell which method was not allowed?

[2018-11-10 08:32] vtiti commented on #192
I would like to clarify a little:
I made an Outlook addin, which using the O365 REST API to get the current email attachments.

I published the addin in the AppSource.

One of our customer wants to use the addin on their Exchange 2016 On-Premises installation.

I was able to load the addin when I tried it on my test Exchange 2016 installation.
My problem was: as I stated in the manifest I supporti

[2018-11-10 08:32] #192 closed

[2018-11-13 22:18] lindalu-MSFT commented on #168
Hi, I'm pretty sure this should read "Custom solutions that you implement via the Visio JavaScript APIs will work against embedded Visio diagrams in SharePoint Online or any external **SharePoint modern** web page." This is more clear in this more recent article from support.microsoft.com: [Visio Services in SharePoint Online](https://support.office.com/en-us/article/visio-services-in-sharepoint-o

[2018-11-14 20:38] exextoc commented on #192
This seems like a bug in Exchange 2016 OWA. If a client reports that it supports a certain requirement set (e.g. 1.3), it shouldn't receive add-ins that are installed on the mailbox that have a minimum requirement set about that (like 1.5)

[2018-11-20 16:26] ATrogolo opened #246 "How to handle "computed columns" with addRowsAsync"
Hi, I'm using the ExcelJs API with `addRowsAsync()` and `deleteAllDataValuesAsync()`.  [(reference)](https://docs.microsoft.com/it-it/javascript/api/office/office.tablebinding)

If the user creates some "computed columns", which enlarge the size of the table (e.g.: a new column with the value of the first column + 1), when I want add new data to the table, how should I handle the "computed" column

[2018-11-20 18:38] Rick-Kirkham commented on #246
@ATrogolo We use the issues of this repo to track problems with the documentation. Please raise technical questions like this one on Stack Overflow. Be sure to tag the question `office-js`. Putting the question on Stack Overflow ensures that more knowledgeable users will see it and the whole community will benefit from the answers that you get.

[2018-11-20 18:38] #246 closed

[2018-11-21 08:13] ATrogolo commented on #246
@Rick-Kirkham sorry, I've posted [here](https://stackoverflow.com/questions/53407704/exceljs-how-to-handle-computed-columns-with-addrowsasync) my question.

[2018-11-28 19:20] Rick-Kirkham opened #249 "Parameter description in insertParagraph method has mistaken description"
## Article URL
https://github.com/OfficeDev/office-js-docs/blob/master/reference/word/body.md#insertparagraphparagraphtext-string-insertlocation-string

## Issue
In the description for insertLocation property of the insertParagraph method, the sentence "The value can be 'Start' or 'End'." should be deleted. It is misleadingly incomplete and redundant with the rest of the description.

[2018-11-28 19:23] Rick-Kirkham opened #250 "Mistaken code comments in BasicDataValidation and DateTimeDataValidation"
**Articles:**
https://github.com/OfficeDev/office-js-docs/blob/ExcelJs_OpenSpec/reference/excel/basicdatavalidation.md

and

https://github.com/OfficeDev/office-js-docs/blob/ExcelJs_OpenSpec/reference/excel/datetimedatavalidation.md

**Issue:**
Both of these articles have misleading descriptions for the `formula1 `and `formula2 `properties. The following would be correct for BasicDataValidation:

[2018-11-28 22:32] AlexJerabek commented on #249
[Internal tracking item](https://office.visualstudio.com/OC/_workitems/edit/2710984)

[2018-11-28 23:12] AlexJerabek commented on #250
@Rick-Kirkham  Made the changes in Definitely Typed. If you approve them there, I'll make the source code changes.
https://github.com/DefinitelyTyped/DefinitelyTyped/pull/30907

[2018-11-28 23:55] AlexJerabek commented on #250
[Internal tracking here](https://office.visualstudio.com/OC/_workitems/edit/2711138)

[2018-12-03 22:30] rohitrewa opened #258 "Need more details of Office files"
Hi Team,

For Cloud files (OD/SP) Office.FileProperties provides an URL in below format.
https://&lt;tenant&gt;.sharepoint.com/{sitepath}/{folder path}/filename.extension

In my scenario, I need complete drive item details on file which Add-In is running for cloud file scenario. Is there any way I can convert this file path to derive item id or drive item itself by calling some Microsoft Graph API

[2018-12-05 20:46] kbrandl commented on #258
@rohitrewa thanks for your interest in Office Add-ins development. Issues in this GitHub repository (**OfficeDev/office-js-docs-reference**) are intended for reporting errors/problems with the Office.js API *documentation*.  Therefore I'm closing this GitHub issue, but please feel free to post your question to Stack Overflow with the [office-js](https://stackoverflow.com/questions/tagged/office-js

[2018-12-05 20:46] #258 closed

[2018-12-05 22:44] AlexJerabek commented on #257
Hi @Thiez,
Sorry about the long delay on this. Since this issue was raised, we have redesigned our reference documentation experience. It is (hopefully) more clear now [OfficeExtension.Error.traceMessages](https://docs.microsoft.com/javascript/api/office/officeextension.error#tracemessages) relates to [OfficeExtension.ClientRequestContext.trace](https://docs.microsoft.com/javascript/api/office/off

[2018-12-05 22:44] #257 closed

[2018-12-05 22:51] Thiez commented on #257
Thanks! The new documentation looks great to me. The original issue was not blocking for me so I don't mind that it took a while to get fixed :-)

[2018-12-29 01:54] changchengqin opened #276 "Is the description of the color property wrong"
Not the color of the border line.
It's the background color.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9091b50e-16b8-50b1-f1b3-b6768504a77d
* Version Independent ID: 2d71a29a-195e-6b85-ae11-25ebe2e09e70
* Content: [Excel.RangeFill class - Office Add-ins](https://docs.microsoft.com/en-us/javascript/api/excel/excel.

[2018-12-29 05:22] anilreddyr7 opened #277 "removeHandlerAsync(eventType, handler, [options], [callback]) is not working."
Hello,

I was trying to use below code.

[code]

It is throwing me parameter mismatch error.

outlook-web-16.01.js:9 Uncaught Error: Sys.ParameterCountException: multiple optional functions in parameter list
    at Function.Error.create (MicrosoftAjax.js:5)
    at Function.Error.parameterCount (MicrosoftAjax.js:5)
    at c (outlook-web-16.01.js:9)
    at OSF.DDA.AsyncMethodCall.verifyAndExtractCal

[2018-12-31 18:48] AlexJerabek commented on #276
Hi @changchengqin,
Thanks for reporting this. I'll change the upstream files from which these reference docs are generated. I'll report back to this thread when those updates propagate through.

[2019-01-02 19:17] kbrandl commented on #277
@anilreddyr7 thanks for reaching out an sorry to hear that you've run into an issue.

@exextoc can you please provide feedback here about whether the code snippet that @anilreddyr7 has provided is valid (i.e.,why it's resulting in the error being thrown)? Thanks!

[2019-01-02 20:10] AlexJerabek commented on #276
The text correction has been checked into master with [this PR](https://github.com/OfficeDev/office-js-docs-reference/pull/278). This will be pushed to live later this week. I'll close the issue now, but please let us know if anything is still incorrect.

[2019-01-02 20:10] #276 closed

[2019-01-02 22:56] kbrandl commented on #251
These doc updates have been applied; docs will be updated the next time the API reference docs are regenerated (most likely later this week).
* https://docs.microsoft.com/en-us/javascript/api/word/word.contentcontrol?view=office-js#placeholdertext
* https://docs.microsoft.com/en-us/javascript/api/word/word.contentcontrol?view=office-js#insertparagraph-paragraphtext--insertlocation-

[2019-01-02 22:56] #251 closed

[2019-01-13 04:30] stephenb159 opened #288 "getActiveparagraphOrNull() always returns null"
I am unable to make getActiveparagraphOrNull() (in the application class) EVER return a paragraph type other than null?
I am thinking this may be a bug in the API, but wanted to check to see if there was something wrong. I have no problem getting the active section, page, or outline. Take this code snippet:

function currentparagraph(){
OneNote.run(function (context) {
    var paragraph = context.

[2019-01-22 16:46] ElizabethSamuel-MSFT commented on #277
@anilreddyr7: The documentation has been updated. Thanks.

[2019-01-22 16:46] #277 closed

[2019-01-31 14:36] sivakrishna0205 opened #306 "issue with unprotect excel file protected with password using officejs javascript(web addin)."
await Excel.run(async function(context) {

    const sheet = context.workbook.worksheets.getActiveWorksheet();
    // const workBook = context.workbook.
    console.log(sheet.protection);
    sheet.protection.unprotect("abc")
    const range = sheet.getUsedRange();
    range.load("values");
    range.load("address");
    return context.sync().then(function () {
      console.log(range.address);

[2019-02-05 17:03] ElizabethSamuel-MSFT commented on #306
@AlexJerabek: Can you take a look? Thx.

[2019-02-05 18:53] AlexJerabek commented on #306
Hi @sivakrishna0205,

I'm sorry to hear you're encountering problems. Are you following a particular example or code snippet in the docs? I'm running your code in [Script Lab](https://github.com/OfficeDev/script-lab/blob/master/README.md) and not encountering any errors. If you could share how your worksheet is protected, that might help reproduce the error.

Also, if this not based on a code samp

[2019-02-11 11:00] Nachasic opened #317 "In Outlook, how can I switch view from a task pane add-in to a module extension?"
We're working with task pane add-ins and module extension add-ins in Outlook.

We need to be able to display a button in a task pane, that changes Outlook's view to a page in our module extension when clicked, passing information from the task pane's context to it.

Is this possible, and if so, how?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2019-02-11 22:01] kbrandl commented on #317
@Nachasic thanks for your interest in Office Add-ins development. If you haven't already done so, I'd recommend that you post this question to Stack Overflow, tagged with the [outlook-web-addins](https://stackoverflow.com/questions/tagged/outlook-web-addins) tag. I'm going to close this issue here in **OfficeDev/office-js-docs-reference**, since this is a how-to question and not a documentation bu

[2019-02-11 22:01] #317 closed

[2019-02-12 19:10] #253 closed

[2019-02-23 03:03] danjyoung opened #332 "Regarding appointmentResponse"
"Gets the response that an attendee returned for an appointment. This property applies to only an attendee of an appointment, as represented by the optionalAttendees or requiredAttendees property. This property returns undefined in other scenarios."

Are these examples correct? I don't see them calling getAsync. The examples do not work for me. Additionally, following the pattern of calling getAsy

[2019-03-04 20:18] danielgwilson opened #342 "Property description typo"
Property description for controlForegroundColor reads "Gets the Office theme body control color as a hexadecimal color triplet (e.g. "FFA500")" where it should read "...control foreground color..." striking "body."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 57500af6-fb91-7a89-58aa-4c604b412bed
* Version Independent

[2019-03-04 23:26] AlexJerabek commented on #342
Hi @danielgwilson,
I have the fix upstream with [this PR](https://github.com/DefinitelyTyped/DefinitelyTyped/pull/33594).

[2019-03-04 23:27] AlexJerabek commented on #342
And it'll be checked in to this repo with [this PR](https://github.com/OfficeDev/office-js-docs-reference/pull/343).

[2019-03-04 23:27] #342 closed

[2019-03-13 02:23] jhamilton68 opened #348 "Not enough detail"
I would love to use the JavaScript API for Office but there just isn't enough detail in these docs. I have to do too much guessing and hacking. I've used a lot of APIs. Microsoft has some good API documentation but this isn't it.  Python.org has some excellent documentation. cppreference.com is some excellent documentation. The old Windows APIs are very well documented.  JavaScript API for Office,

[2019-03-13 16:11] Rick-Kirkham commented on #348
@jhamilton68 Thanks for the suggestion for more tutorials. Do you have other suggestions for what more we could add in the way of details? Also, could you tell us what host (Excel, Word, etc.) you are working with and what you are trying to do? Finally, if case you haven't already, please note that we have extensive conceptual documentation that includes many "how to"s for working with the JavaScr

[2019-03-14 12:18] sivakrishna0205 opened #351 "WorksheetProtectionData"
worksheet protection is not working in officejs Javascript library i'm using.
code:
let password = await passwordHandler();
passwordHelper(password);
await Excel.run(async (context) =&gt; {
    let activeSheet = context.workbook.worksheets.getActiveWorksheet();
    activeSheet.load("protection/protected");

    await context.sync();

    if (!activeSheet.protection.protected) {
        activeSheet

[2019-03-14 17:21] AlexJerabek commented on #351
Hi @sivakrishna0205,

Thanks for raising this issue with our sample code. Can you share your implementation of `passwordHelper` with us? Any error logs would be helpful too.

We have a sample implementation in our [ScriptLab](https://github.com/OfficeDev/script-lab) sample. It's the "DataProtection" sample, which can also been found [here](https://github.com/OfficeDev/office-js-snippets/blob/maste

[2019-03-15 09:20] sivakrishna0205 commented on #351
Hi @AlexJerabek ,
I have executed  ScriptLab Add-in sample examples in my Excel 2016 desktop version. Its throwing following exception.
![image](https://user-images.githubusercontent.com/15037598/54421055-9cbb4900-4731-11e9-95f4-e714f1a90ed7.png)
Error: c {description: "The property 'protected' is not available. Before reading the property's value, call the load method on the containing object and

[2019-03-15 16:22] Reezaali commented on #351
@sivakrishna0205 sorry to hear it's still not working. Can you share the Excel version and build number please?

[2019-03-18 08:06] MakotoE opened #354 "Excel.Range.values has an undocumented limit"
There seems to be an undocumented limit to the size of the array which can be assigned to [Excel.Range.values](https://docs.microsoft.com/en-us/javascript/api/excel/excel.range?view=office-js#values). To demonstrate:

[code]

Running this in an add-in in Excel Online (Build ID 16.0.11512.37951) will cause the API to throw `RichApi.Error: An internal error has occurred.` This code successfully sets

[2019-03-18 09:49] garrit-schroeder opened #355 "Display New Message Form is blocked by browser"
Hello,

the function    Office.context.mailbox.displayNewMessageForm is blocked by browsers because it opens a new window. Allow Popups is a workaround.

Is there a way around it. Maybe an email compose window on the main page for example? Or maybe a functionality to detect whether popup popups are blocked.

[2019-03-18 12:42] sivakrishna0205 commented on #351
@Reezaali

![image](https://user-images.githubusercontent.com/15037598/54530666-5e2fc380-49a9-11e9-9ac0-25487cfdf449.png)

[2019-03-18 17:09] AlexJerabek commented on #351
Hi @sivakrishna0205,

Thanks for the information. Office 2016 only supports the Excel APIs up through requirement set 1.1. You can view [platform support here](https://docs.microsoft.com/office/dev/add-ins/overview/office-add-in-availability) and the support of [specific Excel builds here](https://docs.microsoft.com/office/dev/add-ins/reference/requirement-sets/excel-api-requirement-sets).

[Workb

[2019-03-18 17:09] #351 closed

[2019-03-18 17:46] AlexJerabek commented on #354
Hi @MakotoE,

Thanks for reporting this. I've successfully reproduced the issue. I'll investigate the exact limitations with the product team and report back.

[2019-03-20 16:09] ElizabethSamuel-MSFT commented on #355
@exextoc Can you take a look? Thanks.

[2019-03-20 23:25] exextoc commented on #355
Currently, displayNewMessageForm failing when the popup blocker is enabled is by-design. The features you suggested are currently not part of the product. We track Outlook add-in feature requests on our [user-voice page](https://officespdev.uservoice.com/forums/224641-general/category/131778-outlook-add-ins). Please add your request there. Feature requests on user-voice are considered when we go t

[2019-03-21 00:16] Rick-Kirkham commented on #141
I'm transferring this to office-js because its a bug in `ContentControlCollection.getItem()`. It should take the index of the CC in the collection, but instead it takes the ID of the CC. There's already a `getByID()` method that does this.

[2019-03-21 00:23] Rick-Kirkham commented on #168
Pinged Komal Sachdeva.

[2019-03-21 00:48] #348 closed

[2019-03-21 17:51] AlexJerabek commented on #306
Hi @sivakrishna0205,

I'm going to close this issue because I believe it is the same problem as #351. If that is not the case and there is a problem with our samples, please reply to this thread. Thank you.

[2019-03-21 17:51] #306 closed

[2019-03-21 18:01] ElizabethSamuel-MSFT commented on #355
Thx @exextoc for your response.

@garrit-schroeder Thanks for raising this issue and I hope you do add it to User Voice. I'll close this issue now.

Thanks.

[2019-03-21 18:01] #355 closed

[2019-03-21 18:09] AlexJerabek commented on #354
Hi @MakotoE,

I'm still following up with the product team for exact details, but it looks like the limit isn't with the number of rows, but rather the payload size for request messages to Excel Online. Once I get the specifics, I'll update the concept pages accordingly ([this section](https://docs.microsoft.com/office/dev/add-ins/excel/excel-add-ins-core-concepts#read-or-write-to-a-large-range) s

[2019-03-21 20:07] Rick-Kirkham commented on #252
The documentation has been fixed in the source. It should be in the public docs in a few days.

[2019-03-21 20:07] #252 closed

[2019-03-28 17:12] Rick-Kirkham commented on #168
@MichaelPolla I finally got this information. The blog post that you linked to is misleading. You should ignore the phrase "or any external web page". We hope someday to support this, but it is not supported at this time. I have set things in motion to correct the blog post (which is on _developer_.microsoft.com). Since this issues in this repo are for errors in the main Office developer documenta

[2019-03-28 17:12] #168 closed

[2019-04-01 16:32] rodrigoguariento opened #362 "Office.context.mailbox.item.location object not recognized correctly"
Resource/room selected with Office.context.mailbox.item.location.setAsync is being treated differently of Outlook web and Microsoft Office Outlook selection. Using this code a simple text is being written at Office.context.mailbox.item.location, without references to resource (room) created in Admin Center 365. The outcome is that we can't see the scheduling of this resource/room. See: https://git

[2019-04-02 18:24] ElizabethSamuel-MSFT commented on #362
Thanks for raising this. Depending on what the investigation reveals, we'll update the docs accordingly.

[2019-04-10 16:43] tong-1324 opened #372 "missing a semicolon in the example"
missing a semicolon after this line var controlBackgroundColor = Office.context.officeTheme.controlBackgroundColor in the example

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 57500af6-fb91-7a89-58aa-4c604b412bed
* Version Independent ID: f356c836-0840-558e-121e-4b68d7b3d741
* Content: [Office.OfficeTheme interface -

[2019-04-10 19:53] #362 closed

[2019-04-10 19:53] exextoc commented on #362
Please see comments on the linked issue.

[2019-04-11 17:03] AlexJerabek commented on #372
This is fixed with PR #374, which will be merged to the live branch soon.

[2019-04-11 17:03] #372 closed

[2019-04-19 20:02] Rick-Kirkham commented on #384
Looks like there was some internal miscommunication about this issue. I've transferred it back to the reference documentation repo.

[2019-04-19 22:49] Rick-Kirkham commented on #384
This is fixed in the source file. Several other Collection classes in Word and Excel needed the same fix. The process of publishing a fixed API description for the Rich APIs is longer than for Common APIs, but I believe the fix should be published in the next couple of weeks.

[2019-04-19 22:49] #384 closed

[2019-04-25 18:21] AlexJerabek commented on #354
Hi @MakotoE,

The payload size limit for any Excel Online request or response is 5MB. I've added a note to the documentation that says as much in [this PR](https://github.com/OfficeDev/office-js-docs-pr/pull/920). Since the issue is broader then just the range object, I'll leave the page referenced in this issue alone.

The advice I received from engineering is to use the [developer tools](https:/

[2019-04-25 20:46] #354 closed

[2019-05-15 23:48] vaquierm opened #403 "Arguments for add(content, cellAddress, contentType)"
The argument cellAddress can be an excel range. Maybe it could be nice to specify that the range object must be a singular cell. Cheers

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8de5a350-77d5-9694-63a0-e5e1160b171a
* Version Independent ID: bb8eaed0-6d9c-b1ef-2607-7bcea4211681
* Content: [Excel.CommentCollection c

[2019-05-17 20:42] fds-ssg opened #404 "Is "complete" defined somewhere?"
In just reading this page, it's not clear to what qualifies as a "complete" or "partial" match.  e.g., Does "complete" mean that the search string must match the entire cell contents?  Or is it more akin to a "whole word" requirement, in which case it would be helpful to know which characters constitute word components vs. word separators.

---
#### Document Details

⚠ *Do not edit this section. I

[2019-05-17 21:31] ElizabethSamuel-MSFT commented on #404
@AlexJerabek: Can you take a look. Thanks.

[2019-05-18 13:25] MichaelPolla commented on #168
@Rick-Kirkham , thanks for keeping me information even after all this time. I really appreciate it. Best regards.

[2019-05-21 21:35] aicglabs opened #406 "Double-Click Event Tracking How-to vs. WorksheetSingleClickedEventArgs"
How would one determine if a cell has been double-clicked?
Also, How would one be able to detect a right-click event?

These seems to be missing from the API for Excel.

Is there a coding solution for the above handling of user actions that you could share?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75f3cb21-a7f5-6

[2019-05-22 19:58] AlexJerabek commented on #403
Hi @vaquierm,

Thanks for the feedback. The function description does mention the single-cell scenario, but that information should also be in the parameter description. I'll get that in the docs soon.

[2019-05-22 21:19] AlexJerabek commented on #404
Hi @fds-ssg,

Thanks for your question. "Complete" does mean entire cell content, not whole word. We have a [Script Lab snippet](https://github.com/OfficeDev/office-js-snippets/blob/master/samples/excel/54-worksheet/worksheet-find-all.yaml) showcasing this behavior (we also have one for [Range.findText](https://github.com/OfficeDev/office-js-snippets/blob/master/samples/excel/42-range/range-find.y

[2019-05-22 21:21] AlexJerabek commented on #406
Hi @aicglabs,

Thanks for your question. This API is still under development, so these scenarios are still being considered. I'll pass your question on to the PMs and have them respond soon.

[2019-05-23 00:24] AlexJerabek commented on #406
Hi @aicglabs,
One of our Excel PMs will be following up with you soon. In the meantime, could you share more of your scenario with us? We're curious what your add-in needs to support.
Thanks!

[2019-05-23 00:53] lumine2008 commented on #406
Thanks @aicglabs, Would you please share us your scenario for double click, we would like to learn more about it.
So far we don't have double click event, the main reason is when user double click on a cell, it will enter the cell edit mode, our API will stop working when in cell edit mode. double click event will be trigger after it exit the cell edit mode.
for right click event, could you please

[2019-05-24 15:59] aicglabs commented on #406
@lumine2008 / @AlexJerabek ,
We are looking to have this event to capture some user actionability on data points that would allow for subsequent programmatic actions such as retrieving more data (detail data), or creating a chart or extra data, etc.

This double-clicking functionality was first noticed in this product which has an excel add-in, as described in some high-level detail with these lin

[2019-05-24 18:07] AlexJerabek commented on #406
Hi @aicglabs,
Just to clarify, are you looking for the double-click listener in the Excel worksheet or in the add-in's task pane?
Thanks!

[2019-05-24 18:21] aicglabs commented on #406
@AlexJerabek ,
left click double-click listener in the excel worksheet.

[2019-05-24 20:09] AlexJerabek commented on #403
Hi @vaquierm,
The suggested changes have been checked into the master branch of this repo (with [this PR](https://github.com/OfficeDev/office-js-docs-reference/pull/408)). They should be live soon.
I'll close this PR. Please respond to the thread if there are any other issues. Thanks!

[2019-05-24 20:09] #403 closed

[2019-05-24 20:09] AlexJerabek commented on #404
Hi @fds-ssg
The suggested changes have been checked into the master branch of this repo (with [this PR](https://github.com/OfficeDev/office-js-docs-reference/pull/408)). They should be live soon.
I'll close this PR. Please respond to the thread if there are any other issues. Thanks!

[2019-05-24 20:09] #404 closed

[2019-05-30 19:34] AlexJerabek commented on #406
Thanks @aicglabs. @lumine2008 will investigate this scenario's needs with regards to the next API release and reply back to this thread.

[2019-06-03 14:00] NT-D opened #413 "Error code table help developers to write conditional statement"
Hi  Office.js team,
This interface is really clear and I can understand definition, but let me share feedback for better developer experience. If the document provide error code table, developers can consider and write better conditional statements. Currently we don't have any info about what number is passed through `code` property.

Fortunately and unfortunately, I've never seen error in my envi

[2019-06-03 16:47] Rick-Kirkham commented on #413
Thanks for your interest in Office Add-ins. We have the error code table at: [JavaScript API for Office Error Codes](https://docs.microsoft.com/en-us/office/dev/add-ins/reference/javascript-api-for-office-error-codes). Please let us know if that doesn't meet your needs.

[2019-06-06 14:57] NT-D commented on #413
Thank you very much @Rick-Kirkham for your quick reply. Yes, this is what I want to see! I'll write my code referring this table.

I think it may be nice for other developers to add the table link to [Office.Error interface page](https://docs.microsoft.com/en-us/javascript/api/office/office.error?view=office-js). For example, you can change `Properties` table like below, and I think this link help

[2019-06-06 17:03] Rick-Kirkham commented on #413
Thanks. You have a good idea. I will make a work item for use to do this. When I've done that, I'll close this issue.
API reference pages, like this one, are generated from the source code. That's why there's no .md file for it.

[2019-06-07 13:13] NT-D commented on #413
Thank you! Are make sense. Auto generation is good for APIs and.

[2019-06-10 20:51] MichelLaplane opened #424 "Incorrect parameters in addOverlay sample"
There is an error in the sample.
Instead of
var overlayId=shape.view.addOverlay("Image", "Visio Online", "Center", "Center", 50, 50);
Tere must be

var overlayId=shape.view.addOverlay("Image", "Visio Online", "Center", "Middle",50,50);

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b3f19e7-3957-257a-1f22-bb0e13720c42

[2019-06-10 20:55] AlexJerabek commented on #424
Hi @MichelLaplane,
Thanks for reporting this. I'll verify the information and submit a PR addressing this soon.

[2019-06-10 21:30] AlexJerabek commented on #424
Hi @MichelLaplane,
The suggested fix has been checked in. The live site should be updated in the next couple days. I'll close the issue. Thanks again for reporting this.

[2019-06-10 21:30] #424 closed

[2019-06-12 18:40] Rick-Kirkham commented on #413
OK. The fix is now in the published reference: https://docs.microsoft.com/en-us/javascript/api/office/office.error?view=office-js#code

So I'll close this issue. Thanks again for pointing out this very valuable improvement in the documentation.

[2019-06-12 18:40] #413 closed

[2019-06-13 17:46] rmillman opened #429 "Mismatch in Title and description of page"
Is this for the pivot table collection or for the fields collection for a pivot table?  The title and description don't match.Is this for the pivot table collection or for the fields collection for a pivot table?  The title and description don't match.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e4db2db-2b15-e7cb-7

[2019-06-13 17:50] AlexJerabek commented on #429
Hi @rmillman,
Thanks for reporting this. You're right that a PivotFieldCollection is not a collection of PivotTables. I'm going to work with engineering to get a better description of the PivotTable object model and update the docs accordingly..

[2019-06-17 17:28] AlexJerabek commented on #429
Hi @rmillman,
The fixes to the PivotTable documentation have been checked in (#432). They'll be merged into the master branch soon. Thanks again for reporting this issue. I'll close it for now, but feel free to reply to the thread with any additional comments.

[2019-06-17 17:28] #429 closed

[2019-06-17 19:20] jakobpn opened #433 "Link to doc for return types"
Hi there, it would be awesome if this page had links to the documentation for the return types such as the Excel.WorksheetSingleClickedEventArgs type.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ecc449d8-02af-e5c1-9e6e-74fc9067ca62
* Version Independent ID: 6cc5351c-a26b-5d83-5b8b-df1b92ff3e3a
* Content: [Excel.Work

[2019-06-17 20:39] AlexJerabek commented on #433
Hi @jakobpn,
The lack of links in genericized types is a [known issue with our tooling chain] (https://github.com/Microsoft/web-build-tools/issues/867). In the meantime, I can help compensate by writing some sample code to showcase the return type's properties.

[2019-06-17 20:58] jakobpn commented on #433
Glad to hear that it being tracked. I can find the return type in the table of contents on the left of the page, but a link to the doc would speed things up.

[2019-06-25 19:32] AlexJerabek commented on #433
@jakobpn As an update, [this web-build-tools PR](https://github.com/microsoft/web-build-tools/pull/1337) will fix the linking issue. They still need to go through testing and approval, but I have verified the complex type linking will be fixed.

[2019-06-28 23:41] dtao opened #439 "Attempting to call range.select() followed by context.sync() on Mac results in RichApi.Error: ItemNotFound"
I have an add-in with some functionality to select a range in order to scroll to a particular position within a document. This works as expected in Office for the web, but in Office for Mac I get the following error when calling context.sync().then():

Unhandled Promise Rejection: RichApi.Error: ItemNotFound

It looks like the version of Word I'm using is 16.26 (19060901).

---
#### Document Detai

[2019-07-08 18:26] kbrandl opened #444 "Remove "Preview" from TOC node for Custom Functions"
Since Custom Functions is no longer in Preview, `- Preview` should be removed from the API Reference TOC node that's currently labeled `Custom Functions - Preview`.

![image](https://user-images.githubusercontent.com/3019529/60833498-34c2bf80-a173-11e9-947d-b2baa44eb250.png)

[2019-07-09 16:17] jamestm27 opened #445 "ChartFill"
When will transparency be available for ChartFill (https://docs.microsoft.com/en-us/javascript/api/excel/excel.chartfill?view=office-js)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b58c05c-4e49-dbad-70a5-3060e52a96ed
* Version Independent ID: 413ee37a-a6db-0f8f-265c-94af0469f0bf
* Content: [Excel.ShapeFill class -

[2019-07-10 22:39] plmayfield opened #449 "The property title isn't read only"
The documentation on this page for the title property indicates it is read only. It isn't.

This code runs fine  chart.axes.valueAxis.title.text = "Title";  //Excel API 1.1

It would seem useless if it were really read only.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e6384df-0fcf-23ab-8882-3722703f9d50
* Version I

[2019-07-10 23:15] AlexJerabek commented on #449
Hi @plmayfield,

This is a weird TypeScript nuance. The `title` property is read-only, but it's fields aren't. You can set the fields, but not the ChartTitle object (you can't set it this way: `chart.axes.valueAxis.title = {text: "Title"};` The [`charts` property](https://docs.microsoft.com/en-us/javascript/api/excel/excel.worksheet?view=office-js#charts) on the Worksheet is another example of thi

[2019-07-10 23:38] plmayfield commented on #449
Alex,

Thanks for the reply.

It didn’t make sense at first, but I’ve dug into it and can see that it returns the property of type Excel.ChartAxisTitle. Which is itself an object with also has a “text” property which is not read only (https://docs.microsoft.com/en-us/javascript/api/excel/excel.chartaxistitle?view=office-js).

It would seem like it should be chart.axes.valueAxis.ChartAxisTitle.text

[2019-07-10 23:52] AlexJerabek commented on #449
Hi @plmayfield,

I completely understand the C# -> JS/TS confusion; that was me a year ago. The book mentioned at the end of [this resources page](https://docs.microsoft.com/en-us/office/dev/add-ins/resources/resources-links-help) was pretty helpful for me.

Your best bet for coding questions is asking them over at [Stack Overflow](https://stackoverflow.com/questions/tagged/office-js) with the tag

[2019-07-10 23:52] #449 closed

[2019-07-11 00:45] plmayfield commented on #449
Alex,

Thanks. I’m about a years’ experience away from declaring anything a bug. I’m probably doing something wrong. Thanks for the help!

I’ve purchased the book.

Best Regards,

Philip Mayfield

From: Alex Jerabek <notifications@github.com>
Sent: Wednesday, July 10, 2019 7:53 PM
To: OfficeDev/office-js-docs-reference <office-js-docs-reference@noreply.github.com>
Cc: Philip Mayfield <philip.mayfi

[2019-07-11 21:44] AlexJerabek commented on #444
Fixed with #447.

[2019-07-11 21:44] #444 closed

[2019-08-02 05:01] freerangeeggs opened #461 "hostname values are incorrect"
The hostname field states that:
`A string that can be one of the following values: Outlook, Mac Outlook, OutlookIOS, or OutlookWebApp.`

This is not the case.
- When running Outlook on a Mac, the value returned is `Outlook`, not `Mac Outlook`. This is has been the case since 1.0
- Additionally, it can return OutlookAndroid.

I propose you change to:
`A string that can be one of the following value

[2019-08-02 05:02] freerangeeggs opened #462 "diagnostics.hostname values are incorrect"
The hostname field states that:
`A string that can be one of the following values: Outlook, Mac Outlook, OutlookIOS, or OutlookWebApp.`

This is not the case.
- When running Outlook on a Mac, the value returned is `Outlook`, not `Mac Outlook`. This is has been the case since 1.0
- Additionally, it can return OutlookAndroid.

I propose you change to:
`A string that can be one of the following value

[2019-08-02 07:36] AlexJerabek commented on #461
Hi @freerangeeggs,
Thanks for reporting this. I've tagged @ElizabethSamuel-MSFT, who will follow up with the fixes upstream in the reference documentation generation pipeline. Side-note, is #462 a duplicate issue?

[2019-08-02 16:02] ElizabethSamuel-MSFT commented on #461
@freerangeeggs Thanks for raising this issue. I've created a PR and it should be merged soon.

[2019-08-02 16:03] ElizabethSamuel-MSFT commented on #462
@freerangeeggs Thanks for raising this issue. I've created a PR and it should be merged soon.

[2019-08-02 20:09] AlexJerabek commented on #461
Hi @freerangeeggs,
It's totally fine to raise the issue on a per page basis. It's always better to be thorough with documentation.

[2019-08-05 20:01] #461 closed

[2019-08-05 20:01] #462 closed

[2019-08-05 22:57] freerangeeggs opened #469 "diagnostics.hostname values are incorrect"
The hostname field states that:
`A string that can be one of the following values: Outlook, Mac Outlook, OutlookIOS, or OutlookWebApp.`

This is not the case.
- When running Outlook on a Mac, the value returned is `Outlook`, not `Mac Outlook`. This is has been the case since 1.0
- Additionally, it can return OutlookAndroid.

I propose you change to:
`A string that can be one of the following value

[2019-08-05 23:00] freerangeeggs opened #470 "diagnostics.hostname values are incorrect"
The hostname field states that:
`A string that can be one of the following values: Outlook, Mac Outlook, OutlookIOS, or OutlookWebApp.`

This is not the case.
- When running Outlook on a Mac, the value returned is `Outlook`, not `Mac Outlook`. This is has been the case since 1.0
- Additionally, it can return OutlookAndroid.

I propose you change to:
`A string that can be one of the following value

[2019-08-05 23:02] ElizabethSamuel-MSFT commented on #469
@freerangeeggs The fixes haven't been published yet but should go live soon (likely tomorrow). The URLs are different because we updated how the reference documentation is organized.

I'll close this for now as the PRs referenced in the original issues should be the fix. If they do not fix them, let us know.

Thanks.

[2019-08-05 23:02] #469 closed

[2019-08-06 00:20] exextoc commented on #470
This is a documentation bug. For Outlook on Mac, diagnostics.hostname will return `Outlook`.

[2019-08-06 15:14] ElizabethSamuel-MSFT commented on #470
This has already been resolved. See remarks on issue https://github.com/OfficeDev/office-js-docs-reference/issues/469. Thanks.

[2019-08-06 15:14] #470 closed

[2019-08-06 16:22] AlexJerabek commented on #406
Hi @aicglabs

@lumine2008 and I discussed the possibility of a double click listener. It's not currently on the roadmap, as there are some technical hurdles to clear (like the aforementioned cell-edit mode context switch). It certainly could be a feature in the future with enough community demand. I'd recommend heading over to [UserVoice](https://officespdev.uservoice.com/) and creating a request.

[2019-08-06 16:22] #406 closed

[2019-08-06 17:12] wamaina commented on #433
@AlexJerabek, are there any updates on this?

[2019-08-06 17:13] AlexJerabek commented on #433
@wamaina This is still blocked on https://github.com/microsoft/web-build-tools/pull/1337.

[2019-08-07 00:16] freerangeeggs commented on #469
Hi @ElizabethSamuel-MSFT
Thanks for your response, but I am not seeing the change in the docs. How can this be considered closed?

[2019-08-07 16:17] ElizabethSamuel-MSFT commented on #469
@freerangeeggs The changes should be live now. Can you confirm? Thanks.

[2019-08-07 22:48] freerangeeggs commented on #469
Looks great, thanks!

[2019-08-14 05:56] hello-chenchen opened #484 "for getTypeAsync api"
why we can get html or text, not both of them or which i want to get. and can i change it? if can, maybe you can provide an api, maybe just like setTypeAsync.
thanks a lot.

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: 0498adf2-3f86-3520-82c2-df88e6ea4b95
* Version Independent ID: 347c34b6-0586-9ce5-2c84-ae010c27b276
* Content: [Office.Body interface - Office Add-i

[2019-08-14 09:38] kakusharma opened #489 "getSelectedRegExMatches() doesn't work in the Outlook 2013 desktop client"
Office.context.mailbox.item.getSelectedRegExMatches() returns null in Outlook 2013 desktop experience while returning an expected array of one match in the web client.
## Expected Behavior

Using contextual add-in, when I open the add-in in outlook 2013 desktop client, it should return the array of all the matched texts.

## Current Behavior

Instead of returning the list of the matched texts, its

[2019-08-14 19:20] kbrandl opened #485 "Overview folder needs a toc.yml file"
Currently there's no `toc.yml` file in the `overview` folder, which results in there being no TOC, breadcrumbs, or "PDF download" link displayed when the [Overview page is loaded without the `view` parameter in the URL](https://docs.microsoft.com/en-us/javascript/api/overview/overview).

![image](https://user-images.githubusercontent.com/3019529/63049438-8c003200-be8d-11e9-8ac7-fb5969bfcfe2.png)

[2019-08-15 21:26] #485 closed

[2019-08-22 04:35] openmindgap opened #493 "AttachHandler error"
"OSF is not defined"

Fix:
Visio.run(function(ctx)...
should be
Visio.run(session, function(ctx)...

as per this issue report https://github.com/OfficeDev/office-js-docs/issues/1375

Please make the documentation more verbose, for example where to call AddHandler()

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 337c4e4

[2019-08-22 16:49] AlexJerabek commented on #493
Hi @openmindgap,

I'll correct the error in the sample. I'll also investigate how to best improve the documentation. In the meantime, I'd recommend either asking about your Visio add-in's design on [StackOverflow](https://stackoverflow.com/questions/tagged/office-js)  using the "office-js" tag, looking at the eventing [documents](https://docs.microsoft.com/office/dev/add-ins/excel/excel-add-ins-ev

[2019-08-22 19:56] AlexJerabek commented on #493
Hi @openmindgap,

I've corrected the sample code to use the `session` parameter. Those changes should be live in the documentation soon.

As for the larger sample on integrating the event handlers into your Visio add-in, we'll add that work to the documentation team's backlog. Off-hand, you should be able to add the handlers in your add-in's initialization logic. In [this sample](https://docs.micr

[2019-08-22 19:56] #493 closed

[2019-08-23 21:34] ElizabethSamuel-MSFT commented on #489
@kakusharma I've created pull requests to update the docs to note that contextual add-ins and DetectedEntity are available to clients that support requirement set 1.6 or later. Apologies for the confusion and let us know if we can update or clarify anything else related to this issue.

The changes should be merged and published soon (likely next week).

Thanks.

[2019-08-25 17:59] wandyezj opened #497 "insertParagraph can not currently take the values of "Start" | "End" | "Replace" yet they are documented in the intellisense"
this is a tooling bug and may result from additional parameters being added without these parameters being supported. Versioning must be done at the function level since there can be multiple versions of the same function.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e082532e-3f42-b930-bd53-fa87e3fe6897
* Version Ind

[2019-08-29 17:55] ElizabethSamuel-MSFT commented on #489
@kakusharma These changes should now be live.

Thanks.

[2019-08-29 17:55] #489 closed

[2019-09-03 23:14] Rick-Kirkham opened #504 "Error in code samples"
The code samples for the find and findOrNullObject methods have errors. The 2nd parameter just repeats the names of the three properties instead of assigning actually possible values. The line should look like this:
const foundRange = searchRange.findOrNullObject($("#searchText").text(), {
        completeMatch: false,
        matchCase: false,
        searchDirection: forward});

---
#### Documen

[2019-09-03 23:21] Rick-Kirkham opened #505 "CompleteMatch property description is missing crucial point"
The description of the completeMatch property should make clear that a partial match is a cell that *begins with the exact string that is passed as the search text*. So 'total rent charged' is a partial match of 'total rent'; but 'total unit rent' is not a partial match of 'total rent'. See this SO question for context: https://stackoverflow.com/questions/57776552/how-can-i-properly-implement-rang

[2019-09-03 23:37] AlexJerabek commented on #504
Thanks @Rick-Kirkham. The upstream sample file uses duplicate names for the local and global variables. https://github.com/OfficeDev/office-js-snippets/pull/345 should fix this.

[2019-09-04 18:48] AlexJerabek commented on #505
@Rick-Kirkham. Thanks for raising this. I'll clarify the description.

For the record, a partial match doesn't have to begin with the search text. 'unit' would partially match 'total unit rent'. The SO customer could possibly use 'rent' as their search parameter.

[2019-09-04 18:49] AlexJerabek commented on #505
@Rick-Kirkham How does this sound?

"Specifies whether the match needs to be complete or partial. A complete match matches the entire contents of the cell. A partial match matches a substring within the content of the cell. Default is false (partial)."

[2019-09-04 18:55] Rick-Kirkham commented on #505
@AlexJerabek That sounds fine. I recommend adding a couple of simple examples too.

[2019-09-04 19:03] AlexJerabek commented on #505
Thanks @Rick-Kirkham. I've sumbitted a PR to Definitely Typed: https://github.com/DefinitelyTyped/DefinitelyTyped/pull/38137

[2019-09-05 19:25] AlexJerabek commented on #504
Fixed with #506. Closing the issue.

[2019-09-05 19:25] #504 closed

[2019-09-08 11:15] MariamSamy0 opened #508 "Missing numbering.xml in getOoxml()"
When using getOoxml() to get the document xml, the numbering.xml package is not included:

Word.run(function (context) {
var body = context.document.body;
var contentXML= body.getOoxml();

return context.sync().then(function () {
    console.log("Body OOXML contents: " + contentXML.value);
});
})

The word/styles.xml, word/fontTable.xml, theme1.xml, etc. are included but without the numbering.xml

[2019-09-09 03:24] Rick-Kirkham commented on #508
We use the issues in this repo to track errors in the documentation. Please raise technical issues like this on StackOverflow. Be sure to tag your question `office-js`. Thanks.

[2019-09-09 03:24] #508 closed

[2019-09-11 21:56] AlexJerabek commented on #433
@jaokbpn This should be fixed by https://github.com/OfficeDev/office-js-docs-reference/pull/510. Those changes will make it to the live site soon. I'll close this issue now.

[2019-09-11 21:56] #433 closed

[2019-09-11 21:58] AlexJerabek commented on #505
This should be fixed by https://github.com/OfficeDev/office-js-docs-reference/pull/510. Closing the issue.

[2019-09-11 21:58] #505 closed

[2019-10-01 19:50] yanli0303 opened #519 "Is there a way to get all recipients in `to` or `cc` fields?"
It is mentioned in documentation of `Office.MessageRead.to` that:

This limitation is working correctly, if I have an message which was sent to more than 100 recipients, I can only get 100 of email addresses with `Office.context.mailbox.item.to`.

No similar limitation is mentioned in documentation of `Office.AppointmentRead.requiredAttendees`, but I can only get 100 of email addresses with `Offic

[2019-10-30 14:55] timothyhoffmann opened #536 "class stripped from <div /> when doing a setAsync"
If doing a setAsync with HTML, the "class" attribute of any &lt;div /&gt; seems to be stripped when the body is viewed on the saved event.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0498adf2-3f86-3520-82c2-df88e6ea4b95
* Version Independent ID: 347c34b6-0586-9ce5-2c84-ae010c27b276
* Content: [Office.Body interface

[2019-11-08 08:02] hello-chenchen opened #552 "getEntitiesByType function is undefined"
when i use the example:
`
var item = Office.context.mailbox.item;
var urls = item.getEntitiesByType(Office.MailboxEnums.EntityType.Url);
`
i found that: the getEntitiesByType function is undefined

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8297edd-d7f5-e490-fec8-b7f478eab4d5
* Version Independent ID: b828821a-2bc7

[2019-11-12 12:01] zakhan4 opened #553 "Office.initialize() not available in excel on mac?"
Is this information correct which is given in the supported platforms for Office.initialize() on Excel Mac here: https://docs.microsoft.com/en-us/javascript/api/office?view=word-js-preview#office-initialize-reason-

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5530f30f-9d7b-a2e2-b30f-098556733c73
* Version Independent

[2019-11-12 12:02] zakhan4 opened #554 "Office.context.displayLanguage not available on Mac?"
Is this information correct which is given in the supported platforms for Office.context.displayLanguage on Excel Mac here: https://docs.microsoft.com/en-us/javascript/api/office/office.context?view=word-js-preview#displaylanguage

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c1424764-ecfa-4f54-7e20-a873e9f52698
* Ver

[2019-11-13 02:10] wandyezj opened #555 "Table.name documentation should include a more precise definition of allowable strings"
Table names;
- must be unique in the workbook
- must start with and _ or letter
- must __not__ include a space (or other unallowable character?)

It would be best to provide a regex that precisely describes what characters are allowed.

The error message is quite vague and it took quite a bit of experimentation to figure out why the API call was failing.

---
#### Document Details

⚠ *Do not edit

[2019-11-13 18:10] AlexJerabek commented on #555
Hi @wandyezj,
I've created an [internal item](https://office.visualstudio.com/OC/_workitems/edit/3775916) to document the table name setting behavior. Thanks!

[2019-11-14 18:52] KoenZomers opened #556 "Sample needs to also load color"
The sample on this page outputing this string to the console: "Property values of the first content control:" lacks loading the color property which it uses to write to the console thereby throwing an exception. Just add loading the color property (so not font\color) to the code and it works well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2019-11-15 16:50] AlexJerabek commented on #556
Thanks for reporting this @KoenZomers. I'll fix the sample to properly load the `color` property.

[2019-11-15 17:06] AlexJerabek commented on #553
Assigning @Rick-Kirkham to investigate.

[2019-11-19 17:55] #556 closed

[2019-11-19 18:02] Rick-Kirkham commented on #554
Thanks for your interest in Office Add-ins. That Support details table is very old. I'm investigating whether it is still accurate.

[2019-11-19 18:02] Rick-Kirkham commented on #553
Thanks for your interest in Office Add-ins. That Support details table is very old. I'm investigating whether it is still accurate.

[2019-11-20 20:11] AlexJerabek opened #560 "Snippet for MessageRead.internetHeaders is present, but that property isn't"
## Article URL
https://docs.microsoft.com/en-us/javascript/api/outlook/office.messageread?view=outlook-js-preview

## Issue
There's the a snippet for `MessageRead.internetHeaders` but no `MessageRead.internetHeaders`. Either the snippet is pointing to the wrong location or the property should be in the type definitions.

[2019-11-20 20:25] ElizabethSamuel-MSFT commented on #560
@AlexJerabek Where is the snippet?

[2019-11-20 20:28] AlexJerabek commented on #560
@ElizabethSamuel-MSFT docs/code-snippets/outlook-snippets.yaml

[2019-11-20 20:32] ElizabethSamuel-MSFT commented on #560
@AlexJerabek Thanks for pointing this out. MessageRead no longer supports the internetHeaders property and getAllInternetHeadersAsync method replaced it. I'll remove this snippet.

[2019-11-20 21:07] #560 closed

[2019-11-28 08:13] lxvii-github opened #569 "O should be capitalized in office.context.ui.messageParent"
Clearly it is a typo

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df1fde12-982a-2f60-54ca-375968a29f33
* Version Independent ID: 7ed56398-e6be-f624-f76d-8982c36fa81a
* Content: [Office.UI interface - Office Add-ins](https://docs.microsoft.com/en-us/javascript/api/office/office.ui?view=word-js-preview#feedback)
* Cont

[2019-12-02 16:41] ElizabethSamuel-MSFT commented on #569
@lxvii-github Thanks for pointing this out. We'll get this updated.

Thanks.

[2019-12-02 17:23] ElizabethSamuel-MSFT commented on #569
Upstream change in PR https://github.com/DefinitelyTyped/DefinitelyTyped/pull/40637. Once that's merged, updates should flow into this repo (office-js-docs-reference) soon after that.

[2019-12-03 17:28] ElizabethSamuel-MSFT commented on #569
@lxvii-github This has been fixed in PR https://github.com/OfficeDev/office-js-docs-reference/pull/570. The changes should be published soon. Thanks again for raising this issue.

[2019-12-03 20:59] ElizabethSamuel-MSFT commented on #569
@lxvii-github The fix should be live now so I'll go ahead and close this issue now.

Thanks.

[2019-12-03 20:59] #569 closed

[2019-12-05 03:54] neoblackcap commented on #504
The code sample for excel.Excel.Range.getOffsetRange methods has error. The later range.address should be "H3:J5" not "H3:K5"

[2019-12-05 03:55] neoblackcap opened #572 "Error in code samples"
The code sample for excel.Excel.Range.getOffsetRange methods has error. The later range.address should be "H3:J5" not "H3:K5"

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: 91eea38b-5448-965d-f938-c3d13db9dccf
* Version Independent ID: 09f81d36-d60d-3b72-467f-c9335c1e91d0
* Content: [Excel.Range class - Office Add-ins](https://docs.microsoft.com/zh-cn/javascript/api

[2019-12-05 17:14] AlexJerabek commented on #572
Thanks for reporting this @neoblackcap. I'll look into the sample and make the appropriate changes.

[2019-12-05 19:20] #572 closed

[2019-12-06 01:00] AlexJerabek commented on #555
Upstream change: https://github.com/DefinitelyTyped/DefinitelyTyped/pull/40867

[2019-12-12 23:48] redcirkle opened #578 "Can't set Excel.Range.formulas and Excel.Range.values with single string value"
## Article URL
https://docs.microsoft.com/en-us/javascript/api/excel/excel.range?view=excel-js-preview#feedback

## Issue
Many Excel.Range properties like `formulas`, `values`, and `numberFormat` include text that says "When setting <PROPERTY> to a range, the <PROPERTY> argument can be either a single value (string, number or boolean) or a two-dimensional array. If the argument is a single value,

[2019-12-13 18:53] AlexJerabek commented on #578
Hi @redcirkle,

Thanks for raising this issue. I've added a work item to add more samples around these scenarios.

As for your difficulties setting range properties with single values, have you posted your questions on [Stack Overflow](http://stackoverflow.com/questions/tagged/office-js)? I'm also tagging @wandyezj to investigate.

[2019-12-17 17:09] ZinatWali opened #579 "Issue"
I am using code based on this page:

function customPropsCallback(asyncResult) {
    var customProps = asyncResult.value;
    console.log(customProps);
    var myProp = customProps.get("myProp");
    console.log(myProp);
    customProps.set("otherProp", "value");
    customProps.saveAsync(saveCallback);
}

myProp is always coming as undefined. But customProps has the value previously stored in myP

[2019-12-17 18:40] AlexJerabek commented on #555
I missed updating the thread a couple weeks ago. This change is live in the docs.

[2019-12-17 18:40] #555 closed

[2019-12-18 15:53] beingsagir opened #580 "should be an option for the color of the highlighted content."
i am not talking abt changint the color of the content but the color of selection. which is always grey.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4601bd49-ceb7-7081-517a-716236f5f9df
* Version Independent ID: cbeeca05-b501-3be5-c7e7-b7825aae8e57
* Content: [Word.SelectionMode enum - Office Add-ins](https://docs.m

[2019-12-18 17:03] AlexJerabek commented on #580
Hi @beingsagir

Thank you for your interest in Office Add-ins and your desire to see the platform expand. I'd recommend posting this feature request on [UserVoice](https://officespdev.uservoice.com/). That way, the community can upvote it and help us prioritize our future releases.

I'm going to close this issue, as this repo is for the Office Add-ins reference documentation and issues with that c

[2019-12-18 17:03] #580 closed

[2019-12-31 00:29] AlexJerabek opened #589 "Should Outlook.SourceProperty be listed under MailboxEnums?"
This enum is under the base package, not MailboxEnums. Is that correct?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f571c68c-83ca-6281-4292-7701ddcccf40
* Version Independent ID: eee8ec7d-7515-ab97-c228-c1b01390c30f
* Content: [Office.SourceProperty enum - Office Add-ins](https://docs.microsoft.com/en-us/javascript/

[2020-01-03 19:20] AlexJerabek commented on #578
Hi @redcirkle,

Thank you for your patience.

It does appear you can set values, formulas, and numberFormats with a single string (not a single-celled 2D-array). Here's the gist showing that: https://gist.github.com/AlexJerabek/df7e9ca516dca8a4312f94e7459d8756

[code]

Of course, that doesn't compile in TypeScript, since those properties are all listed as type `any[][]` in the type definition file

[2020-01-08 22:36] AlexJerabek commented on #553
@Rick-Kirkham  Was there any update on this investigation?

[2020-01-08 23:19] Rick-Kirkham commented on #553
@AlexJerabek Still haven't heard from the relevant experts. I'll ping them again.

[2020-01-22 21:46] ElizabethSamuel-MSFT commented on #589
@AlexJerabek Thanks for raising this issue. The documentation has been updated and the fix should be published soon.

Thanks.

[2020-01-22 21:46] #589 closed

[2020-01-22 22:23] amiram opened #607 "Type definition of RecipientsChangedEventArgs is wrong"
## Expected Behavior
When you get the RecipientsChanged event in outlook, the object looks like:
[code]
## Current Behavior
In the ts definition file, the RecipientsChangedEventArgs looks like:
[code]

I can make a pull request to fix the ts file if you'd like me to.

## Your Environment

* Platform [PC desktop, Mac, iOS, Office Online]: PC Desktop
* Host [Excel, Word, PowerPoint, etc.]: Outlook
*

[2020-01-22 22:44] wandyezj opened #603 "isSetSupported has unspecified names."
What names and versions are available?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5ca7e2a8-0ed0-80a1-15e6-7dda0d7616b9
* Version Independent ID: b2ed2c73-bfbe-7b82-2ffe-687db9e9a538
* Content: [OfficeRuntime.ApiInformation interface - Office Add-ins](https://docs.microsoft.com/en-us/javascript/api/office-runtime/of

[2020-01-22 22:47] wandyezj opened #604 "Is OfficeRuntime.Storage only available for custom functions?"
I see that that API Set is CustomFunctionsRuntime 1.1, is this API only available for Excel and Custom Functions?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e8b9b4ae-c0e2-6ca5-53b1-5fe4a6901dbb
* Version Independent ID: 7a691d06-b135-c724-db66-25af1341d7a1
* Content: [OfficeRuntime.Storage interface - Office Add-in

[2020-01-23 17:01] Andrew-AnalysisPlace opened #605 "Embed Excel Example"
If it is possible, please provide an example of how to embed an Excel workbook and then control it via Office.js. I can only find Visio examples (https://docs.microsoft.com/en-us/office/dev/add-ins/reference/overview/visio-javascript-reference-overview). Or if Excel is not supported, please indicate what hosts are (or will likely be) supported.

---
#### Document Details

⚠ *Do not edit this secti

[2020-01-23 19:15] BrendanJiang opened #606 "Comment of "timeZone" is obviously wrong"
It's an obvious copy error by commenting "timeZone" as "Gets the user's SMTP email address.".

In fact I'd like to know what time zone ID this property shows, Windows, Rails, or Iana. Could you please specify this as well?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32ddf3ef-2ff6-0046-19a4-191578b09135
* Version Ind

[2020-01-23 20:17] AlexJerabek commented on #603
Hi @wandyezj,
Requirement sets are listed on the [Office versions and requirement sets](https://docs.microsoft.com/office/dev/add-ins/develop/office-versions-and-requirement-sets).

[2020-01-23 20:17] #603 closed

[2020-01-23 20:20] AlexJerabek commented on #604
Hi @wandyezj
Yes. Please see [Custom Functions requirement sets](https://docs.microsoft.com/office/dev/add-ins/excel/custom-functions-requirement-sets) for details.

[2020-01-23 20:20] #604 closed

[2020-01-23 20:28] AlexJerabek commented on #605
Hi @Andrew-AnalysisPlace,

Currently, the embed scenario that’s described in the [Visio JavaScript API overview]( https://docs.microsoft.com/office/dev/add-ins/reference/overview/visio-javascript-reference-overview) article is only supported for Visio. I am not aware of any plans to expand this feature to other hosts, such as Excel, in the near future. I’d suggest that you post this feature reques

[2020-01-23 20:28] #605 closed

[2020-01-27 19:37] #578 closed

[2020-01-27 19:39] AlexJerabek commented on #607
This has been addressed in the documentation. The fix has been checked in to the master branch all will be made live in the coming days.

I'll close the issue, but please respond if there are further concerns. Thanks!

[2020-01-27 19:39] #607 closed

[2020-01-27 19:41] AlexJerabek commented on #578
Hi @redcirkle,

We have updated the documentation to remove mentions of setting array-based properties with single values. While it's possible, it goes against the TypeScript definitions and will be difficult to document. We're investigating adding methods to deliver the same functionality in an easily explainable and TypeScript-friendly manner.

[2020-02-13 22:55] janisdd opened #631 "Excel.range.getImage() on mac"
So far I've enjoyed the docs and usage of office js.
However, I tried using this function `range.getImage()` on a mac (excel 16.34) and it's not working properly. There exists already an issue here https://github.com/OfficeDev/office-js/issues/235.

I would suggest that there should exists some kind of reference to this issue in the docs as this function cannot be used properly on some platforms (

[2020-02-13 23:33] AlexJerabek commented on #631
Hi @janisdd,
Thank you for reporting this documentation gap. I'll add a note about the issue with `Range.getImage` on Mac in [DefinitelyTyped](https://github.com/DefinitelyTyped/DefinitelyTyped/), which is the source of truth for the Excel JavaScript documentation.

[2020-02-14 00:19] AlexJerabek commented on #631
Upstream change: https://github.com/DefinitelyTyped/DefinitelyTyped/pull/42361

[2020-02-14 19:00] #631 closed

[2020-02-14 21:17] AlexJerabek commented on #631
Thanks again for reporting this @janisdd. The documentation changes should be merged into the live branch and displayed on the docs site shortly. Please let us know if you spot any other issues.

[2020-02-24 22:12] schmkr commented on #192
Hi @exextoc, I would like to add here, this same bug also is still present in Exchange 2019.

As reported by our colleague @sarea in OfficeDev/office-js#991, some customers of us are facing CORS issues when they try to run our (self-hosted) OWA Add-in on their Exchange 2019 server, when our Add-In is trying to request the rest API that is defined at `Office.context.mailbox.restUrl`.

We have tried

[2020-02-25 10:46] Levure opened #637 "Examples request for SharedProperties interface"
Hello the team !

I can't find any of the listed properties (of SharedProperties interface) in `Office.context.mailbox.item`, I must miss something. Can you, please, add some examples ?

I already checked that my add-in uses the Outlook Javascript API 1.8 :
`Office.context.requirements.isSetSupported('Mailbox', '1.8')` returns true

Can you also provide an example to show how we can check if a mai

[2020-02-25 14:34] AlexJerabek commented on #637
Hi @Levure,
Thank you for the sample request. I'll tag @ElizabethSamuel-MSFT to add the appropriate code samples.

[2020-02-25 15:00] Levure commented on #637
I don't know how I found it, but I finally found one code sample on https://docs.microsoft.com/en-us/javascript/api/outlook/office.messageread?view=outlook-js-preview#getsharedpropertiesasync-options--callback-

May I suggest to add a link to that page on https://docs.microsoft.com/en-us/javascript/api/outlook/office.sharedproperties?view=outlook-js-1.8 ?

Regards,

[2020-02-25 17:22] ElizabethSamuel-MSFT commented on #637
@Levure I'm glad you found a code sample. The [article on delegate access](https://docs.microsoft.com/office/dev/add-ins/outlook/delegate-access) may also be helpful.

Thanks for the suggestion to add code samples to the SharedProperties object.

[2020-02-25 22:00] ElizabethSamuel-MSFT commented on #637
@Levure We've updated the documentation and the fix should be published soon (most likely today).

Thanks.

[2020-02-25 22:00] #637 closed

[2020-02-27 09:15] hyzhang opened #642 "autofitColumns() autofits the width according to the whole column's content's length rather than current page's"
autofitColumns's doc is Changes the width of the columns of the current range to achieve the best fit, based on the current data in the columns. Although it's based on data in the columns, but it also says changes the width of the current range

Example: if I input a long string 'aaaaaaaaaaaaa' in A1, and input 'aa' in A2, and ctx.workbook.worksheets.getActiveWorksheet().getRange(`A2`).format.auto

[2020-03-01 04:38] safwatalikhan opened #644 "Any way of using Word APIs for Powerpoint add in?"
The powerpoint api is very limited and the documentation suggests to use common api for ppt add ins. But is there a way I can use Word API in a powerpoint add in? There are many common functionalities, such as: alignment, indentation modification that is available in Word API but not in common.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2020-03-02 18:15] AlexJerabek commented on #644
Hi @safwatalikhan,

Thank you for your question. The Word APIs are specific to Word and cannot be used in any other host. You can read about the differences between the Host-specific APIs and the Common APIs [here](https://docs.microsoft.com/office/dev/add-ins/develop/understanding-the-javascript-api-for-office?view=excel-js-preview#api-models).

I'd recommend going to UserVoice and voting for [th

[2020-03-02 18:15] #644 closed

[2020-03-04 20:34] timothyhoffmann opened #645 "Not a real useful feature"
Given that the SaveAsync method doesn't really "save" the data and it gets reset to default (see "Important" note at the top of the page) means this API method is not dependable enough to actually use.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 48ebc3bd-026b-1f53-9759-d08f528b1a5b
* Version Independent ID: a5b370a0

[2020-03-23 15:33] benj-spectory opened #663 "js freezes when using officeRuntime.storage functions"
Hi,
office 365 version 2002 (installed on the computer - not on the browser), - win 10

i have a weird bug.
i have a select, and a button elements in the HTML page.
when i press the button i'm using the getItems([...]) function -&gt; this works
when i change the select to a different option (even if i change it back to the first option) and i press the button and using the  getItems([...]) functio

[2020-03-24 19:56] Ofer-Gal opened #665 "Examples for Properties read and write during file upload"
Where can I find examples of Properties read and write between the file upload and save somewhere else?

I am using the @progress/kendo-react-upload component for the upload and the file.getRawFile() to get the bytes and save them in SharePoint.
I would like to read and write some properties like title, tag and maybe add a custom property before the save to Sharepoint.
Thank you

---
#### Document

[2020-03-25 20:43] AlexJerabek commented on #665
Hi @Ofer-Gal,

To use properties with Office JavaScript library, you're going to have to read and write them while the document is open in Office (Word, in this case). If you'd like to read and write them server-side, you'll need to work with the [Open XML](https://docs.microsoft.com/office/open-xml/open-xml-sdk).

This level of programming question feels appropriate for [Stack Overflow](http://st

[2020-03-25 20:43] #665 closed

[2020-04-01 01:16] extremeandy commented on #354
Is there any updated advice on dealing with this?

We have a dynamic payload that we insert into a range using the JS API. I thought perhaps just summing up all the lengths of the `JSON.stringify`d values we're writing would give a reasonable estimate, but it's wildly off.

[2020-04-01 16:57] AlexJerabek commented on #354
Hi @extremeandy,

I'll forward your question on to the product and get some guidance for your scenario. In the meantime, could you please post this question on [Stack Overflow](https://stackoverflow.com/questions/tagged/office-js), using the "office-js" tag *and reply back to this thread with the link)? That will help more developers find the answer and give the community an opportunity to share t

[2020-04-07 16:12] frantwo opened #678 "onSelectionChanged event"
I have not idea if here it is the correct site, but I would like to know if onSelectionChanged event still is in BETA version or already is available. I would like to use it but I don't find any example.
BR!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18b63cfd-c1ea-baed-f96f-b14664b384c5
* Version Independent ID: 52

[2020-04-07 16:57] AlexJerabek commented on #678
Hi @frantwo,

The `onSelectionChanged` event for the Word content control is still in preview.  We have no timeline for release, so I would recommend not using this API in a production add-in.

Please go to [UserVoice](https://officespdev.uservoice.com/) and either create a new request asking for the release of this feature or upvote an existing one. UserVoice helps us prioritize feature work base

[2020-04-07 19:22] frantwo commented on #678
Thank you very much for your time and quick answer!!
Your answer has been very useful for me. But if you want to help me more
then I would be pleased to know where I cam read examples to binding events
to the content controls.
Thank you very much again.

El mar., 7 abr. 2020 18:57, Alex Jerabek <notifications@github.com>
escribió:

[2020-04-08 13:44] pinetreeps opened #679 "context.document.getSelection() can't get Chinese characters"
I am do it in macOS
when I use sample by Script Lab
context.document.getSelection() can't get Chinese characters

[在此处输入反馈]

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: bd71647a-75de-038e-536a-7e56dd48ef3c
* Version Independent ID: a8bc56eb-0948-1ae0-0654-6b751ee9435f
* Content: [Word.Document class - Office Add-ins](https://docs.microsoft.com/zh-cn/javascript/api

[2020-04-08 17:22] AlexJerabek commented on #678
Hi @frantwo,

I'll transfer this issue to the office-js-snippets repo, where we store samples that are used in Script Lab and get placed in these reference docs. If you haven't tried using Script Lab to explore the APIs, I'd recommend it. Instructions on getting and using Script Lab can be found here: https://docs.microsoft.com/office/dev/add-ins/overview/explore-with-script-lab

[2020-04-09 07:26] frantwo opened #681 "The returns of Search"
I have create a content control over the word 'here' in the next example sentence:
"This sentence contents a content control here and the rest is normal."
I would like to search the word "here" and to know if exist any content control into the results of search. I have done several examples but the results of the search always are empty of content controls.
Is there any way to do it?
Thank you ver

[2020-04-09 08:37] gingerjia commented on #354
Could you use the [developer tools](https://docs.microsoft.com/office/dev/add-ins/testing/debug-add-ins-using-f12-developer-tools-on-windows-10) to check the payload size and confirm it meets the 5M limitation? Thanks.

[2020-04-09 16:15] Rick-Kirkham commented on #681
@frantwo Thanks for your interest in Office Add-ins. We use the issues in this repo to track problems with the documentation. Please raise this programming question on Stack Overflow and be sure to tag it `office-js`. Doing this will ensure that whole community benefits from the answers that you get.

[2020-04-09 16:15] #681 closed

[2020-04-12 08:34] extremeandy commented on #354
I've created a thread on Stack Overflow: https://stackoverflow.com/questions/61168748/how-to-ensure-that-excel-online-request-is-less-than-5mb-using-office-javascript

I'm pretty sure the payload is exceeding 5MB because if I batch the writes, it doesn't fail. I just don't know how to determine how much data I can write at run-time in order to size the batches correctly.

[2020-04-16 13:05] gingerjia commented on #354
Replied at above Stack Overflow thread. Thanks.
Also post the sample code here for reference:
   const newValues = [
  ["Date", "Product", "Sales", "Customers"],
  ["13/03/2020", "Chocolate biscuits", 598.00, 93],
  // ... and many more
];

for (let rowIndex = 0; rowIndex < newValues.length;) {
  const row = newValues[rowIndex];
  var bytes = JSON.stringify([row]).length;
  var valuesToSet = [];

[2020-04-25 16:49] hyzhang opened #692 "customXmlParts is undefined"
try to access customXmlParts	by calling Office.context.document.customXmlParts, but in runtime, it's undefined, same question was asked almost 3 years ago(https://stackoverflow.com/questions/44808543/unable-to-use-office-context-document-customxmlparts-addasync-method) but no answer, any idea please?
my office-js version is 1.0.52 and seems customXmlParts is included

---
#### Document Details

⚠

[2020-04-25 20:46] Rick-Kirkham commented on #692
See my answer to the Stack Overflow question. Since we use the issues of the repo to track problems with the documentation, not technical issues, I'm going to close this. Please follow-up as needed on the Stack question. If you are getting this error in a task pane or FunctionFile (that is; not in the Dialog), then please create a new Stack question. Thanks.

[2020-04-25 20:46] #692 closed

[2020-05-04 05:29] rwdevcontact opened #695 "cell.value = "" returns an error on Typescript."
In TypeScript when I try

let cell = ...// Word.TableCell
cell.value = ""

I get an (Invalid Argument, If I remember correctly) error.

But when I use Word.TableRow.insertCells(...), and give "" as part of cells it works.

I think cell.value = "" should work, and should not raise an error. If it is supposed to raise an error, it should be written in the documentation.

This is tested in Office 365

[2020-05-05 01:20] Sunpay opened #697 "Insert a mailMerge field into a word document"
I would like to insert MailMerges field into a Word document from a Word add-in. Previously I used [Visual Studio Tools for Office](https://docs.microsoft.com/en-us/dotnet/api/microsoft.office.tools.word.document.mailmerge?view=vsto-2017).

As an example:
_wordApp.ActiveDocument.MailMerge.Fields.Add(_wordApp.Selection.Range, fieldName);

I have looked at the newer JavaScript add-in framework for b

[2020-05-06 22:20] AlexJerabek commented on #697
Hi @Sunpay,

There is not an equivalent to the MailMerge object in the Word JavaScript APIs. You might be able to do this with OpenXML (I found [this sample](http://www.jarredcapellman.com/2012/10/22/c-openxml-mail-merge-complete-example/) after a quick search, though I can't verify its accuracy).

I'd recommend two things:
- Post your question on [StackOverflow](https://stackoverflow.com/question

[2020-05-06 22:20] #697 closed

[2020-05-07 09:04] wh1t3cAt1k opened #702 "What is the purpose of OfficeRuntime.storage if there is e.g. LocalStorage & IndexedDB"
I know that it is possible to use IndexedDB and LocalStorage inside an Office add-in (and I do, as I need to cache many megabytes of data for formula calculation).

What is the purpose of OfficeRuntime.storage as opposed to those browser-provided storage entities?

Would be good to clarify in the article.

[2020-05-07 18:00] mscharlock commented on #702
Yes, it is possible to use LocalStorage inside an add-in. However, if you are using custom functions (which it sounds like you might be), you can't use that, because custom functions runs in a separate runtime that doesn't have access to the DOM. If you're trying to cache information from a formula calculation, you'll have to save it in OfficeRuntime.storage, which is accessible to both custom fun

[2020-05-13 00:34] devamchakrabarty opened #705 "Attachment URL"
For `cloud` type of attachments, [this page](https://docs.microsoft.com/en-us/javascript/api/outlook/office.mailboxenums.attachmenttype?view=outlook-js-preview) states

is this information version specific?

[Another page](https://docs.microsoft.com/en-us/javascript/api/outlook/office.attachmentdetails?view=outlook-js-preview) gives us a separate
property called `url` for this purpose (Mailbox v1.

[2020-05-13 18:35] AlexJerabek commented on #705
Thank you for the question @devamchakrabarty. @ElizabethSamuel-MSFT, could you please investigate the answer?

[2020-05-14 21:00] #702 closed

[2020-05-19 15:58] ElizabethSamuel-MSFT commented on #705
@devamchakrabarty Thanks for pointing this out. The cloud item description should reference the url property instead of the id property. We'll get this updated.

Thanks.

[2020-05-20 17:19] ElizabethSamuel-MSFT commented on #705
@devamchakrabarty The description for the `cloud` value has been updated to indicate where the URL can be found based on Compose vs Read mode. We've also taken the opportunity to define separate objects to represent attachment details in Read (Office.AttachmentDetails) vs Compose (Office.AttachmentDetailsCompose).

We've updated the docs and the changes should be published soon.

Let us know if yo

[2020-05-20 17:19] #705 closed

[2020-05-20 23:02] Rick-Kirkham commented on #554
I'm treating this as part of issue https://github.com/OfficeDev/office-js-docs-reference/issues/553 , so I'll close this one.

[2020-05-20 23:02] #554 closed

[2020-05-21 15:15] Rick-Kirkham commented on #553
This was fixed with https://github.com/DefinitelyTyped/DefinitelyTyped/pull/44941. It should be in the published help in a few days.

[2020-05-21 15:15] #553 closed

[2020-05-28 18:02] gavingmiller opened #712 "Detail what should be used for secure storage instead of just what shouldn't"
Your documentation reads as follows:

What would be really helpful is if you specified *what should* be used for secure storage if roamingSettings isn't the correct interface.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f95ff716-788a-639a-32ae-b0e90b467424
* Version Independent ID: a5b370a0-ec65-7e19-4748-20d3235eac

[2020-05-29 22:33] ElizabethSamuel-MSFT commented on #712
@gavingmiller Thanks for your question.

@exextoc Any guidance?

Thanks.

[2020-06-01 18:24] exextoc commented on #712
@gavingmiller What is the scenario for which you wish to store secure values?

A common scenario is authentication, and several authentication options are [described here](https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/authentication).

[2020-06-01 22:07] gavingmiller commented on #712
I'm looking to store an authentication token retrieved via OAuth2. Clio's (company I develop the add-on for) add-on connects and authenticates back to our service via the OAuth2 workflow. Specifically we use the `Authorization Code` grant type. I'm looking to store the token retrieved from Clio in a secure fashion. Because the `roamingSettings` isn't the correct place, I'm not sure what is. 😕

The

[2020-06-03 14:44] duarte-ribeirinho opened #715 "This article should also mention that messageParent requireds the domain to be specified in the Manifest"
Hi,

As suggested in the article below developers are confused by the fact that closed event is triggered but the receivedMessage event is not. This is happening because although it is mentioned that both must be on the same domain it is **not** mentioned that domain must be specified in the manifest file for ti to work.

[Office Addin messageParent Not Working](https://www.yaplex.com/blog/office-

[2020-06-03 19:32] Rick-Kirkham commented on #715
Thanks for your interest in Office Add-ins, and sorry to hear you had troubles.
Near the top of the reference article, [Office.UI interface - Office Add-ins](https://docs.microsoft.com/en-us/javascript/api/office/office.ui?view=word-js-preview), is a link to a lengthy article about using the Dialog API. In that article, the requirement for HTTPS is documented. As you can see from the length of tha

[2020-06-03 19:32] #715 closed

[2020-06-04 00:04] exextoc commented on #712
[getUserIdentityTokenAsync ](https://docs.microsoft.com/en-us/javascript/api/outlook/office.mailbox?view=outlook-js-preview#getuseridentitytokenasync-callback--usercontext-) retrieves a valid token identifying the user and the Office Add-in. One the token is obtained, it can be validated and mapped to a user in your backend. Documentation for this can be found [here](https://docs.microsoft.com/en-

[2020-06-05 20:40] ElizabethSamuel-MSFT commented on #712
@exextoc Thanks for your response.

@gavingmiller It seems like your questions have been answered so I'll close this issue now. However, if that's not the case, comment on this issue and we can reopen it.

Thanks.

[2020-06-05 20:40] #712 closed

[2020-06-16 06:50] davyarris opened #724 "Tokens obtained via the getCallbackTokenAsync methods will not allow you to make delegate calls to EWS."
Hi There,

Having spent so much time going back and forth on this issue I feel like it would be a good idea to outline under the getCallbackTokenAsync methods that the token returned are not fully functional for EWS in that any attempt to access a delegated resource (such as a calendar or inbox) will fail.
This would not be such a surprise if there weren't articles out there such as https://docs.m

[2020-06-18 21:13] ElizabethSamuel-MSFT commented on #724
@davyarris Sorry that you faced these issues while using this API and we appreciate your raising this issue. Can you share the configurations where you tried this (e.g., Windows, Mac, browser)?

Thanks.

[2020-06-19 19:52] fds-ssg opened #730 "EventHandlerResult.remove should mention need to include context"
The remove method fails silently unless you follow the advice given on a different page unrelated to working with events:

https://docs.microsoft.com/en-us/office/dev/add-ins/develop/common-coding-issues#removing-event-handlers

Would it be possible to include this valuable info anywhere that a remove method exists?  If it had been here, it would have saved me quite a few hours of troubleshooting.

[2020-06-22 18:02] AlexJerabek commented on #730
Hi @fds-ssg,
I'm sorry to hear about your struggles with removing event handlers. We'll get that link in the `EventHandler` documentation and work on improving the experience.

[2020-06-22 18:45] fds-ssg commented on #730
Thanks @AlexJerabek , it was very helpful that the note about event handler context was documented to begin with, and will be even more helpful I think to include it in other relevant locations.

[2020-06-23 17:16] #730 closed

[2020-06-23 17:19] AlexJerabek commented on #730
@fds-ssg I've added a link to the behavior note from the `EventHandler.remove` method. The changes will be moved to the live branch in the next couple days. If you have any other suggestions for how to improve the discoverability of the documentation, please let me know. Thanks!

[2020-06-23 20:13] ElizabethSamuel-MSFT commented on #724
@exextoc Can you provide your take on this? Does this apply across all clients?

Thanks.

[2020-06-29 18:52] ElizabethSamuel-MSFT commented on #724
@davyarris We've started by clarifying in the delegate access article the interaction with EWS and REST. We're still investigating this to determine further updates.

[2020-06-30 16:22] ElizabethSamuel-MSFT commented on #724
@davyarris We're updating the documentation on getCallbackTokenAsync to point to guidance in the delegate access article. Those changes should be published soon so closing this issue.

If you face further issues with this, let us know and we can reactivate this issue.

Thanks.

[2020-06-30 16:22] #724 closed

[2020-07-06 18:41] algomaster99 opened #738 "What does `namespaceMapping` refer to?"
I had one doubt in an API. Since this API is in preview version, I couldn't find resources but what exactly are `namespaceMappings` here - https://docs.microsoft.com/en-us/javascript/api/word/word.customxmlpart?view=word-js-preview#query-xpath--namespacemappings-?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 20b7edd6

[2020-07-06 21:38] Rick-Kirkham commented on #738
@jeremy-msft
The Word.CustomXmlPart object has some methods that take a parameter called `namespaceMapping`. The doc does not really explain what this parameter does. Also, the doc says that the type of the parameter is `any` but that is almost certainly wrong. It must be some type more specific than that, like maybe string or array of strings. Could you provide a seed description of what this par

[2020-07-07 16:01] naterush opened #739 "Lack of documentation for Common API Office.File function"
[Enter feedback here]

---
#### Document Details
I'm looking to use the Office.File function in Excel 2013; however, I cannot tell which versions of Excel specifically this function works on.

The [Common API Requirement](https://docs.microsoft.com/en-us/office/dev/add-ins/reference/requirement-sets/office-add-in-requirement-sets) sets do not mention this interface specifically, and it is also not

[2020-07-07 16:21] ElizabethSamuel-MSFT commented on #739
@naterush Thanks for asking about this. There is a [File requirement set](https://docs.microsoft.com/office/dev/add-ins/reference/requirement-sets/office-add-in-requirement-sets#file) which indicates support for `File.closeAsync` and `File.getSliceAsync`. That should mean the File object is also supported by the Office hosts listed in that section.

Also, in the [Excel section of the Add-ins avail

[2020-07-07 16:21] #739 closed

[2020-07-07 16:42] naterush commented on #739
Great, thank you so much!

[2020-07-07 19:16] Rick-Kirkham commented on #738
@JuaneloJuanelo
Looks like this should have been assigned to you (temporarily).

[2020-07-07 19:49] algomaster99 commented on #738
I asked the same question on StackOverflow. I think I have received an answer which works for me. Here is the link - https://stackoverflow.com/a/62777329/11751642
If you need me to submit a PR for that, let me know.

[2020-07-08 21:56] Rick-Kirkham commented on #738
See https://www.typescriptlang.org/docs/handbook/advanced-types.html#index-types-and-index-signatures also for the signature of the new interface.

[2020-07-12 20:01] Rick-Kirkham commented on #738
The source file for the documentation of the methods that have a `namespaceMapping` parameter has been changed. It may take a couple of weeks before the corrected description is in the public reference documentation. It may take longer before the data type of the parameter is changed from `any` to something more specific.

[2020-07-12 20:01] #738 closed

[2020-07-16 10:01] calbrecht opened #744 "Please describe the meaning of SelectionMode Enums in more detail"
The current state of doc is not helpful at all.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4601bd49-ceb7-7081-517a-716236f5f9df
* Version Independent ID: cbeeca05-b501-3be5-c7e7-b7825aae8e57
* Content: [Word.SelectionMode enum - Office Add-ins](https://docs.microsoft.com/en-us/javascript/api/word/word.selectionmode

[2020-07-16 17:45] AlexJerabek commented on #744
Hi @calbrecht,
Thanks for reporting this. I'll work with the product team to get helpful descriptions on the page.

[2020-07-16 22:01] #744 closed

[2020-07-16 22:02] AlexJerabek commented on #744
Hi @calbrecht,

I've updated the documentation, and the source-of-truth in DefinitelyTyped (that powers both these documents and IntelliSense). The changes should be merged to the live branch soon.

Thanks again for raising this issue and your interest in Office Add-ins. If you have any other questions, please let us know.

[2020-07-17 04:53] calbrecht commented on #744
@AlexJerabek thank you for the quick responses and getting the docs updated 👍

[2020-07-28 19:43] timothyhoffmann opened #753 "Missing signature for handler:function"
[Enter feedback here]
What is the signature of the handler function for DialogMessageReceived and DialogEventReceived:
addEventHandler(eventType: Office.EventType, handler: Function): void;

e.g. is the Function receiving a String, an Office.XXX type, etc?   This is used for TypeScript implementations.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2020-07-28 19:47] ElizabethSamuel-MSFT commented on #753
@timothyhoffmann Thanks for asking about this.

@Rick-Kirkham Can you take a look?

Thanks.

[2020-08-04 07:17] elmeet opened #757 "word add-in events?"
I am a novice.

I wish for my word add-in to be notified when text changes or selection changes.

This is my code, it didn't work as expected。

[code]

Am I using it correctly?  Is there any other way to monitor text or selection changes?

Reference document address
[https://docs.microsoft.com/en-us/javascript/api/office?view=common-js](https://docs.microsoft.com/en-us/javascript/api/office?view=c

[2020-08-04 11:02] elmeet commented on #757
I found the event of the selection change.

https://docs.microsoft.com/en-us/office/dev/add-ins/develop/read-and-write-data-to-the-active-selection-in-a-document-or-spreadsheet
[code]

[2020-08-04 11:02] #757 closed

[2020-08-11 22:19] Rick-Kirkham commented on #753
@timothyhoffmann The following is the updated reference, copied from the Markdown source file. This should be in the published docs in a few days.

 /**
         * Registers an event handler. The two supported events are:
         *
         * - DialogMessageReceived. Triggered when the dialog box sends a message to its parent.
         *
         * - DialogEventReceived. Triggered when the dialog

[2020-08-11 23:02] #753 closed

[2020-08-13 03:58] rajha-conga opened #764 "Using thisDocument.save(); gives "compatibility mode" as document file name. There is no option to give filename"
Using thisDocument.save(); gives "compatibility mode" as document file name.
Is there any option to give document filename or do SaveAs() ?
[Enter feedback here]

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd71647a-75de-038e-536a-7e56dd48ef3c
* Version Independent ID: a8bc56eb-0948-1ae0-0654-6b751ee9435f
* Content:

[2020-08-13 16:26] AlexJerabek commented on #764
Hi @rajha-conga,

Thank you for reporting this.

There is no current JavaScript API for naming a file when saving. I'd recommend heading over to [UserVoice](https://officespdev.uservoice.com/) and requesting the feature. We use UserVoice to help prioritize feature requests based on the community's votes. As a workaround, you could use the Common API's [Document.getFileAsync](https://docs.microsoft

[2020-08-13 16:26] #764 closed

[2020-08-14 08:27] rajha-conga commented on #764
Thanks @AlexJerabek for your response. Sure, I will raise a ticket for compatibility mode.

[2020-08-24 06:38] wh1t3cAt1k opened #769 "How is Excel.SettingCollection different from Office.Settings interface?"
Do they write to the same location?

What are the differences between the two approaches, and which is preferred in which case?

Can these settings be accessed from VBA?

[2020-08-24 19:47] AlexJerabek commented on #769
Hi @wh1t3cAt1k,

Thank you for the question. I'm going to confirm with the product team, but I do believe these write to the same location and functionality work the same. Our general guidance is that if there is an application-specific version of an API, to use that version instead of the Common API. In this case, you should prefer Excel.SettingCollection over Office.Settings. This lets your add-

[2020-08-24 20:11] astak15 opened #770 "I cannot see `messageChild` as a method in `Office.Dialog` interface, but I can still seem to use it if I keep the dialog object as `any`"
In my @types/office-js library, the interface `Office.Dialog` has three methods: `addeventHandler`, `close`, and `sendMessage `(which says it is for internal usage only). I do not see the interface messageChild (but I'm still able to use the method if I specify the dialog object as `any`.

This is how the Office.Dialog object looks like:

`interface Dialog {
        /**
         * Called from a pa

[2020-08-24 20:17] AlexJerabek commented on #770
Thanks for reporting this @astak15.

@Rick-Kirkham, can you please investigate this?

[2020-08-24 21:26] Rick-Kirkham commented on #770
This is expected. The `messageChild` method is still in preview, so it is in the office-js-preview library, not the office-js library. If you want the method to show up in intellisense and be strongly typed, you need to load office-js-preview instead of office-js in your add-in. We expect this API to release very shortly. About the time that it does, it will be copied to office-js.

[2020-08-24 21:26] #770 closed

[2020-08-25 06:25] wh1t3cAt1k commented on #769
@AlexJerabek thank you so much!

I cannot stress enough how it is important for me to access this through VBA, too, as I would like to migrate my legacy product to this approach, too, to avoid having a backwards compatibility layer.

Do you know of anyone who can give any guidance on how to do this?

[2020-08-25 16:45] AlexJerabek commented on #769
I've started an internal thread with @lumine2008 and @catchingyu to answer the VBA question. We'll get back to you soon.

[2020-08-25 19:36] AltitudeApps opened #771 "The reference articles for the *OrNullObject methods and properties should link to the explanation of how they work"
Firstly, it should be clarified that `getItemOrNullObject` never actually returns a null, as someone programming in vanilla javascript might expect.

Secondly, it should be mentioned that the information about whether or not the item which gets returned by the function has the `.isNullObject` property set to `true` needs to call `.load('isNullObject'); await ctx.sync()` before the information that

[2020-08-25 20:53] Rick-Kirkham commented on #771
Actually, the reference articles for *OrNullObject methods and properties should just link to our explanation of how they work, which is here: [*OrNullObject](https://docs.microsoft.com/en-us/office/dev/add-ins/excel/excel-add-ins-advanced-concepts?view=excel-js-1.11#ornullobject-methods)

But the current reference articles, and the article I linked to above, actually say something false. These me

[2020-08-25 22:19] AltitudeApps commented on #771
Thanks for responding so quickly.

Yup, you are totally right...  I commented out my `.load('isNullObject')`; and checked to see that `.isNullObject` was actually available subsequent to my call to `await ctx.sync()`

I agree, a link to that information would have been quite helpful.

Would it be out of line to suggest that the example code in that item might be improved thusly?

[code]
I think it

[2020-08-26 06:06] wh1t3cAt1k commented on #769
Thanks @AlexJerabek 👌👌👌

[2020-08-28 22:58] Rick-Kirkham commented on #771
The improvements to [*OrNullObjects](https://docs.microsoft.com/en-us/office/dev/add-ins/develop/application-specific-api-model#ornullobject-methods-and-properties) are in review and should publish in a few days. Improvements to the reference topics for the various *OrNullObject properties and methods is underway.

[2020-08-29 18:12] AltitudeApps commented on #771
ok, great!

Could you tell me which branch these changes are happening on?  I updated my repo from upstream, but I can't find anything that is relevant to this concern.

Also:  I am imagining that there should be updates happening over in DefinitelyTyped, since that's where the text originates from.  I was looking into setting up that toolchain to see if I could create a set of pull requests, invo

[2020-08-30 01:20] Rick-Kirkham commented on #771
The conceptual docs are in a different repo. The PR for that change is here: [https://github.com/OfficeDev/office-js-docs-pr/pull/2132/files](https://github.com/OfficeDev/office-js-docs-pr/pull/2132/files)

Changes to the reference docs are not actually made in this repo. Changes made to the Excel-specific APIs, like this one, are made in source files that are not public and eventually, through a

[2020-08-30 02:06] AltitudeApps commented on #771
I'm loving it.  This is perfect.
[code]

Yes, I was aware of the  [OfficeDev/office-js-docs-pr](https://github.com/OfficeDev/office-js-docs-pr)  repo; but I was trying to trace back where the function signatures and such came from, so the DefinitelyTyped repo became my focus.

I really like this wording:

However, I'd rather see the &nbsp; _"The `*OrNullObject` variations do not ever return the Ja

[2020-08-30 18:58] AltitudeApps commented on #771
Of course, as I woke up, I realized that after having asked for an external link to the information, and been graciously granted such, I immediately modified my request such that I wasn't asking for a link anymore.  Ha.

[2020-08-31 14:48] wh1t3cAt1k commented on #769
Hi Alex! Just to follow up, has the team reached any conclusion on how
Office.js add-in settings can be accessed from the VBA?
I studied the VBA object model and have not found a way, however you
mentioned in this thread that this was possible.

Thank you!

On Tue, 25 Aug 2020 at 19:45, Alex Jerabek <notifications@github.com> wrote:

[2020-09-01 19:24] AlexJerabek commented on #769
Hi @wh1t3cAt1k,
I'll ping our team and get them to respond on this thread. Thanks for your patience.

[2020-09-02 09:59] lumine2008 commented on #769
Hi @wh1t3cAt1k ,

Yes, As Alex mentioned that these write to the same location, so you can access the setting saved by Office. Settings via Excel.SettingCollection, but a small difference on usage. for example, office.settings.add will not save setting to document automatically , it need call saveAsync() explicitly. Excel.Settings will save to document automatically when adding.

But we suggest th

[2020-09-02 10:05] wh1t3cAt1k commented on #769
Hi @lumine2008 !

Thank you for the answer. Would you be able to confirm that I can access the same setting collection through VBA or is it impossible?

[2020-09-02 10:09] lumine2008 commented on #769
I cannot confirm this question as I am not the owner of VBA. But based on the definition, it doesn't seem it should be accessed by VBA add-ins.
![image](https://user-images.githubusercontent.com/26398035/91968360-20625e80-ed47-11ea-9371-77f6a73bb645.png)
if you would like to have access from VBA and JS, I would suggest that you could use workbook.customProperty. it can access by VBA and JS

[2020-09-24 10:05] jpalo opened #798 "From when sending via Shared Mailbox"
When user changes "From" field to a Shared Mailbox, the From property will be that shared mailbox. Is there any way to get the actual user sending the mail?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c74527a-92b8-9861-d544-49045a055db5
* Version Independent ID: 4d851133-13d4-016a-f58d-40271b056893
* Content: [Offi

[2020-09-24 10:10] jpalo commented on #798
`Office.context.mailbox.userProfile.emailAddress` will always be the user doing the sending, although via shared mailbox.

[2020-09-24 10:10] #798 closed

[2020-09-25 22:59] cScarlson opened #801 "Load + Sync + Access on ContentControl, Range, or Paragraph Leads to Race Condition At Scale"
## Article URL
#### [`ParagraphCollection.load(options)`](https://docs.microsoft.com/en-us/javascript/api/word/word.paragraphcollection?view=word-js-preview#load-options-)

## Issue
The documentation seems to have a caveat to the "_must invoke context.sync()_ method". I am encountering a **Race Condition** when performing `paragraphs.load('items')` **at scale**. Performing operations within a Prom

[2020-09-25 23:17] Rick-Kirkham commented on #801
I suspect is is more of a product bug issue than a documentation issue, but I will hold off transferring it to the office-js repo for now. In the meantime, I cannot tell from the code you provided where you are calling `.load` and `context.sync`. Could you provide that? Also, be sure that you are not calling `context.sync` inside a loop (which includes the `map` function). See [Avoid using the con

[2020-09-28 08:08] intellectyxArria opened #802 "adding a setting using 'context.workbook.settings.add' is not available if we close and open the application"
[Enter feedback here]

Assume the following scenario where I save a setting with key as **_type_** and value as '**_DemoWoekbook_**' context.workbook.settings.add('type', 'DemoWorkbook'). When I close the document and again open it I couldn't find these settings.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0cbceac7-

[2020-09-28 21:12] ElizabethSamuel-MSFT commented on #771
Closing this as the related PR has been merged.

[2020-09-28 21:22] Rick-Kirkham commented on #771
@ElizabethSamuel-MSFT This is actually a 2 part item. The conceptual topics were fixed, but @alison-mk also is going to add links to the conceptual from the relevant reference topics. Is it OK if I reopen this for that reason?

[2020-09-28 21:26] ElizabethSamuel-MSFT commented on #771
I didn't realize that. Sorry about that. I'll reopen it.

[2020-09-28 23:57] alison-mk commented on #802
Hi @intellectyxArria, thank you for submitting an issue! Workbook settings are unique to a single workbook + add-in pair. This [Access document settings section](https://docs.microsoft.com/en-us/office/dev/add-ins/excel/excel-add-ins-workbooks#access-document-settings) has more information. If this doesn't help resolve your issue, could you provide the complete add-in code you're using, so that we

[2020-09-30 17:12] sumurthy opened #805 "Excel refresh all API is not descriptive"
## Article URL
https://docs.microsoft.com/en-us/javascript/api/excel/excel.dataconnectioncollection?view=excel-js-preview

## Issue
The refreshAll API simply says - Refreshes all the Data Connections in the collection.

However, it doesn't support linked data types, Power Query, etc. It'd be good to document what we actually support and don't.

[2020-10-01 20:43] CypherX opened #808 "Question regarding a phrase in the documentation"
## Article URL
https://docs.microsoft.com/en-us/office/dev/add-ins/concepts/privacy-and-security

## Issue
Apologies if this is the wrong place to ask this. In the "Add-in integrity in AppSource" section of the article at the above link is the line:

- Ensures that the source of add-ins is accessible in read-only mode.

I'm having trouble understanding what this requirement means. Is it referring

[2020-10-01 20:48] jakobpn opened #809 "Would be great to have JS examples of how to get this information."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f739e0b-0574-7403-ea92-e0b1033e7bd2
* Version Independent ID: 8922891f-5d83-281f-53ab-3d1c83fd4a0f
* Content: [Office.ContextInformation interface - Office Add-ins](https://docs.microsoft.com/en-us/javascript/api/office/office.contextinformation?view

[2020-10-02 16:32] ElizabethSamuel-MSFT commented on #808
@CypherX Thanks for raising this issue. I'll transfer this to the repo associated with that article and we'll address it from there.

Thanks.

[2020-10-02 22:54] ElizabethSamuel-MSFT commented on #809
@jakobpn Thanks for asking about this. The docs should be updated with these samples when we publish next week.

Do take a look at the associated PR and give us your feedback, if any.

Thanks.

[2020-10-03 03:00] #801 closed

[2020-10-04 18:36] sumurthy commented on #805
Example of scenario where detailed description would help out -- https://stackoverflow.com/questions/64184867/refresh-all-queries-and-connections-of-an-excel-workbook-excel-online-using-of

[2020-10-05 15:04] #809 closed

[2020-10-06 03:00] #802 closed

[2020-10-09 04:03] robertmclaws opened #812 "Documentation needed for Range.numberFormat supported formats"
Hello! I'm having a really hard time getting my head around the supported number formats... any chance you could document the Range.numberFormat() method with the types of supported formats? For example, I really need a currency format with zero decimals, and there's nothing on how to do that.

Thanks!
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2020-10-09 16:25] AlexJerabek commented on #812
Hi @robertmclaws,

Thanks for the question. The JavaScript APIs support any number format supported by Excel. This is not a finite list. There are a few helpful articles for Excel in general:
- [Format numbers](https://support.microsoft.com//office/format-numbers-f27f865b-2dc5-4970-b289-5286be8b994a)
- [Create a custom number format](https://support.microsoft.com/office/create-a-custom-number-form

[2020-10-09 21:47] AlexJerabek commented on #812
@robertmclaws,
For you particular scenario, does this produce the number format you're looking for?
`myRange.numberFormat = [["$#"]];`

[2020-10-12 23:28] robertmclaws commented on #812
Hey Alex, thanks for the notes. The last link in your first post is the only one that helps construct number formatting strings.

In regards to why I opened up a ticket here vs asking on Stack Overflow is because displaying and formatting numbers is a VERY large part of dealing with Excel, but the mechanics of doing that programmatically get very little attention in these docs. For example, very l

[2020-10-21 22:29] alison-mk commented on #771
Update: I've made the requested changes to the reference docs, so the update is now in a PR internally and will be live soon! I'll update this issue when the changes are live.

[2020-10-22 20:50] Rinzwind opened #819 "Documentation on Fabric components recommended for use in Office add-ins seems inconsistent w.r.t. MessageBar, Callout and CommandBar"
The [section titled “Use Fabric Components”](https://docs.microsoft.com/en-us/office/dev/add-ins/design/office-ui-fabric#use-fabric-components) in the documentation (quoted below) is a bit confusing: it first gives examples of the kinds of components Fabric provides that can be used to build an add-in, and then gives a bullet list of the components that are recommended for use in add-ins; the firs

[2020-10-28 23:37] AlexJerabek commented on #769
Hi @wh1t3cAt1k,

I believe your original question has been answered. I'm going to close the issue, but please respond back if I'm mistaken. Thanks!

[2020-10-28 23:37] #769 closed

[2020-11-04 15:09] LokiMidgard opened #827 "it is not documented that prependAsync behaves differently between Web and Desktop Outlook"
I have written an Add-In that uses `prependAsync` to add some text (html divs with background and border). And this works well in the Web version. However the Desktop Outlook messes the text up. Replacing almost everything with paragraphs and spans.

~~This should mentioned in the `SetAsync` method but not prepand.~~
This is mentioned in the `SetAsync` method but not in prepand.

Also the document

[2020-11-05 20:23] AlexJerabek commented on #827
Thanks for reporting this @LokiMidgard.

@ElizabethSamuel-MSFT, can you please investigate?

[2020-11-05 21:19] ElizabethSamuel-MSFT commented on #827
@exextoc Can you take a look? Thx.

[2020-11-06 00:46] exextoc commented on #827
Bug 1768727<https://o365exchange.visualstudio.com/O365%20Core/_workitems/edit/1768727>: [OfficeDev/office-js-docs-reference] it is not documented that prependAsync behaves differently between Web and Desktop Outlook (#827)
________________________________
From: Elizabeth Samuel <notifications@github.com>
Sent: Thursday, November 5, 2020 1:19 PM
To: OfficeDev/office-js-docs-reference <office-js-doc

[2020-11-07 16:58] exextoc commented on #827
Could you share the Outlook build number you are testing this on?

[2020-11-10 07:00] LokiMidgard commented on #827
@exextoc `Outlook 2016 MSO 16.0.13328.20262 64-bit`

[2020-11-10 21:17] ElizabethSamuel-MSFT commented on #827
@LokiMidgard We'll update the documentation with a similar message as the setAsync API.

Thanks.

[2020-11-10 22:28] ElizabethSamuel-MSFT commented on #827
@LokiMidgard The reference docs should be updated with this change later this week.

Thanks.

[2020-11-10 22:28] #827 closed

[2020-11-13 18:11] alexfibr opened #833 "How can I insert a slide with insertSlidesFromBase64(base64File, options) into the current presentation?"
Hi,

I am experimenting with the JavaScript APIs in beta/preview for a MS PowerPoint Add-in. What I want to achieve is to insert a new slide from a base64-encoded .pttx file into the current document.

I would expect that this is possible with the insertSlidesFromBase64(base64File, options) method, which is documented here: PowerPoint API doc

I have included https://appsforoffice.microsoft.com/li

[2020-11-13 20:26] AlexJerabek commented on #833
Hi @alexfibr,

Thanks for the sample request. We're in the process of putting together a set of documentation to better explain the upcoming PowerPoint APIs and their object model. @Rick-Kirkham is leading this effort.  I'll assign him this issue to follow-up with a timeline and a specific response to slide insertion question.

As for Mac availability, preview APIs are not guaranteed to have cross

[2020-11-13 21:09] alexfibr commented on #833
Thank you for the info. Looking forward to your update in the docs.

[2020-11-19 13:15] AhmedJDev opened #838 "NotificationMessageAction contextData implementation not clear"
Hi!

I have been able to get the notification action working and it opens a the task pane as requested. I want to pass data across and I see there is a property call contextData which I pass JSON data to. But it isn't actually clear on how to get that information because when the function is called it doesn't pass any data? Was wondering if there is any additional documentation on how it is actual

[2020-12-01 21:30] ElizabethSamuel-MSFT commented on #771
@alison-mk Are these changes live now? Can this issue be closed?

[2020-12-01 22:41] alison-mk commented on #771
@ElizabethSamuel-MSFT No, the updates are still in the pipeline. I would like to leave this issue open until they are live.

[2020-12-08 18:53] alison-mk commented on #812
Hi @robertmclaws, thank you for taking the time to provide this detailed feedback! I've recorded it in an internal work item and plan to incorporate your suggestions. I'm not sure of the timeline, so I will leave this issue open for now.

Thanks again,
Alison

Internal tracking info: [work item 4700521](https://office.visualstudio.com/OC/_workitems/edit/4700521/)

[2020-12-09 02:42] robertmclaws commented on #812
You folks are awesome, thanks so much, and hope you have a great holiday!

[2020-12-09 23:30] Rick-Kirkham commented on #833
This is now documented here: [Insert slides into presentation](https://docs.microsoft.com/en-us/office/dev/add-ins/powerpoint/insert-slides-into-presentation)

[2020-12-09 23:30] #833 closed

[2020-12-21 22:18] pb-jeff-oneill opened #864 "Bug in documentation for getRange(rangeLocationString)"
The documentation for `getRange(rangeLocationString)` lists "Before" as a valid option, but it is not a valid option.  I spent hours trying to figure out why my code wasn't working.  :(

Please also describe what the options mean in greater detail.

- What is the difference between End and After?
- What is the difference between Whole and Content?

---
#### Document Details

⚠ *Do not edit this se

[2020-12-21 23:48] lindalu-MSFT commented on #864
Hi Alison and Elizabeth, not sure who the Word Doc person is. Can you look into this and see if we can quickly clarify the docs? Thanks, lindalu

[2020-12-22 00:21] AlexJerabek commented on #864
Hi @pb-jeff-oneill,

Thanks for pointing out this issue. I'm sorry to hear about your frustration.

It looks like the description doesn't list "Before" as a valid option, but the type definition includes it. This appears to be a recurring problem in the APIs, as all string-based overloads of enum-taking APIs list out every enum, despite any actual limitations. Our reference documentation is genera

[2020-12-22 00:39] AlexJerabek commented on #864
I made a little [Script Lab](https://docs.microsoft.com/office/dev/add-ins/overview/explore-with-script-lab) snippet to help show these distinctions: https://gist.github.com/AlexJerabek/5d0acdc7cc1433ef92b022781cb3e9bf

Basically, the takeway from the [RangeLocation page(https://docs.microsoft.com/en-us/javascript/api/word/word.rangelocation?view=word-js-preview) is that "Whole" and "After" includ

[2020-12-22 20:35] lindalu-MSFT commented on #864
Thank you @AlexJerabek for the prompt response! Sadly, I can't add this info to the topic because it's autogen'd. Is there another way we can publish this info to our customers?

[2020-12-28 10:58] clavx opened #866 "Wrong description of ItemType"
This statement "meeting request, meeting response, or meeting cancellation" should be in Appointment.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ec870cc-bfc3-842c-f2a9-2ef1bcbbf2d7
* Version Independent ID: 91cf53e4-dfae-bc2e-648a-86a4d8831cc7
* Content: [Office.MailboxEnums.ItemType enum - Office Add-ins](https:/

[2020-12-28 17:32] AlexJerabek commented on #866
Thanks for raising this issue @clavx.

@ElizabethSamuel-MSFT, can you please update the documentation as needed?

[2021-01-04 21:00] #864 closed

[2021-01-05 17:52] ElizabethSamuel-MSFT commented on #866
@clavx Thanks for raising this issue. However, the documentation is correct. I confirmed that meeting requests, meeting responses, and meeting cancellations are message types.

If you run code like the following on any of these items, "message" should be the type.
[code]

I'll go ahead and close this now but if you're getting a different response for any of these items, do share more info like Out

[2021-01-05 17:52] #866 closed

[2021-01-21 03:39] wh1t3cAt1k opened #875 "overwriteIfStale is not helpful without an example"
The options description mentions an `overwriteIfStale` option, but it is difficult to understand its purpose and mechanics without a more detailed example.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 350844cd-9cfd-bb95-c937-4eabe70e425d
* Version Independent ID: 12ec4657-cb1e-ad43-a092-06ac66f0faa8
* Content: [Offic

[2021-01-22 18:07] AlexJerabek commented on #875
Hi @wh1t3cAt1k,

Thank you for the question. @MandytMSFT, could you provide some information about the `overwriteIfStale` property?

Also, @wh1t3cAt1k, what Office application are you developing for? If you're using Excel, we recommend using the [Excel-specific version of the Settings API](https://docs.microsoft.com/en-us/javascript/api/excel/excel.setting?view=excel-js-preview). You can learn mor

[2021-01-26 21:27] wh1t3cAt1k commented on #875
I am writing an Excel add-in indeed. Just was experimenting with an
alternative API and noticed I could not understand this flag, so I still
think it would be good to clarify - unlikely I am the last to ask...

On Tue, Jan 26, 2021, 23:00 msftbot[bot] <notifications@github.com> wrote:

[2021-01-26 22:17] AlexJerabek commented on #875
Thanks @wh1t3cAt1k. According to the product team, `overwriteIfStale` is depreciated and it's use is not advised. I need to confirm a couple things, but I'll update the documentation to reflect the current guidance.

[2021-01-27 20:04] timothyhoffmann opened #878 "SeriesTime.setStartTime parameter description incorrect"
For the setStartTime method:

The hours and minutes must be UTC _not_ the local time.  e.g. If the TimeZone of the recurrence is US Eastern (+5) then
setStartTime(11, 0)
will set the starting time of the event to be 6AM.
setStartTime(16, 0)
will set the starting time of the event to be 11AM

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2021-01-27 21:08] #878 closed

[2021-01-27 21:08] timothyhoffmann commented on #878
Changing to bug due to OWA vs Client behavior

[2021-01-28 09:06] dalgha008 opened #879 "ghdfghdgfh"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18b63cfd-c1ea-baed-f96f-b14664b384c5
* Version Independent ID: 52aaa0e2-be99-c2e7-3042-fb652420613e
* Content: [Word.ContentControl class - Office Add-ins](https://docs.microsoft.com/en-us/javascript/api/word/word.contentcontrol?view=word-js-preview)

[2021-01-28 09:06] #879 closed

[2021-02-04 20:27] alison-mk commented on #771
Closing this issue as the update has been pushed to the preview API set (ex: [worksheetOrNullObject](https://docs.microsoft.com/en-us/javascript/api/excel/excel.nameditem?view=excel-js-preview#worksheetOrNullObject)) and will be pushed to the public API set in a future release. Thanks again for taking the time to contribute feedback!

[2021-02-04 20:27] #771 closed

[2021-02-04 23:13] AlexJerabek commented on #875
The documentation has been updated to reflect the depreciated property. I'll close the issue now.

[2021-02-04 23:13] #875 closed

[2021-02-09 06:12] OfficeAddins opened #888 "Height description has the word width"
Under the property "Height" you have the word "width".
Is it possible to include a specific height for example "300px" instead of just a percentage ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc786795-1b1f-3661-5a68-b4e1aa8b4976
* Version Independent ID: 97e021a5-b316-1514-5f95-ba3eef24c960
* Content: [Office.Dial

[2021-02-09 17:00] AlexJerabek commented on #888
Thanks for reporting this @OfficeAddins.

@Rick-Kirkham, can you please take a look?

[2021-02-10 00:09] Rick-Kirkham commented on #888
@OfficeAddins I'll fix the documentation. To answer your question, you have to use percentages, not pixels.

[2021-02-16 17:54] #888 closed

[2021-02-16 20:24] ndvbd opened #892 "Outlook js api: ability to select/highlight text"
Is there a way to highlight or select a text (in the body) like in Google Docs API?
This is a very important ability for add-ins, and I can't find it in the documentation.

[2021-02-16 21:40] AlexJerabek commented on #892
Hi @ndvbd,

Thanks for raising this feature need. I noticed you already found the related [UserVoice entry](https://officespdev.uservoice.com/forums/224641-feature-requests-and-feedback/suggestions/38912296-api-to-move-cursor-text-selection-for-outlook-of), but for the sake of other viewers of this thread, please upvote that UserVoice request to help prioritize this feature.

While I don't believe

[2021-02-16 22:00] #892 closed

[2021-02-17 13:07] ndvbd commented on #892
It is opened there since 2019, and nobody responded

[2021-02-17 19:12] exextoc commented on #892
We review and consider feature requests on user-voice when we go through our planning process. The more votes/attention a request receives, the higher its chances of being implemented.

[2021-02-18 13:40] theboyknowsclass opened #894 "Add link to Coercion Type Requirements"
[Enter feedback here]

It would be good to add a link to the requirements here as well as on the SetSelectedDataAsync
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 724a7e75-65a1-20d4-c402-90972a89f388
* Version Independent ID: eeab4111-f39d-7025-9831-52f7abd4405d
* Content: [Office.CoercionType enum - Office Add-ins](h

[2021-02-19 00:45] AlexJerabek commented on #894
Thanks for the suggestion, @theboyknowsclass.

I'll look into making this requirement set information more accessible.

[2021-02-23 19:43] AlexJerabek commented on #894
This issue has been addressed by #897. Those updates should reach the live branch soon. I'll close the issue now, but please let me know if there's more to be done.

[2021-02-23 19:43] #894 closed

[2021-02-26 19:28] ndvbd opened #898 "track(), untrack()"
Not clear from the docs what track() and untrack() do

[2021-02-26 21:28] ElizabethSamuel-MSFT commented on #898
@ndvbd Thanks for asking about this. Here are some examples of usage in the docs:

- Article
    - [Performance improvements](https://docs.microsoft.com/office/dev/add-ins/concepts/resource-limits-and-performance-optimization#performance-improvements-with-the-application-specific-apis)
- Reference
    - [TrackedObjects](https://docs.microsoft.com/javascript/api/office/officeextension.trackedobject

[2021-03-05 14:28] barisbikmaz opened #933 "mailbox.item.subject.setAsync with undefined options throws an error"
The typings for mail subject say that "options" can be undefined.
[code]

But call with undefined option throws an error:
context.mailbox.item.subject.setAsync(subject, **undefined**, callback)

This call works:
context.mailbox.item.subject.setAsync(subject, **{}**, callback)

## Expected Behavior
Subject shoulb be inserted without any error, when options are undefined.

## Current Behavior
Subjec

[2021-03-08 17:41] takenaldo opened #905 "Can't insert different pages(footer) numbers in Word javascript api"
i am trying to add incremental page  numbers to my word document,but the Word add-in API didn't have a clear way to do that, please fix this issue

[2021-03-08 18:10] AlexJerabek commented on #905
Hi @takenaldo,

Thanks for reaching out. To request features, such as new Word APIs, please visit [UserVoice](https://officespdev.uservoice.com/) and create a new suggestion (or upvote an existing one). This lets our team prioritize feature requests based on community interest. I'll also tag @AbidRahman-MSFT, since he has been tracking new feature requests for Word Add-ins.

As a workaround, you c

[2021-03-08 18:10] #905 closed

[2021-03-08 20:53] takenaldo commented on #905
Thank a lot. I would like ask one more question. Can I get chance to sell
my add-in to microsoft or any other company?

On Mon, Mar 8, 2021, 21:10 Alex Jerabek <notifications@github.com> wrote:

[2021-03-08 21:26] AlexJerabek commented on #905
Hi @takenaldo,

You can learn about publishing options for your add-in from the article [Deploy and publish Office Add-ins](https://docs.microsoft.com/en-us/office/dev/add-ins/publish/publish). That will help you decide what the best end result for your add-in is, whether it's selling through AppSource. monetizing as a [SaSS solution](https://docs.microsoft.com/en-us/office/dev/store/monetize-addi

[2021-03-10 16:43] chaaridev opened #909 "PowerPoint API reference to voice-over narration is missing"
Hi,
A reference to voice-over narration sound feature  is missing.
Is this feature supported by the PowerPoint API ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1e60002-ed9c-1329-e238-6827761ce9c6
* Version Independent ID: e2485f2c-aac8-aa3f-8880-d25812812d40
* Content: [powerpoint package - Office Add-ins](https:/

[2021-03-10 19:33] AlexJerabek commented on #909
Hi @chaaridev,

Narration control is not currently supported by the PowerPoint JS APIs for Office Add-ins. I'd recommend heading over to [UserVoice](https://officespdev.uservoice.com/) to make or upvote the feature request. We use UserVoice to prioritize community requests when deciding which new features to work on.

I'm going to close the issue now, since there's nothing actionable to be done in

[2021-03-10 19:33] #909 closed

[2021-03-23 21:36] Rick-Kirkham opened #919 "Mistaken description of AddinCommands.source.id"
The second clause "and is the unique ID of your Office Add-in as a GUID" is wrong and should be deleted.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62fbbb9b-7c92-4e9a-c6f2-6af51c7dad50
* Version Independent ID: 967199c4-582e-8d17-a16a-4d6526824548
* Content: [Office.AddinCommands.Source interface - Office Add-ins](

[2021-03-23 22:16] AlexJerabek commented on #919
I'll make the necessary upstream changes in DefinitelyTyped and tag you in the PR,

[2021-03-24 16:12] AlexJerabek commented on #919
This was fixed with https://github.com/OfficeDev/office-js-docs-reference/pull/920.

[2021-03-24 16:12] #919 closed

[2021-03-24 17:07] RaoulRSV opened #922 "Some questions about Excel Web Addin"
1) Is it possible to have a menu control in custom tab together with a menu control in contextmenu  ?
2) how is it possible to place a button in the context menu ?
3) how is it possible to activate/desactivate a button? Please send a complete example (XML + js)
4) is it possible to execute fonction at a custom ribbon tab opening ?

Thanks in advance for your answer

## Article URL

## Issue

[2021-03-24 21:45] ElizabethSamuel-MSFT commented on #922
@RaoulRSV Thanks for asking about this.

@alison-mk Can you take a look?

Thanks.

[2021-03-25 00:47] alison-mk commented on #922
Hi @RaoulRSV, thanks for your interest in Excel add-ins!

It looks like these are technical questions, and not issues with the documentation. We usually ask that you post how-to questions on Stack Overflow with the [office-js](https://stackoverflow.com/questions/tagged/office-js) tag. By posting questions like this to Stack Overflow, you'll not only be able to reach a broader audience of folks who

[2021-03-25 03:42] Rick-Kirkham commented on #922
Yes. Please ask these questions on Stack Overflow and tag them `office-js`.

[2021-03-25 03:43] #922 closed

[2021-04-07 18:33] Rick-Kirkham opened #932 "Need to clarify where the code goes"
This Stack issue has a good point. The article should be clear early where the API might be called. It should also have a snippet that shows the API in use, possibly taken from the sample https://github.com/OfficeDev/PnP-OfficeAddins/blob/3ce0e1b74152dbbe8306a091696bc4455c04c0a1/Samples/excel-shared-runtime-scenario/utilities/office-apis-helpers.ts

---
#### Document Details

⚠ *Do not edit this s

[2021-04-08 16:27] AlexJerabek commented on #932
@Rick-Kirkham, can you please provide a link to the Stack issue in question?

[2021-04-08 17:52] Rick-Kirkham commented on #932
My bad. It's this one: https://stackoverflow.com/questions/66977857/how-to-use-office-startupbehavior-load-inside-a-taskpane-add-in

[2021-04-09 17:15] AkmarNafi opened #935 "missing apis"
I could not find PowerPoint APIs for fetching font properties like color, size etc  similar to  Word and Excel APIs

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae8458bf-959c-a4f5-63b0-25ac4bcb66e1
* Version Independent ID: e2485f2c-aac8-aa3f-8880-d25812812d40
* Content: [powerpoint package - Office Add-ins](https://

[2021-04-09 17:29] #933 closed

[2021-04-09 17:31] AlexJerabek commented on #935
Hi @AkmarNafi,

Thanks for your interest in PowerPoint Add-ins. Unfortunately, font APIs, like those in Word and Excel, are not yet implemented for PowerPoint.

We are actively developing the PowerPoint API surface. I'd recommend raising this need on [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/topics/office-addins-dev.html). That way, other members of the community can see and upvote

[2021-04-09 17:31] #935 closed

[2021-05-20 00:12] Rick-Kirkham opened #958 "Typo in property description"
This is passed on from Onur Onder:
The description for the property **dashStyle** has the sentence "See Excel.ShapeLineStyle for details." This should be "See Excel.ShapeLineDashStyle for details."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cac9593e-cdbb-4064-306f-f85c5d572853
* Version Independent ID: 4a115b97-f91

[2021-05-21 18:16] alison-mk commented on #958
Thanks! I've recorded this issue internally and will make the change to the reference docs source during my next round of updates.

[2021-05-21 18:16] #958 closed

[2021-05-26 14:32] theboyknowsclass opened #965 "possible to get inserted shape / inline image ID from setselecteddataasync"
[Enter feedback here]

Hi is it possible to get back the inserted shape id / inline picture id when running setselecteddataasync on Excel, Word and PowerPoint?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a80b0c0b-0647-036d-9193-4be6c67edf21
* Version Independent ID: db81f510-204a-d07b-f02f-6b0e83f1f592
* Content: [O

[2021-05-26 16:32] AlexJerabek commented on #965
Hi @theboyknowsclass,

Thanks for the question. One way to get the object ID in the callback is to pass it through to the callback function through the [asyncContext](https://docs.microsoft.com/javascript/api/office/office.setselecteddataoptions#asyncContext). `asyncContent` is a property in the [SetSelectDataOptions](https://docs.microsoft.com/javascript/api/office/office.setselecteddataoptions)

[2021-05-26 16:41] theboyknowsclass commented on #965
hi, sorry i'm unclear on what you mean in the first statement?  do we have a code example anywhere?  the asyncContext is returned 'unchanged' so I'm not sure how I can obtain an id from that?

also would this also be the same id as accessed from, say,  the Shapes API for Excel?  (I can see and access shapes and their ids via that API, but thought it would be better to use the Common API where poss

[2021-05-26 16:58] AlexJerabek commented on #965
We recommend using application-specific APIs whenever possible. They're easier to use and in active development, so new Excel features are being added all the time. Unless you're trying to support Office 2013, please use the Excel-specific APIs. That Shape class should do everything you want.

That aside, here's an example of using the `asyncContext` parameter to pass data through the callback: ht

[2021-05-26 17:01] AlexJerabek commented on #965
Bad bot! We're having a nice conversation here.

[2021-06-02 21:00] #965 closed

[2021-06-05 03:58] spoman007 opened #970 "Office js outlook, how to check if email is incoming or outgoing"
I am creating a outlook plugin with taskpane. I am using office js to access the email.

I want to know if current email is incoming or outgoing in the plugin. Is there a way in office js that can help me with this?

I tried checking all the properties but could not find anything obvious.

Thanks!!

[2021-06-06 15:22] peronald commented on #970
Thank you for this question. To better assist you, we suggest you go to [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/questions/topics/single/192525.html) and see if your question has already been asked or ask a new question with the office-js-dev tag. This will allow both the community to help, and allow us to ensure the community can see our answer. When added, please let us know and

[2021-06-07 15:58] klugj24 opened #971 "Create a new task in Project from Add-In"
Is there any way to create a new task from an add-in in Project? I can only figure out how to modify existing tasks using the task GUID, however I cannot figure out how to create one. Any help would be greatly appreciated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5530f30f-9d7b-a2e2-b30f-098556733c73
* Version Ind

[2021-06-07 16:43] AlexJerabek commented on #971
Hi @klugj24,

Thanks for raising this issue. As of today, you can only edit tasks through the JS APIs with an existing task ID. If this is a feature you need, please request it over on the [M365 Developer Platform Tech Community](https://techcommunity.microsoft.com/t5/microsoft-365-developer-platform/idb-p/Microsoft365DeveloperPlatform). There, other developers can upvote ideas, letting us priorit

[2021-06-07 16:43] #971 closed

[2021-06-07 17:34] klugj24 commented on #971
Thank you for the quick response @AlexJerabek,

So, just to clarify - Microsoft wants us to build Office add-ins, or migrate our current VSTO add-ins to this new format as this is the only was we can get our add-in listed on the Microsoft App Store.  We are building these mostly for the MS Project Client, and only about 10% of our customers use Project Online.

Are you saying that Office Add-ins f

[2021-06-10 14:36] jozefizso opened #974 "Mailbox.addHandlerAsync definition is incorrect"
The `Mailbox.addHandlerAsync` expects the `handler` parameter to be a function accepting parameter of the type `Office.EventType`.
When I use the API in MS Outlook, the method is called with the parameter of type `Office.OfficeThemeChangedEventArgs`.

As the source code is type in TypeScript, the **addHandlerSync** signature must be fixed in the Office.js definitions.

I use the **@types/office-js

[2021-06-10 15:40] AlexJerabek commented on #974
Thanks for reporting this @jozefizso.

@ElizabethSamuel-MSFT, can you please investigate?

[2021-06-10 16:15] jozefizso commented on #974
As a workaround I anotated types in my code like this:

[code]

[2021-06-10 17:11] ElizabethSamuel-MSFT commented on #974
@jozefizso We had updated the Item.addHandlerAsync so that handler is of type `any` but we missed updating the Mailbox version. We'll make that fix.

Thanks.

[2021-06-10 20:04] ElizabethSamuel-MSFT commented on #974
@jozefizso The updated DefinitelyTyped package has been reported as published to npm (v. 1.0.224). The fix should show up in the reference docs soon.

I'll go ahead and close this now. However, if you're still facing an issue with this definition, let us know and we can reactivate.

Thanks.

[2021-06-10 20:04] #974 closed

[2021-06-11 22:41] AlexJerabek commented on #971
Hi @klugj24,
I'm reaching out to the product team for a connection or more detailed response.

To answer your main question, yes, only edit operations are supported in the JS library. It sounds like, based on your scenario, your best option is to remain with your VSTO solution. I understand your frustration and acknowledge that the JS platform has been focused primarily on Excel and Outlook over t

[2021-06-11 22:54] ElizabethSamuel-MSFT commented on #970
@exextoc Any suggestions for this situation?

Thanks.

[2021-06-11 23:22] exextoc commented on #970
Can you please clarify what you mean by the "current email is incoming or outgoing"? Can you describe your scenario?

[2021-06-12 11:32] spoman007 commented on #970
@exextoc I am using a outlook plugin and opening a taskpane.
I need to add different behaviour to taskpane depending on if the current email for which the taskpane is opened belongs to inbox or sent items.

`const [messageType, setMessageType] = useState(
    Office.context.mailbox.officeAppContext._docUrl.indexOf('sentitems') > -1
      ? 'Outgoing'
      : 'Incoming'
  );`

I tried using this bu

[2021-06-15 17:09] klugj24 commented on #971
Thank you @AlexJerabek,

Please let me know how to get in touch with the project team ASAP!

[2021-06-15 19:44] BeReasonable commented on #971
Hi @klugj24,
Are you familiar with the new [Project for the web](https://support.microsoft.com/en-us/office/get-started-with-project-for-the-web-50bf3e29-0f0d-4b7a-9d2c-7c78389b67ad)?

Much of our time has been spent building out that new product and investing in the tools needed by our customers and partners to extend it. This includes investing in support for native Power Platform tools such as

[2021-06-16 11:39] natejcho opened #980 "OnActivated Events should return Chart/Shape name"
When queueing ChartCollection class, it is queued by name ie getItem(name). Yet the ChartActivatedEventArgs only returns a chartId. If I want more info about an activated chart, the event args are useless then, there should be a name property added to the chartactivatedeventargs so that more info about the activated chart can be accessed. This isn't limited to just the chart class either, it shoul

[2021-06-16 17:04] AlexJerabek commented on #980
Hi @natejcho,

Thanks for reporting this. You can use the returned chart ID in the `ChartCollection.getItem` method. It should work just like the name. Please let us know if that's not the case.

Assigning @alison-mk to help verify and update the documentation accordingly.

[2021-06-16 23:15] exextoc commented on #970
To clarify, the ask here is to get the folder in which the item belongs to (Parent folder)? This is currently not available with the JS API. You can consider using REST or EWS API to retrieve parent folder id.  https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/use-rest-api

[2021-06-17 00:12] exextoc commented on #970
It could be helpful for us if you can expand a bit on the requirement or taskpane behaviour difference you want to achieve with the information of whether the user is opening and reading from inbox vs sent items.

[2021-06-17 17:56] nvazhayil opened #982 "Context tab : Visibility(Show/Hide) of a button with Office.ribbon.requestUpdate"
https://github.com/OfficeDev/PnP-OfficeAddins/tree/main/Samples/office-contextual-tabs

**Describe the bug**
In this sample, I have seen the usage of Office.ribbon.requestUpdate() to Enable/Disable a button. Office.ribbon.requestUpdate takes [RibbonUpdaterData](https://docs.microsoft.com/en-us/javascript/api/office/office.ribbonupdaterdata) as it's parameter.
One of attribute of RibbonUpdaterData

[2021-06-17 19:03] alison-mk commented on #980
Hi @natejcho, thanks for submitting an issue. I will update the [Chart.onActivated code sample](https://docs.microsoft.com/javascript/api/excel/excel.chart#onActivated) to clarify how to use the chart ID to retrieve data related to the activated chart. The updated code sample will have a pattern like this:

` Excel.run(function (context){
    // Retrieve the worksheet.
    var sheet = context.work

[2021-06-17 22:33] Rick-Kirkham commented on #982
This is a mistake in the documentation. Control does not have a visible property. You can disable controls and you can hide tabs, but you can't hide controls on a visible tab.

[2021-06-18 21:19] #982 closed

[2021-06-21 17:07] Mayu945 opened #985 "Can you provide examples for this page?"
[Enter feedback here]
Can you provide examples for this page?
How to access this property?

Take this link as an example
https://docs.microsoft.com/en-us/javascript/api/office/office.context?view=powerpoint-js-preview#license

// The following line of code access the item object of the JavaScript API for Office.
var item = Office.context.mailbox.item;

Thanks.

---
#### Document Details

⚠ *Do not

[2021-06-21 17:20] AlexJerabek commented on #985
Hi @Mayu945,

Thanks for the feedback. @Rick-Kirkham, can you please investigate adding some sample code that shows the object model for the [Control](https://docs.microsoft.com/en-us/javascript/api/office/office.control?view=powerpoint-js-preview) object?

[2021-06-21 18:51] Rick-Kirkham commented on #985
The context of using this  interface is somewhat complex. I will add to the topic a link to the following article which includes several code samples.

 [Enable and disable Add-in Commands](https://docs.microsoft.com/en-us/office/dev/add-ins/design/disable-add-in-commands)

[2021-06-22 21:47] #980 closed

[2021-06-23 00:13] #985 closed

[2021-06-25 07:49] Rinzwind opened #992 "Example for `Range.getCell` in the Excel API reference uses `cell` instead of `getCell`"
## Article URL
[https://docs.microsoft.com/en-us/javascript/api/excel/excel.range?view=excel-js-preview#getCell_row__column_](https://docs.microsoft.com/en-us/javascript/api/excel/excel.range?view=excel-js-preview#getCell_row__column_)

## Issue
The example code for [`Range.getCell` in the Excel API reference](https://docs.microsoft.com/en-us/javascript/api/excel/excel.range?view=excel-js-preview#

[2021-06-25 14:46] theboyknowsclass opened #991 "Unclear on how a unique 'add-in' is determined"
in the docs it's stated as  -> "The settings created by using the methods of the Settings object are saved per add-in and per document. That is, they are available only to the add-in that created them, and only from the document in which they are saved."

How is this determined?  e.g. i the same manifest for the addin used in both Excel Desktop (windows) and Online.  However if i create a document

[2021-06-25 15:51] AlexJerabek commented on #991
Thanks for the question @theboyknowsclass.

@Rick-Kirkham, can you please provide clarification?

[2021-06-25 17:34] Rick-Kirkham commented on #991
@theboyknowsclass What is the source of your statement that  "if i create a document in one platform, it is not guaranteed that the document settings can be read in Desktop"?

[2021-06-25 18:54] theboyknowsclass commented on #991
hi @Rick-Kirkham @AlexJerabek  thanks for the quick response (as always)

we have an add-in where we use the same manifest file on online and windows desktop - i'm testing in Work currently, but have seen the same behaviour in Excel and Powerpoint

when i create a document and add metadata using the settings API in the online version.  this does not appear in the desktop version.

this seems to be

[2021-06-25 19:19] #992 closed

[2021-06-25 20:47] Rick-Kirkham commented on #991
@theboyknowsclass  Yes. There were bug fixes. One of them was connected with this issue [1585](https://github.com/OfficeDev/office-js/issues/1585) in the office-js repo. I suspect that you are seeing a variation of this same bug. So, the fix for you is to update to 2105 or later.

At any rate, since it is not happening on recent versions and the documentation seems to be correct, I'll close this f

[2021-06-25 20:47] #991 closed

[2021-06-29 03:00] #970 closed

[2021-07-15 11:57] wynntee opened #1000 "invocation.functionName property"
I noticed the invocation object has a property called "functionName", but this isn't documented anywhere. The property is useful in cases where different Excel custom functions are associated with the same underlying JS function for whatever reason.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce21ecd2-3f41-d3ba-58ea

[2021-07-15 15:21] AlexJerabek commented on #1000
Thanks for reporting this @wynntee.

@alison-mk, could you please investigate?

[2021-07-17 01:10] alison-mk commented on #1000
Hi @wynntee, thank you for submitting. I'm investigating this issue. Could you send along a sample of the code you're using to access the `functionName` property?

Thanks,
Alison

[2021-07-17 01:16] wynntee commented on #1000
Hi @alison-mk , to send you such a code, I would have to send you my entire Add-in and source code for custom functions. To reproduce, simply console.log(invocation) where invocation is the last argument passed to any custom function you can create yourself. The WebView2 developer's console will show you the invocation object. One of its properties is "functionName", which seems to reference the I

[2021-07-22 03:22] jean-wujingyi opened #1005 "Errors on Office.context.mailbox.item.location.setAsync"
For newUI of Outlook desktop version, when I open a new meeting event and inject Room info on location field first, then try to using addin to inject meeting link to location field, the location field could not spilt Room info and meeting link correctly. It been used semicolon before but seems invalid now.
<img width="1105" alt="Screen Shot 2021-07-22 at 11 14 28 AM" src="https://user-images.githu

[2021-08-24 20:05] #1000 closed

[2021-09-04 01:25] safiness opened #1033 "Pivot Field not loading a collection of pivot items"
# Provide required information needed to triage your issue

## Your Environment

Not relevant

## Expected behavior
The items of a pivot field should represent a collection of PivotItems.

## Current behavior
The items of a pivot field represent the collection of pivotfields that the pivotfield came from.

# Provide additional details
The documentation seems a bit off, it is not clear on the expec

[2021-09-06 09:55] wh1t3cAt1k opened #1032 "Example of creating a new workbook with only *some* worksheets from the current workbook"
The samples in the docs only talk about pre-populating the created workbook with the **full contents** of the current workbook.

Is it possible to only copy **some** specific worksheets from the current workbook into the new one? Can we have a sample for that please?

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2021-09-07 23:08] ElizabethSamuel-MSFT commented on #1032
@wh1t3cAt1k Thanks for asking about this.

@lumine2008 Can you take a look?

Thanks.

[2021-09-08 00:17] alison-mk commented on #1032
Hi @wh1t3cAt1k, thanks for submitting a question. The [Workbook.insertWorksheetsFromBase64](https://docs.microsoft.com/javascript/api/excel/excel.workbook?view=excel-js-preview#insertWorksheetsFromBase64_base64File__options_) method allows you to copy all or some of the worksheets from one workbook into another workbook. The conceptual article section for the insert worksheets API is here: (Insert

[2021-09-08 18:23] alison-mk commented on #1033
Hi @safiness, thank you for submitting this issue! I will update the documentation for the PivotField items property and close this issue once that change is merged.

Cheers,
Alison

[2021-09-08 21:21] safiness commented on #1033
Hi @alison-mk,

Can you clarify and check that the items of a pivot field do return a collection of pivot items.

I seem to be experiencing what the documentation suggests, which is
"The items of a pivot field represent the collection of pivotfields that the pivotfield came from"

If the latter is implemented it makes it pretty difficult to get to the pivot items of any pivot field, as you would h

[2021-09-08 23:34] alison-mk commented on #1033
Hi @safiness,

Yes, I tested today and confirmed that a PivotField returns a PivotItemCollection which contain multiple PivotItems. Our conceptual documentation article on PivotTables describes the [PivotTable object model](https://docs.microsoft.com/office/dev/add-ins/excel/excel-add-ins-pivottables#object-model). I'm not finding any bugs in the product. I think the bug is in our documentation. I

[2021-09-09 10:03] mvegaca opened #1034 "I need get User role, phone and picture"
Hi team.

Reading this doc
https://docs.microsoft.com/en-us/javascript/api/outlook/office.emailuser?view=outlook-js-preview

I can get the user display name and email address, how can I get the user role, phone and picture?

Thanks ;)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32c93fcb-4f18-7892-3bb6-acafad4d7022
*

[2021-09-09 16:17] AlexJerabek commented on #1034
Hi @mvegaca,

Thanks for the question. Let me assign @ElizabethSamuel-MSFT to help out.

[2021-09-10 03:28] gitcnd opened #1037 "Incorrect object, and non-working examples"
This object does not exist - and your examples make no sense (they're entirely missing all context for how to access and use this, if it even exists.)

Here's an example of how to write an example:

    var organizerAddress = Office.context.mailbox.item.organizer.emailAddress;

Note how the above includes the entirety of the context needed to access the object.

---
#### Document Details

⚠ *Do no

[2021-09-10 16:28] AlexJerabek commented on #1037
Hi @gitcnd,

We'll add an example to the reference documentation EmailUser. In the meantime, please check out the sample shown in [Extract entity strings from an Outlook item - Extracting meeting suggestions](https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/extract-entity-strings-from-an-item#extracting-meeting-suggestions) for an example of how the EmailUser object fits into the Outloo

[2021-09-10 22:24] ElizabethSamuel-MSFT commented on #1034
@mvegaca You may need to use Microsoft Graph to get this information. For example, the following may be helpful.

- [Get photo](https://docs.microsoft.com/graph/api/profilephoto-get?view=graph-rest-1.0)
- [Get user](https://docs.microsoft.com/graph/api/user-get?view=graph-rest-1.0&tabs=http)

@exextoc I don't believe info like the user's phone number and photo can be retrieved through the JavaScri

[2021-09-10 23:05] exextoc commented on #1034
That is correct. Currently the feature:Getting user role, picture, phone, you requested, is not a part of the product. We track Outlook add-in feature requests on our [Tech Community Page](https://techcommunity.microsoft.com/t5/microsoft-365-developer-platform/idb-p/Microsoft365DeveloperPlatform). Please submit your request there and choose the appropriate label(s). Feature requests on Tech Commun

[2021-09-10 23:24] ElizabethSamuel-MSFT commented on #1034
@mvegaca It should be noted that the EmailUser object usually represents [entities extracted from the subject and body of an item](https://docs.microsoft.com/office/dev/add-ins/outlook/extract-entity-strings-from-an-item) (e.g., [meeting suggestions](https://docs.microsoft.com/office/dev/add-ins/outlook/extract-entity-strings-from-an-item#extracting-meeting-suggestions), [task suggestions](https:/

[2021-09-12 10:29] safiness commented on #1033
@alison-mk  Thanks for the pointers!

[2021-09-13 07:30] mvegaca commented on #1034
Thank you so much team!
I hope I will need to work with the MS Graph API.

[2021-09-13 07:30] #1034 closed

[2021-09-13 16:46] AlexJerabek commented on #1033
Looks like this issue was not closed when https://github.com/OfficeDev/office-js-docs-reference/pull/1035 was checked in. I'm going to close the issue. @safiness, please let us know if you have any further questions about PivotTables.

[2021-09-13 16:46] #1033 closed

[2021-09-14 21:12] #1037 closed

[2021-09-14 21:14] ElizabethSamuel-MSFT commented on #1037
@gitcnd The PRs have been merged and updated documentation should be published soon. Thanks again for raising this issue and let us know if you have any further concerns or questions.

Thanks.

[2021-09-16 00:07] elegault opened #1041 "Supported types are incorrect for icon parameter"
For the _icon_ property, it says:

However, this parameter is required if the _type_ property is set to **Office.MailboxEnums.ItemNotificationMessageType.InsightMessage**.  Otherwise, the following error is thrown if the icon parameter is not provided with the _insightMessage_ type:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2021-09-16 16:08] AlexJerabek commented on #1041
Hi @elegault,
Thanks for pointing this out. @ElizabethSamuel-MSFT, could you please investigate and make the appropriate documentation changes?

[2021-09-17 23:50] davidchesnut commented on #932
@Rick-Kirkham I created this PR to move the section higher. Can you please review? Thanks!
https://github.com/OfficeDev/office-js-docs-pr/pull/2946

[2021-09-22 01:10] MarkJayson0310 opened #1046 "Display dialog async not working"
Reporting this issue as it was working a couple of weeks ago on our MS domain accounts, but right now the display dialog was not showing at all w/o any error result, strange thing is that when testing on a sample test mailbox the dialog is showing up.

![image](https://user-images.githubusercontent.com/37651863/134267845-707b4ccb-5fa3-4a58-9a1e-0cb0676c2632.png)

---
#### Document Details

⚠ *Do n

[2021-09-24 21:40] #932 closed

[2021-09-27 06:12] MarkJayson0310 commented on #1046
SLR, looks the issue is already resolve based on the latest version of Office 365, gladly closing this for now, Many thanks for the support @AlexJerabek

[2021-09-27 06:12] #1046 closed

[2021-09-28 06:46] jean-wujingyi opened #1047 "Office.context.mailbox.item.body.getAsync/setAsync is not supported in Exchange 2013"
We need to publish calendar add-in on Exchange 2013. But when we using Office.context.mailbox.item.body.getAsync/setAsync to get/set email invitation content, it did not work.
Seems Office.context.mailbox.item.body.getAsync/setAsync functions are not supported on Exchange 2013 because exchange server only support APi set 1.1.

Is there a supported way in Exchange 2013 to get or set email body? Fro

[2021-09-28 07:04] LukeOwlclaw opened #1048 "TypeScript definitions for types of `value` returned by `getSelectedDataAsync`"
When calling `getSelectedDataAsync` the type of the value received by the callback method depends on the specified coercion type ("The value property of the result is the data in the current selection. This is returned in the data structure or format you specified with the coercionType parameter. (See Remarks for more information about data coercion.)").

I want to call:

[code]

``OSF.DDA.SlideRa

[2021-09-28 16:24] ElizabethSamuel-MSFT commented on #1048
@LukeOwlclaw Thanks for asking about this.

@Rick-Kirkham Can you take a look?

Thanks.

[2021-09-28 16:42] ElizabethSamuel-MSFT commented on #1047
@jean-wujingyi body.getAsync and body.setAsync were introduced in Mailbox 1.3 and so are likely not supported in Exchange 2013. I don't know of a way that's supported in Office.js.

@exextoc Can you confirm this understanding? Are you aware of any alternatives if Office.js is not an option?

Thanks.

[2021-09-28 18:32] Rick-Kirkham commented on #1048
I remember that we considered creating TypeScript definitions for these return values but cancelled the project. I don't remember why, but probably because there wasn't a lot of customer demand for it and it would be more labor-intensive that it appears to be superficially. I'll investigate again. In the meantime, does this article server your needs?

[Office.CoercionType](https://docs.microsoft.c

[2021-09-28 23:12] ElizabethSamuel-MSFT commented on #1041
@elegault The docs have now been updated. Do let us know if you face any further issues.

Thanks!

[2021-09-28 23:12] #1041 closed

[2021-09-30 07:20] LukeOwlclaw commented on #1048
@Rick-Kirkham Thanks, for your answer.
I just wanted to make sure that I did not miss the definition. For me the superficial version is fine. From ``{"slides":[{"id":257,"title":"Slide 2","index":2},{"id":256,"title":"Slide 1","index":1}]}`` I created the interface myself. Looks like this:

[code]

Unless you want to extend the docs, I guess we can close this issue.

[2021-09-30 13:08] LukeOwlclaw opened #1052 "Getting the selected shape?"
As demonstrated by ``getSelectedSlideIndex()`` from sample https://raw.githubusercontent.com/OfficeDev/office-js-snippets/prod/samples/powerpoint/preview-apis/tags.yaml it is easy to determine the currently selected slide.
Is there an option to get the currently selected shape(s)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2021-09-30 13:10] LukeOwlclaw opened #1053 "Obtain preview image of slide?"
Is it possible to obtain an image of the current slide? Is this feature planned?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4666676e-3918-dafc-4846-efbf7363aabf
* Version Independent ID: eba73286-6426-887e-477a-ed9f641dac0f
* Content: [PowerPoint.Shape class - Office Add-ins](https://docs.microsoft.com/en-us/javasc

[2021-09-30 13:34] LukeOwlclaw opened #1054 "Obtain binary data of slide?"
Is it possible to obtain the binary data of a single slide? That is a PPTX file containing only one slide or one shape? Is this feature planned?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4666676e-3918-dafc-4846-efbf7363aabf
* Version Independent ID: eba73286-6426-887e-477a-ed9f641dac0f
* Content: [PowerPoint.Shape

[2021-09-30 21:20] Rick-Kirkham commented on #1048
Glad you got it working. I'll create an internal work item for my team to revisit the question of strong-typing the `value` property. In  the meantime, I'll close this.

[2021-09-30 21:20] #1048 closed

[2021-10-01 18:52] ElizabethSamuel-MSFT commented on #1052
@LukeOwlclaw Thanks for asking about this.

@Rick-Kirkham Can you take a look?

Thanks.

[2021-10-01 18:53] ElizabethSamuel-MSFT commented on #1053
@LukeOwlclaw Thanks for your interest and for asking about this.

@Rick-Kirkham Can you take a look?

Thanks.

[2021-10-01 18:54] ElizabethSamuel-MSFT commented on #1054
@LukeOwlclaw Thanks for asking about this.

@Rick-Kirkham Can you take a look?

Thanks.

[2021-10-02 00:28] Rick-Kirkham commented on #1052
Thanks for your interest. We use this repo to track problems in the documentation. This kind of "How do I do such and such" question is best posted to Stack Overflow, where a much larger set of Office add-in developers will see it and benefit from any answers that you get.

In the meantime, the [getSelectedDataAsync](https://docs.microsoft.com/javascript/api/office/office.document?view=excel-js-pr

[2021-10-02 00:28] #1052 closed

[2021-10-02 00:30] Rick-Kirkham commented on #1053
This is not possible and is not planned. Sorry. But you can suggest it at [Microsoft Q&A](https://docs.microsoft.com/answers/index.html).

[2021-10-02 00:30] #1053 closed

[2021-10-02 00:32] Rick-Kirkham commented on #1054
I'm afraid that there is no way to do this currently, and it is not in our plans. Consider making a request for this feature at [Microsoft Q&A](https://docs.microsoft.com/answers/index.html).

[2021-10-02 00:32] #1054 closed

[2021-10-06 17:40] nancy-wang commented on #1047
@exextoc - following up here as per Elizabeth's comment, is there anything we want to add here before closing this thread?

[2021-10-06 21:06] tinmanse opened #1059 "Is it possible to create an email from Excel 365 using JavaScript API?"
Is it possible to create an email from Excel  365 using JavaScript API?
 I've made several attempts at modifying the manifest but displayNewMessageForm always comes up undefined.

  Office.context.mailbox.displayNewMessageForm({
    toRecipients: Office.context.mailbox.item.to, // Copies the To line from current item
    ccRecipients: ["testcrashdummy@example.com"],
    subject: "Outlook add-ins a

[2021-10-06 22:00] AlexJerabek commented on #1059
Hi @tinmanse,

Thanks for the question. It's not possible to use Outlook APIs in Excel. All the mailbox APIs must be called from within an Outlook add-in.

If you're looking to send automated emails based on spreadsheets, I might recommend Power Automate and Office Scripts. Here's a quick tutorial that shows how to pull email addresses from an Excel workbook and use them to create emails with Outl

[2021-10-07 11:42] wh1t3cAt1k commented on #1032
Thank you very much! It is helpful

[2021-10-12 06:53] exextoc commented on #1047
As a workaround, can you try to use makeEwsRequestAsync() API (supported in 1.1 requirement set) to get event body using EWS method.

Doc: https://docs.microsoft.com/en-us/javascript/api/outlook/office.mailbox?view=outlook-js-1.1&preserve-view=true#makeEwsRequestAsync_data__callback__userContext_

[2021-10-22 19:11] AbidRahman-MSFT opened #1076 "Clarify support for Body.paragraphs for paragraphs in tables."
For Body.paragraphs, clarify the behavior:

For requirement set 1.1 and 1.2: Paragraphs in tables are not returned.
For requirement set 1.3: Paragraphs in tables are returned.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1585011c-7b37-17cf-1eb3-4306852ccffc
* Version Independent ID: ae9d47cd-be15-d72b-f22d-06c881b637

[2021-10-29 21:32] ElizabethSamuel-MSFT commented on #1076
This update has been published. Thx.

[2021-10-29 21:32] #1076 closed

[2021-11-15 19:48] sureshjoshi opened #1092 "Explanation of why SSO should not be the only auth mechanism"
I've read through the docs and associated sample code, and I've seen it mentioned and shown (in code), that there should always be a fallback to another auth mechanism (e.g. msal.js).

However, what I don't have a clear idea about is WHY is this necessary? Is the purpose to handle one-off or transient errors (network connectivity?) or is it more focused on permanent problems (ie. this version of W

[2021-11-18 08:10] clavx commented on #866
Sorry for the late reply.

In Outlook for Windows, I mistakenly thought that it should be included in the Appointment because it is shown as follows.

![win32_meeting01](https://user-images.githubusercontent.com/58804032/142376124-1d58aee0-402c-43b8-8968-5ca61df14770.png)

I recognize that "meeting request" also indicates the following:

![win32_meeting02](https://user-images.githubusercontent.com

[2021-11-18 08:46] clavx opened #1096 "TypeScript type definitions for Office.UI.addHandlerAsync method"
`Office.AsyncContextOptions` is optional, so I think the following type definition is missing.

Defined
[code]

Undefined
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df1fde12-982a-2f60-54ca-375968a29f33
* Version Independent ID: 7ed56398-e6be-f624-f76d-8982c36fa81a
* Content: [Office.UI interface - Office Add

[2021-11-18 17:23] ElizabethSamuel-MSFT commented on #866
@clavx Thanks for your response. If you're in calendar context, then meetings/appointments should be appointment type. However, meeting requests, meetings responses, and meeting cancellations are usually part of your messages and you won't find them in your calendar. As you may know, meeting requests and meeting cancellations are messages from the meeting's organizer (usually not created in the cu

[2021-11-18 17:29] ElizabethSamuel-MSFT commented on #1096
@clavx Thanks for raising this issue. We'll take a look.

[2021-11-18 21:14] Rick-Kirkham commented on #1096
@clavx Please clarify what the issue is. Have you encountered an issue calling the addHandlerAsync method? If so, can you specify what goes wrong?

[2021-11-19 09:12] clavx commented on #866
@ElizabethSamuel-MSFT  Thank you for your prompt reply.

I'm sorry, but I'm confused about the interpretation of "meeting request".

I found the following document.

https://support.microsoft.com/en-us/office/schedule-a-meeting-with-other-people-5c9877bc-ab91-4a7c-99fb-b0b68d7ea94f

Hmmm...

I would appreciate it if you could tell me if the following interpretation is correct.

---

The descriptio

[2021-11-19 09:27] clavx commented on #1096
Sorry for the lack of explanation.

This is talking about the TypeScript type definitions in `@types/office-js`.

There are two definitions for `displayDialogAsync`, as shown in the [API reference](https://docs.microsoft.com/en-us/javascript/api/office/office.ui?view=common-js).
However, for `addHandlerAsync`, there is only one definition.

The code is quoted from the [document](https://docs.micro

[2021-11-19 19:11] Rick-Kirkham commented on #1096
Thanks for pointing this out. This is fixed in the source d.ts file now.

[2021-11-19 19:11] #1096 closed

[2021-11-22 08:24] clavx commented on #866
@ElizabethSamuel-MSFT Sorry, I finally understand.

The difference in where the item is displayed after it is created is the key.
I was focusing only on the words and got confused.

Thank you very much for your detailed explanation!

[2021-11-30 20:27] ElizabethSamuel-MSFT commented on #866
@clavx You're welcome! :)

[2021-12-08 09:00] Raks-coder opened #1113 "Method to change format of Xlsx to Microsoft 2007-13"
[Enter feedback here]

Hi,
I was going through the docs but couldn't find a method to change format to Microsoft 2007-13. Could you please tell if there is any such way to automate this?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0b93905-3b88-d509-71da-01d29ad5ce90
* Version Independent ID: 1c68b9ac-b012-3101-44b4-

[2021-12-10 07:41] RuoyingLiang commented on #1113
@Rick-Kirkham , could you help to take a look at this request?

[2021-12-13 19:30] AlexJerabek commented on #1113
Hi @Raks-coder,
Thank you for the question. There is not an API to make this file format change. There appear to be some solutions on [Stack Overflow](https://stackoverflow.com/search?q=convert+xlsx+to+xls) for converting to older file types. Hopefully, one of them will work in the automated system you have in mind.
Since there's nothing actionable with the Office JavaScript APIs, I'm going to clo

[2021-12-13 19:30] #1113 closed

[2022-01-04 14:37] klingu opened #1125 "Update Fields in Word document with officejs after changing CustomDocumentProperty"
Hi all,

I'm looking for some help and I can't find the answer online.

I'm building a Word Add-in with officejs 1.3.
On this Add-in the user fills-out a form. With the given data I override or add these to CustomDocumentProperties.

The 'Fields' on the document is not updatet and keep showing the old data. Even after closing and opening the document. Only when I right-click on the 'Field' and cho

[2022-01-08 08:47] clavx opened #1129 "TypeScript type definition for isSetSupported method"
What is the difference between these `isSetSupported` methods defined in `@types/office-js`?

![isSetSupported](https://user-images.githubusercontent.com/58804032/148637267-ba6cde6f-3eab-4f47-a662-1fbca90db140.png)

This method returns the value as expected.
[isSetSupported in Office.RequirementSetSupport interface](https://docs.microsoft.com/en-us/javascript/api/office/office.requirementsetsuppor

[2022-01-20 02:41] hengchengfei opened #1134 "insertWorksheetsFromBase64 don't support in current version"
[Enter feedback here]
when I use insertWorksheetsFromBase64  method in excel,error happened.
error message:
insertWorksheetsFromBase64 don't support in current version

![1](https://user-images.githubusercontent.com/3182964/150262518-9e473cdd-ff89-45fc-99d5-e435e5646fac.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2022-01-26 00:34] alison-mk commented on #1134
Hi @hengchengfei, thanks for submitting this issue. The error you're seeing is expected because `insertWorksheetsFromBase64` isn't available for Excel 2019. The `insertWorksheetsFromBase64` API is part of the ExcelApi 1.13 requirement set. In our reference documentation, you can see which requirement set an API is assigned to by scrolling down to the remarks section: [Workbook.insertWorksheetsFrom

[2022-01-26 00:34] #1134 closed

[2022-01-26 10:27] laurensmartz opened #1140 "file.getSliceAsync download a pdf with this.print(true) javascript in it"
[Enter feedback here]
I use file.getSliceAsync api to convert a office file to pdf.

I can convert the file succss, but when I download it, the pdf with a js this.print(true) in it, and my pdf editor auto open the print dialog
when I open the converted pdf. This is not happen in Word but in Excel and PPT, the js in pdf is below:

//-------------------------------------------------------------
//--

[2022-01-31 09:42] FedousJahan opened #1145 "Example for onDelete event of content control"
I am having a hard time trying to implement onDelete event fire for content control. Documentation does not provide any sample code snippets to follow. Can someone please provide one sample implementation code snippet?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18b63cfd-c1ea-baed-f96f-b14664b384c5
* Version Independ

[2022-01-31 17:42] AlexJerabek commented on #1145
Hi @FedousJahan,

Thank for raising this need for sample code. @ElizabethSamuel-MSFT, could you plese look into developing a reference doc sample for this scenario?

[2022-01-31 19:29] ElizabethSamuel-MSFT commented on #1145
@FedousJahan We've added this to our backlog of work and we aim to get to this as soon as possible.

However, it's similar to the pattern for [Excel events](https://docs.microsoft.com/office/dev/add-ins/excel/excel-add-ins-events#register-an-event-handler). Can you see if this unblocks you?

Excel examples using onDeleted:
- [ChartCollection](https://docs.microsoft.com/javascript/api/excel/excel.c

[2022-02-04 14:23] klingu commented on #1125
Hi team,

Today it is been a month I've posted this issue. I see it has been assigned to various people, unfortunately no response or a solution yet. Is there any update.

Thanks in advance ;-)

Jeffrey

[2022-02-04 23:34] ElizabethSamuel-MSFT commented on #1125
@klingu Apologies for the delay. Unfortunately, office-js doesn't currently include any API to manage Fields in Word.

However, the team is actively working on implementing that feature and we hope to have a preview out in Word on the web. We don't currently have any timelines for this but we usually provide updates on upcoming API availability during the [Office Add-ins community call](https://do

[2022-02-04 23:34] #1125 closed

[2022-02-06 17:54] felipemalbergier opened #1154 "Suggestion: have a way to get the address (example: "A1:B45") from the chart data source"
[first post on issues ever]
A possible solution could be adding an attribute `.address` to the `chart` or `chartSeries` as we have in ranges

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 84fdfabb-2683-259c-8189-604f8dcf0b8b
* Version Independent ID: 75013ef3-1100-456d-dfa4-045f5cf09ca5
* Content: [Excel.Chart class -

[2022-02-07 18:55] samantharamon commented on #1154
Thank you for sending this in, @felipemalbergier.

@alison-mk, is this something you could look into? Thanks!

[2022-02-09 02:35] alison-mk commented on #1154
Hi @felipemalbergier, thank you for submitting. Can you describe the scenario in which you need to get the address of the data source for a chart series? As you've noticed, the [ChartSeries object](https://docs.microsoft.com/javascript/api/excel/excel.chartseries?view=excel-js-preview) doesn't have a property to access the source data, but I may be able to help provide a workaround.

In general an

[2022-02-09 11:05] felipemalbergier commented on #1154
Thank you for your reply, Alisson.

I'm displaying charts on the add-in itself and my goal is to be able to
"monitor" the data source from a chart so I can update it accordingly. Do
you think we can have a work around it?

About your comment referring to the feature requests, I imagined I was
posting it in the wrong place, sorry for that. But I must say the button
that brought me there from the do

[2022-02-12 04:01] alison-mk commented on #1154
Hi @felipemalbergier, thank you for providing the context. I am researching your question internally and will let you know when I have more information.

Alison

[2022-02-14 17:22] felipemalbergier commented on #1154
Thank you very much! Looking forward to hearing the answer!

The project is relying a lot in this capability

On Sat, 12 Feb 2022 at 06:01, Alison McKay ***@***.***> wrote:

[2022-02-14 20:44] alison-mk commented on #1154
Hi @felipemalbergier,

We are planning to release two APIs in the next Excel requirement set (ExcelApi 1.15) that will offer this functionality. The two APIs should be released to Preview soon, in advance of the requirement set release. Once the APIs are released to Preview, you can test and experiment with them, but Preview APIs shouldn't be used in production add-ins.

If you need a shorter term

[2022-02-16 20:03] EdwinStraver opened #1165 "Add methos doesnt allow a refrence to a RangeAreas object"
The Add method on the names collection:
add(name: string, reference: Range | string, comment?: string): Excel.NamedItem;

Allows a reference that points to a range, but not a rangeAreas object. This means you can not create a defined name, that points to, for example: A:A10, B1:B5.  (A selection of multiple ranges).

This seems an unnecessary limitation.

Edwin
---
#### Document Details

⚠ *Do not

[2022-02-16 23:25] AlexJerabek commented on #1165
Hi @EdwinStraver,

Thank you for this suggestion. I'll relay it to the product team. In order to get more attention to this feature, I'd suggest creating an Idea in our Tech Community: https://techcommunity.microsoft.com/t5/microsoft-365-developer-platform/idb-p/Microsoft365DeveloperPlatform. Be sure to include your scenario so we can better understand your specific needs.

On Tech Community, the

[2022-02-16 23:25] #1165 closed

[2022-02-21 14:20] dimitri-bourreau opened #1168 "Outlook: NotificationMessageAction potentially needs clarity on desktop app specifics"
# Feedback

I followed [Office.NotificationMessageAction interface documentation](https://docs.microsoft.com/en-us/javascript/api/outlook/office.notificationmessageaction?view=outlook-js-preview).

It allowed me to use the explained feature on Outlook for web but not properly on Outlook Desktop.

I guess something is missing or could be clarified.

I would be happy to contribute or, at least, help

[2022-02-23 00:24] AlexJerabek commented on #1168
Thanks for reporting this issue @dimitri-bourreau.

@exextoc, could you confirm this behavior and investigate? Thank you.

[2022-02-23 05:28] markdon opened #1171 "Add `isDialog` property to Office.Context"
When my Outlook add-in opens a dialog, my code can see that `Office.context.isDialog` is set to `true`. I want to detect whether Office.js is running in a dialog so that I know only limited Office APIs are available. For this, I'm currently using `Office.context.isDialog`.

Could this property be documented and supported so that I have the confidence it will still be there in the future? I'd espec

[2022-02-23 16:25] AlexJerabek commented on #1171
Hi @markdon,

Thanks for raising this issue. @Rick-Kirkham, could you please investigate this sample creation and documentation improvement?

[2022-02-23 21:48] Rick-Kirkham commented on #1171
I'm researching to see if there's any reason that the engineers deliberately choose to not document this. But I suspect it's just an oversight.

[2022-02-23 22:31] Rick-Kirkham commented on #1171
Well, it turns out that this is _not_ an oversight. It was originally created for internal testing purposes, but it doesn't work reliably outside of certain constrained testing scenarios. We don't support using it in add-ins. Hence, we don't document it.

Perhaps as a workaround, your code could call an API that is not supported in the dialog and then catch the error that would be thrown in the di

[2022-02-23 22:31] #1171 closed

[2022-02-23 22:54] markdon commented on #1171
@Rick-Kirkham TBH, I thought it likely to be undocumented on purpose. Thanks for looking in to it!

[2022-02-24 06:44] exextoc commented on #1168
The sample ran and the info bar shows up correctly for me in Win32.  Do you get an error with the API call in the API callback and if so could you include the error here?
 One thing to keep in mind that commandId needs to be defined in the manifest.  For this example, the msgComposeOpenPaneButton is defined in the manifest as <Control xsi:type="Button" id="msgComposeOpenPaneButton"> under MessageC

[2022-02-25 00:28] alison-mk commented on #1032
Hi @wh1t3cAt1k, apologies for the delay. Thank you for your patience.

My internal research indicates that yes, this is possible using the [getFileAsync() method](https://docs.microsoft.com/javascript/api/office/office.document?view=common-js-preview#office-office-document-getfileasync-member(1)). Once you've edited the base64-encoded string, you can use the Excel.createWorkbook method described i

[2022-02-25 00:28] #1032 closed

[2022-02-25 23:27] ElizabethSamuel-MSFT commented on #1145
@FedousJahan We've created a PR that adds a code snippet showing how to register and use the ContentControl.onDeleted event. Let us know if this helps.

Thanks.

[2022-02-26 00:28] #1145 closed

[2022-02-28 10:32] dimitri-bourreau commented on #1168
Since everything is working perfectly on the web and no errors occurs there, I guess the manifest is well made and following your advice I don't see any problem there.

We are going to avoid using the info bar, we are not willing to dedicate more time to this feature.

If following the docs everything's fine on your side, I'd agree closing this issue would be a good idea.

[2022-03-03 00:22] #1168 closed

[2022-03-16 00:08] jasonclg opened #1181 "Descriptions for Error.message and Error.name look reversed"
Makes more sense to me if they were reversed:

message
Gets a detailed description of the error.

name
Gets the name of the error.

#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 19b9d330-11a4-380f-4f44-342771892988
* Version Independent ID: e64fa016-f63f-69c9-2751-a3cacc11b1fe
* Content: [Office.Error interface - Office Ad

[2022-03-16 15:48] AlexJerabek commented on #1181
Thanks for reporting this @jasonclg. That does look backwards. I'll update it in the upstream type definition file that our documentation uses.

[2022-03-18 15:39] AlexJerabek commented on #1181
This will be fixed by #1182. I'll close the issue, since the changes are in and the published docs will be updated eventually.

@jasonclg, thank you again for reporting this issue. We appreciate your contribution to make this documentation better.

[2022-03-18 15:39] #1181 closed

[2022-04-05 12:38] lelsteph opened #1199 "How to add a section?"
How should a section be added? There is no method. Can I just push to the items array a new Word.Section?
lelsteph

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27217244-4f3c-9d99-e373-b541dcd1e3e2
* Version Independent ID: b6cc00e8-265f-6c83-f149-7e739b6f8368
* Content: [Word.SectionCollection class - Office Add-ins]

[2022-04-05 12:40] lelsteph opened #1200 "DocCreated and what??"
How "A DocumentCreated object is a special Document object" can be usefull to anyone??

Once we have a DocumentCreated, how to get the context to be assigned to it and replace the current Word.Document?

lelsteph

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d1d8c75-ea38-aed8-73ba-fbf27bb6118d
* Version Independent I

[2022-04-05 16:05] AlexJerabek commented on #1200
Thanks for raising this issue @lelsteph.

@ElizabethSamuel-MSFT, could you please investigate documentation improvements for this API?

[2022-04-05 16:15] AlexJerabek commented on #1199
Hi @lelsteph,

I believe there isn't currently a way to add sections. The SectionCollection in the Document object is only for accessing Sections. You can edit the Body of a Section and add Paragraphs to that. The Paragraph samples in [Script Lab](https://docs.microsoft.com/en-us/office/dev/add-ins/overview/explore-with-script-lab?view=word-js-preview) demonstrate how to do that.

Is there a parti

[2022-04-05 17:45] lelsteph opened #1202 "Accessing firstPage and evenPages headers throw a general exception"
Trying to get the firstPage and evenPages header, I get a general exception. Why?
How are we supposed to get the data from the various headers and footers when we do not control the structure of the document we are reading?
lelsteph

[code]

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4e387738-e6fd-1a29-d7e4-

[2022-04-05 17:55] lelsteph commented on #1200
Would first be needed to understand what is the purpose of DocCreated...
For ex, reading a file
[code]
At this time I can access it using reportDoc, ex:
[code]

If I open it then it is no more accessible by any mean...
[code]

If I want to save the document, there is no "save as" function then I need to use the complex way describe [here](https://docs.microsoft.com/fr-fr/office/dev/add-ins/word/ge

[2022-04-05 20:29] Rick-Kirkham commented on #1202
@ElizabethSamuel-MSFT Please investigate. Might be more of an office.js issue than a documentation issue.
@lelsteph Please provide the entire `Word.run` method so we can see the code in context and try to reproduce.

[2022-04-06 05:50] lelsteph commented on #1202
Hello

Ideally I want to do this as I am forced to copy from one word doc to another doc (see other issues I raised).
This is a very complex function, I am just extracting.
[code]

Ideally I would also want to loop the section
[code]

But I can't as we cannot create sections....

Thanks for your help?

Stephane.

[2022-04-08 18:14] ElizabethSamuel-MSFT commented on #1199
See https://github.com/OfficeDev/office-js-docs-reference/issues/1202 for some detail re: scenario

[2022-04-08 21:54] ElizabethSamuel-MSFT commented on #1199
@lelsteph The API somewhat mimics the user's actions in the Word document UI. To create a section, you need to [insert a section break](https://support.microsoft.com/en-us/office/insert-a-section-break-eef20fd8-e38c-4ba6-a027-e503bdf8375c).

To do this using the API, you'd have to call [Body.insertBreak](https://docs.microsoft.com/en-us/javascript/api/word/word.body?view=word-js-preview#word-word-

[2022-04-08 22:46] ElizabethSamuel-MSFT commented on #1200
@lelsteph We've added this item to our backlog to clarify the use case in the documentation.

Thanks.

[2022-04-08 23:04] ElizabethSamuel-MSFT commented on #1202
@lelsteph Is it that you're expecting firstPage and evenPages but getHeader is throwing an error unexpectedly?

If you have no firstPage or evenPages headers, an error from getHeader could indicate that situation and you may need to handle that exception.

Also, are you planning for this to have no add-in UI (that is, there'll be no task pane for user interaction)?

Thanks.

[2022-04-09 06:21] lelsteph commented on #1202
Hello

Yes this is the case, there is no firstPage or evenPages headers in some situations. The key is that I am writing a generic module and depending of the context there may be firstPage or evenPages headers and several sections.
Actually I am generating reports, each reports start with a word template. So I open this word template, if I could only work on it there would not be any issue but fo

[2022-04-09 07:58] lelsteph commented on #1199
Hello

I was thinking about this and had it on my todo list.
But I cannot make it, can you please help to understand the correct structure I should use. Here is one of my tentatives.

[code]

Stephane.

[2022-04-11 14:48] bojanClarivate opened #1209 "Different return value of compareLocationWith()"
## Article URL

https://docs.microsoft.com/en-us/javascript/api/word/word.range?view=word-js-preview#word-word-range-comparelocationwith-member(1)
## Issue

 I am using compareLocationWith()  to see if a user has selected a content control created by my add-in.
I've found that there's a discrepancy between Word online and Word desktop when running the following code against the same content contro

[2022-04-11 16:54] AlexJerabek commented on #1209
Hi @bojanClarivate,

The discrepancy between the web and desktop versions seems unintentional. I'm going to transfer this issue to the product repo so members of the product team can take a look.

Also tagging @ElizabethSamuel-MSFT for awareness.

[2022-04-11 19:46] gummybuns opened #1210 "New OfficeJS url scheme returns a 404 for all of the old urls"
Hi OfficeJS Team,

All of your old links are throwing 404 now

For example:

Old:
https://docs.microsoft.com/en-us/office/dev/add-ins/reference/objectmodel/requirement-set-1.9/office.context.mailbox.item

New:
https://docs.microsoft.com/en-us/javascript/api/requirement-sets/outlook/requirement-set-1.9/office.context.mailbox.item?view=common-js-preview

This is a problem for u guys (and an inconven

[2022-04-11 19:47] AlexJerabek commented on #1210
Thanks for reporting this @gummybuns. I'll set up the redirects for this Outlook requirement sets.

[2022-04-11 19:48] gummybuns commented on #1210
Thank you for the fast response @AlexJerabek !

[2022-04-11 20:38] AlexJerabek commented on #1210
Hi @gummybuns,

The redirects should now be in place. Please let me know if you're still encountering problems.

Thanks!

[2022-04-11 20:38] #1210 closed

[2022-04-12 16:51] ElizabethSamuel-MSFT commented on #1202
Thanks for sharing. I'm checking with the product team about the expected behavior here and maybe we can add more code samples, especially for non-primary header/footer options.

Thanks.

[2022-04-12 16:58] lelsteph commented on #1202
Hello

Thank you.
Inserting break is not working. Can we have a way to set the Header & Footer settings? We need to be able to set "Different First Page", "Different Odd & Even Pages".
Same for Page Settings BTW: Size, margins...

And simply, overall we need to be able to use DocCreated, this would make everything so much simpler!

Stephane.

[2022-04-12 17:03] ElizabethSamuel-MSFT commented on #1202
Just for clarity - Is it that you're unable to insert a break successfully? Or is it that you can insert a break but that isn't helpful for your scenario?

Thanks.

[2022-04-12 17:05] lelsteph commented on #1202
I can insert a break in the document but not in the header & Footer to activate "Different First Page", "Different Odd & Even Pages". This does not make sense to have breaks in the Body of headers & footers to activate those functions.
Stephane.